
= link_to "Back to form edit", edit_form_path(@form)

%h2
  = @form.name
  Builder

%table{:width => "100%"}
  %tr
    %td{:valign => "top"}
      %fieldset
        %legend
          Sections
        %span{:id => 'section-info'}
        %ul{:id => "section-list", :class => "draggableMenu"}
          - for section in @form.sections
            %li{:id => "name_#{section.id}"}
              = section.name
              %small
                %br
                  = link_to_remote "Edit section name", :url => { :controller => "forms", :action => "short_section_edit", :id => section.id}
                  |
                  = show_groups_link "Show groups", section.groups
 
        - if @form.sections.blank?
          None.
          %br
          %br

        = link_to_remote "Add Section", :url => { :controller => "forms", :action => "short_section_new", :id => section.form_id}
        %div{:id => "section-mods"}
          / = render :partial => 'sections/short_form', :locals => { :section => Section.new, :form_id => @form.id }
    %td{:valign => "top"}
      %fieldset
        %legend
          Groups
        %div{ :id => "groups" }
          Select a section
        %br
        Add Group

  %tr
    %td{:valign => "top"}
      %fieldset
        %legend
          Questions
        Select a group.
    %td{:valign => "top"}
      %fieldset
        %legend
          Answer Set
        Select a question.

%h2
  = @form.name
  Preview


= sortable_element 'section-list', :update => 'section-info', :complete => visual_effect(:highlight, 'section-list'), :url => { :action => "section_sort", :id => @form}


