%h1 Editing form

= error_messages_for :form

%fieldset
  %legend
    Form Information

    - form_for(@form) do |f|

      = render :partial => 'form', :locals => { :f => f }
  
      %p
        %span{:id => "submitbutton" }
          %span{:class => "first-child"}
            = f.submit "Update"


    = link_to 'Show', @form 
    |
    = link_to 'Back', forms_path 

    %br

%fieldset
  %legend
    Form Builder

    
    - for section in @form.sections
      %table{:width => "100%"}
        %tr{:bgcolor => "#ededed"}
          %td
            Section:
            = section.name
        - for group in section.groups
          %tr
            %td
              Group: 
              = group.name
        %tr
          %td
            Add Group
            |
            Create New Group
 
    Add Section
        
    

  - if @form.sections.blank?
    None.


<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>