
%h1 Listing forms

%table
  %tr
    %th Name
    %th Disease
    %th Jurisdiction
    %th{:colspan => 3} Actions
  - for form in @forms
    %tr
      %td
        = h form.name
      %td
        = h form.disease.name
      %td
        = h form.jurisdiction.name
      %td
        = link_to 'Show', form
      %td
        = link_to 'Edit', edit_form_path(form)
      %td
        = link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New form', new_form_path