%tr
  - extra_tools = "" if extra_tools.nil?
  - patient = event.active_patient.active_primary_entity.person
  - jurisdiction = event.active_jurisdiction.active_secondary_entity.current_place
  %td.forminformation
    .patientname
      = patient.last_name
      = fml(", ", patient.first_name, "") unless patient.first_name.nil?
    %small
      Date:
      = event.event_onset_date
  %td
    = event.disease.disease.disease_name unless event.disease.nil? || event.disease.disease.nil?
  %td
    = jurisdiction.short_name
  %td
    = l event.event_status
    - unless event.event_queue_id.nil?
      %br
      Queue:&nbsp;
      = event.event_queue.queue_name
    .tools
      = state_controls(event, jurisdiction)
  %td
    .tools
      = jurisdiction_routing_control(event, jurisdiction)
    %p
    .tools
      = basic_morbidity_event_controls(event, jurisdiction) + extra_tools
