%tr.roll
  - extra_tools = "" if extra_tools.nil?
  - patient = event.active_patient.primary_entity.person
  %td.forminformation
    - patient_name(event) do
      = patient.last_name + (patient.first_name.blank? ? "" : fml(", ", patient.first_name, ""))
    %small
      Date:
      = event.event_onset_date
    .tools
      - with_show = with_show.nil? ? true : with_show
      - with_export_options = with_export_options.nil? ? false : with_export_options
      = basic_morbidity_event_controls(event, with_show, with_export_options) + extra_tools
  %td
    %b= event.disease.disease.disease_name unless event.disease.nil? || event.disease.disease.nil?
  %td
    %b
      = event.primary_jurisdiction.short_name
    %br
    .tools
      = jurisdiction_routing_control(event)
    %div{:id => 'secondary_jurisdictions'}
      %small
        = event.secondary_jurisdictions.map { |j| j.short_name }.join(", ")
        %br
  %td
    %b= event.current_state.description
    - unless event.event_queue_id.nil?
      %div{:id => 'queue_info'}
        %small
          Queue:&nbsp;
          %b= event.event_queue.queue_name
    - unless event.investigator_id.nil?
      %div{:id => 'investigator_info'}
        %small
          Investigator:&nbsp;
          %b= event.investigator.best_name
    .tools
      = state_controls(event)
