%tr
  - extra_tools = "" if extra_tools.nil?
  - patient = event.active_patient.primary_entity.person
  %td.forminformation
    .patientname
      = patient.last_name + (patient.first_name.blank? ? "" : fml(", ", patient.first_name, ""))
    %small
      Date:
      = event.event_onset_date
  %td
    = event.disease.disease.disease_name unless event.disease.nil? || event.disease.disease.nil?
  %td
    %b
      = event.primary_jurisdiction.short_name
    %br
    .tools
      = jurisdiction_routing_control(event)
    %div{:id => 'secondary_jurisdictions'}
      - for secondary_jurisdiction in event.secondary_jurisdictions
        %small
          = secondary_jurisdiction.short_name
          %br
  %td
    = Event.get_state_description(event.event_status)
    - unless event.event_queue_id.nil?
      %br
      %small
        Queue:&nbsp;
        = event.event_queue.queue_name
    .tools
      = state_controls(event)
  %td
    .tools
      - with_show = with_show.nil? ? true : with_show
      = basic_morbidity_event_controls(event, with_show) + extra_tools
