#export_options{:style => "display: none; width: 40%; position: relative"}
  %div{:style => 'background-color: #fff; border: solid 2px; padding: 15px; margin: 3px; border-color: #000'}
    %b Include these repeating aspects in the export:
    %br
    - form_tag(path, :method => :get) do
      -# When the export_options "window" is open we may be looking at a restricted view (in fact, that's all there is in the search screen)
      -# based on an earlier GET.  We need to capture the previous GETs paramaters (which are also in the current GET) and hide them in this
      -# form
      - params.delete(:controller)
      - params.delete(:commit)
      - params.delete(:action)
      - params.each_pair do |key, value|
        - if value.is_a?(Array)
          - value.each do |value_element|
            = hidden_field_tag("#{key}[]", value_element)
        - else
          = hidden_field_tag(key, value)
      %label.horiz
        = check_box_tag("export_options[]", "contacts")
        %span Contacts
      %label.horiz
        = check_box_tag("export_options[]", "places")
        %span Place Exposures
      %label.horiz
        = check_box_tag("export_options[]", "labs")
        %span Lab Results
      %label.vert
        = check_box_tag("export_options[]", "treatments")
        %span Treatments
      %b Additional Options:
      %br
      %label.horiz
        = check_box_tag("export_options[]", "use_short_names")
        %span Use Short Column Names
      -# This div is needed to keep IE from drawing a button as wide as the form.
      %div{:style => "position: absolute; bottom: 1em; right: 1em;"}
        = submit_tag("Export", :id => "export_btn")
    %p.vert
      %br
      = link_to_function "Close", "Effect.SlideUp('export_options')"
