#export_options{:style => "display: none; width: 40%; position: relative"}
  %div{:style => 'background-color: #fff; border: solid 2px; padding: 15px; margin: 3px; border-color: #000'}
    %b Include these repeating aspects in the export:
    %br
    - form_tag(path, :method => :get) do
      -# When the export_options "window" is open we may be looking at a restricted view (in fact, that's all there is in the search screen)
      -# based on an earlier GET.  We need to capture the previous GETs paramaters (which are also in the current GET) and hide them in this
      -# form
      - params.delete(:controller)
      - params.delete(:commit)
      - params.delete(:action)
      - params.each_pair do |key, value|
        - if value.is_a?(Array)
          - value.each do |value_element|
            = hidden_field_tag("#{key}[]", value_element)
        - else
          = hidden_field_tag(key, value)
      %label.horiz
        = check_box_tag("export_options[]", "contacts", false, :onclick => "$('contact_code_field_options').toggle();")
        %span Contacts
      %label.horiz
        = check_box_tag("export_options[]", "places", false, :onclick => "$('place_code_field_options').toggle();")
        %span Place Exposures
      %label.horiz
        = check_box_tag("export_options[]", "labs", false, :onclick => "$('lab_code_field_options').toggle();")
        %span Lab Results
      %label.vert
        = check_box_tag("export_options[]", "treatments", false, :onclick => "$('treatment_code_field_options').toggle();")
        %span Treatments
      %b Additional Options:
      %br
      %label.vert
        = check_box_tag("export_options[]", "use_short_names")
        %span Use Short Column Names
      %b Codes and Descriptions:      
      %div{:style => 'width: 25em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
        %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
          #morbidity_code_field_options
            %table
              %thead
                %tr
                  %th CMR Field
                  %th Description
                  %th Code
              %tbody
                - CsvField.morbidity_event_code_fields.each do |field|
                  %tr
                    %td= h(field.long_name)
                    %td= radio_button_tag field.long_name, 'use_description', true
                    %td= radio_button_tag field.long_name, 'use_code'
          #contact_code_field_options{ :style => "display: none;" }
            %table
              %thead
                %tr
                  %th Contact Field
                  %th Description
                  %th Code
              %tbody
                - CsvField.contact_event_code_fields.each do |field|
                  %tr
                    %td= h(field.long_name)
                    %td= radio_button_tag field.long_name, 'use_description', true
                    %td= radio_button_tag field.long_name, 'use_code'
          #place_code_field_options{ :style => "display: none;" }
            %table
              %thead
                %tr
                  %th Place Field
                  %th Description
                  %th Code
              %tbody
                - CsvField.place_event_code_fields.each do |field|
                  %tr
                    %td= h(field.long_name)
                    %td= radio_button_tag field.long_name, 'use_description', true
                    %td= radio_button_tag field.long_name, 'use_code'
          #lab_code_field_options{ :style => "display: none;" }
            %table
              %thead
                %tr
                  %th Lab Field
                  %th Description
                  %th Code
              %tbody
                - CsvField.lab_code_fields.each do |field|
                  %tr
                    %td= h(field.long_name)
                    %td= radio_button_tag field.long_name, 'use_description', true
                    %td= radio_button_tag field.long_name, 'use_code'
          #treatment_code_field_options{ :style => "display: none;" }
            %table
              %thead
                %tr
                  %th Treatment Field
                  %th Description
                  %th Code
              %tbody
                - CsvField.treatment_code_fields.each do |field|
                  %tr
                    %td= h(field.long_name)
                    %td= radio_button_tag field.long_name, 'use_description', true
                    %td= radio_button_tag field.long_name, 'use_code'
          = set_options_availability
      -# This div is needed to keep IE from drawing a button as wide as the form.
      %div{:style => "position: absolute; bottom: 1em; right: 1em;"}
        = submit_tag("Export", :id => "export_btn")
    %p.vert
      %br
      = link_to_function "Close", "Effect.SlideUp('export_options')"
