<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :name do %>
  <%= @event.active_patient.active_primary_entity.person.first_name -%> <%= @event.active_patient.active_primary_entity.person.last_name -%>
<% end %>

<% content_for :tools do %>
  <%= link_to 'Show', :action => 'show', :id => @event %> |
  <%= link_to 'Back to list', cmrs_path %>
<% end %>

<% content_for :watermark do %>
  morbidity event
<% end %>

<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<div id="follow-up-error"></div>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<%=  tab_toggler(@can_investigate) %>

<div id="cmr_tabs" class="yui-navset">
  <ul id='tabs' class="yui-nav">
    <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts_tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
    <% if @can_investigate %>
      <li><a href="#investigation_tab"><em>Investigation</em></a></li>
    <% end %>
  </ul>
  
  <% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
    <%  @event_form = event_form %>
    <div class="yui-content">
      <div id="demographic_tab">
        <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
          <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
            <%= render :partial => "entities/people/form", 
                       :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity, :event => @event, :rendering_pt => true } %>
          <% end %>
        <% end %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Demographics" } %>
      </div>
      <div id="clinical_tab">
        <p>
          <%= render :partial => 'events/disease_info_form', :locals => { :f => event_form } %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Clinical" } %>
        </p>
      </div>
      <div id="lab_info_tab">
        <p>
          <%= render :partial => 'events/lab_info_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Laboratory" } %>
        </p>
      </div>
      <div id="contacts_tab">
        <p>
          <%= render :partial => 'events/contacts_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Contacts" } %>
        </p>
      </div>
      <div id="epi_tab">
        <p>
          <%= render :partial => 'events/epidemiological_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Epidemiological" } %>
        </p>
      </div>
      <div id="reporting_tab">
        <p>
          <%= render :partial => 'events/reporting_agency', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Reporting" } %>
        </p>
      </div>
      <div id="administrative_tab">
        <p>
          <%= render :partial => 'events/cmr_info_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Administrative" } %>
        </p>
      </div>
    
      <% if @can_investigate %>
        <div id="investigation_tab"><p><%= render :partial => 'events/disease_investigation_form', :locals => {:f => event_form} %></p></div>
      <% end %>
            
    </div>
    <%= event_form.submit "Update" %>
  <% end %>
      
</div>
