<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :name do %>
  New CMR
<% end %>

<% content_for :tools do %>
  <%= link_to 'Back to list', cmrs_path %>
<% end %>

<% content_for :watermark do %>
  morbidity event
<% end %>

<%# Debt: DRY up the new and edit views.  Too much repetition %>

<%= error_messages_for :object => @event %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script> 

<%=  tab_toggler(false) %>

<div id="cmr_tabs" class="yui-navset">
  <ul class="yui-nav" id='tabs'>
    <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts_tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  </ul>

<% form_for(@event, :url => cmrs_path, :builder => ExtendedFormBuilder) do |event_form| %>
  <%  @event_form = event_form %>

  <%# We put this here to keep jurisdiction from being changed in edit mode %>
  <%- jurisdictions = User.current_user.jurisdictions_for_privilege(:create_event) %>
  <% content_for :jurisdiction_selection do %>
    <% event_form.fields_for(:active_jurisdiction, @event.active_jurisdiction, :builder => ExtendedFormBuilder) do |j| %>
      <% core_element :secondary_entity_id, j, :horiz do -%>
        <%= j.label(:secondary_entity_id, "Jurisdiction responsible for investigation") %>
        <%= j.collection_select(:secondary_entity_id, jurisdictions, :entity_id, :name) %> 
      <% end -%>
    <% end %>
  <% end %>

  <div class="yui-content">
    <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
      <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <div id="demographic_tab">
          <%= render :partial => "entities/people/form", 
            :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity, :event => @event, :rendering_pt => true } %>
        </div>
      <% end %>
    <% end %>
    <div id="clinical_tab"><%= render :partial => 'events/disease_info_form', :locals => { :f => event_form } %></div>
    <div id="lab_info_tab"><%= render :partial => 'events/lab_info_form', :locals => {:f => event_form} %></div>
    <div id="contacts_tab"><%= render :partial => 'events/contacts_form', :locals => {:f => event_form} %></div>
    <div id="epi_tab"><%= render :partial => 'events/epidemiological_form', :locals => {:f => event_form} %></div>
    <div id="reporting_tab"><%= render :partial => 'events/reporting_agency', :locals => {:f => event_form} %></div>
    <div id="administrative_tab"><%= render :partial => 'events/cmr_info_form', :locals => {:f => event_form} %></div>
    <%= event_form.submit "Create" %>
  </div>
<% end %>
</div>

<br />

