-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

= stylesheet_link_tag 'print', :media => 'all'

.header
  .left
    %h1 Utah Public Health
    %h2= @event.jurisdiction.secondary_entity.place.name unless @event.jurisdiction.nil?
    %h3 Address of Local Health Department
    %h3
      %i Phone: (801) xxx-xxxx 
    %h3
      %i Confidential Fax: (801) xxx-xxxx
    %h3
      %i= Date.today.strftime("%B %d, %Y")
  .right
    = image_tag("logo.png")
    
.sub-header
  .left
    = (@event.disease.nil? || @event.disease.disease.nil?) ? "Disease not specified" : @event.disease.disease.disease_name
  .right
    Confidential Case Report

- form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form|

  #demographics
    - patient_entity = @event.interested_party.person_entity
    = render :partial => 'events/demographic_show_print.html.haml', :locals => { :entity_data => patient_entity, :event_form => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Demographics" }

  .brak#clinical
    = render :partial => 'events/clinical_show_print.html.haml', :locals => { :entity_data => patient_entity, :event_form => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Clinical" }

  .brak#laboratory
    = render :partial => 'events/laboratory_show_print.html.haml'
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Laboratory" }

  .brak#contacts
    = render :partial => 'events/contacts_show_print.html.haml', :locals => { :f => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Contacts" }

  .brak#epidemiological
    = render :partial => 'events/epidemiological_show_print.html.haml', :locals => { :event_form => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Epidemiological" }

  #reporting
    = render :partial => 'events/reporting_show_print.html.haml', :locals => { :event_form => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Reporting" }

  #administrative
    = render :partial => 'events/administrative_show_print.html.haml', :locals => { :event_form => event_form }
    = render :partial => 'events/core_tab_supplemental_print.html.haml', :locals => { :f => event_form, :tab => "Administrative" }

  .brak#investigation
    = render :partial => 'events/investigation_show_print.html.haml'

  -unless params[:note].nil?
    .brak#notes
      = render :partial => 'events/notes_show_print.html.haml'
