= stylesheet_link_tag 'print'

.printable
  .header
    .left
      %h1 Utah Public Health
      %h2= @event.jurisdiction.active_secondary_entity.place.name unless @event.jurisdiction.nil?
      %h2 Address of Local Health Department
      %h3
        %i Phone: (801) xxx-xxxx &nbsp; &nbsp; Confidential Fax: (801) xxx-xxxx
      %h3
        %i= Date.today.strftime("%B %d, %Y")
    .right
      = image_tag("udoh_logo.png")

  .sub-header
    .left
      = (@event.disease.nil? || @event.disease.disease.nil?) ? "Disease not specified" : @event.disease.disease.disease_name
    .right
      Confidential Case Report

  #demographics
    = render :partial => 'events/demographic_show_print.html.haml'

  #clinical
    = render :partial => 'events/clinical_show_print.html.haml'

  #laboratory
    = render :partial => 'events/laboratory_show_print.html.haml'

  #contacts
    = render :partial => 'events/contacts_show_print.html.haml'

  #epidemiological
    = render :partial => 'events/epidemiological_show_print.html.haml'

  #reporting
    = render :partial => 'events/reporting_show_print.html.haml'

  #administrative
    = render :partial => 'events/administrative_show_print.html.haml'

  #investigation
    = render :partial => 'events/investigation_show_print.html.haml'
