<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :watermark do %>
  morbidity event
<% end %>

<% content_for :name do %>
  <%= @event.active_patient.active_primary_entity.person.first_name -%> <%= @event.active_patient.active_primary_entity.person.last_name -%>
<% end %>

<%- jurisdiction = @event.active_jurisdiction.active_secondary_entity.current_place %>
<% content_for :tools do %>
  <%= basic_morbidity_event_controls(@event, jurisdiction) %> |
  <%= link_to 'Back to list of CMRs', cmrs_path %>
  <br />
  Assigned Jurisdiction: <%= jurisdiction.name %>
<% end %>

<% content_for :tools_two do %>
  <%= button_to("Create New Morbidity Report", {:action => "new"}, { :method => :get }) %>
  <br />
  <%= routing_controls(@event, jurisdiction) %>
<% end %>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<%= error_messages_for :object => @event %>

<%=  tab_toggler(true) %>

<div id="cmr_tabs" class="yui-navset">
<ul class="yui-nav" id="tabs">
  <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
  <li><a href="#clinical_tab"><em>Clinical</em></a></li>
  <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
  <li><a href="#contacts_tab"><em>Contacts</em></a></li>
  <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
  <li><a href="#reporting_tab"><em>Reporting</em></a></li>
  <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  <li><a href="#investigation_tab"><em>Investigation</em></a></li>
</ul>

<% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>

<div class="yui-content">
  
  <div id="demographic_tab">
    <% patient_entity = @event.active_patient.active_primary_entity %>
    <%= render :partial => "entities/people/show", :locals => { :entity_data => patient_entity, :event_form => event_form } %>
  </div>
  
  <div id="clinical_tab">
    <%= render :partial => "events/clinical_show_tab", :locals => { :entity_data => patient_entity, :event_form => event_form }%>
  </div>
  
  <div id="lab_info_tab">
    <%= render :partial => "events/lab_info_show_tab" %>
  </div>
  
  <div id="contacts_tab">
    <%= render :partial => "events/contact_show_tab" %>
  </div>
  
  <div id="epi_tab">
    <%= render :partial => "events/epidemiological_show_tab", :locals => { :event_form => event_form }%>
  </div>
  
  <div id="reporting_tab">
    <fieldset>
      <legend>Reporting Information</legend>
      <table>
        <tr>
          <td><span class="label">Name of reporter:</span></td>
          <td><%= @event.reporter.active_secondary_entity.person.first_name unless @event.reporter.nil? -%>
          <%= @event.reporter.active_secondary_entity.person.last_name unless @event.reporter.nil? %></td>
          <td><span class="label">Reporting agency:</span></td>
          <td><%= @event.reporting_agency.active_secondary_entity.place.name unless @event.reporting_agency.nil?%></td>
        </tr>
        <tr>
          <td><span class="label">Reporter phone number:</span></td>
          <td><% p = @event.reporter.active_secondary_entity.telephone unless @event.reporter.nil? %>
            <% if not p.nil? %>
              <%= fml " (", p.area_code, ") " if p.area_code -%>
              <%= phone_number(p.phone_number) -%>
              <%= fml " Ext. ", p.extension, "" if p.extension -%>
            <% end %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><span class="label">Date results reported to Clinician:</span></td>
          <td><%= @event.results_reported_to_clinician_date %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><span class="label">Date first reported to public health:</span></td>
          <td><%= @event.first_reported_PH_date %></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </fieldset>
  </div>
  
  <div id="administrative_tab">
    <fieldset>
      <legend>Administrative Information</legend>  
      <table cellpadding="2">
        <tr>
          <td><span class="label">Record number:</span></td>
          <td><%= @event.record_number %></td>
          <td><span class="label">Date record created:</span></td>
          <td><%= @event.event_onset_date %></td>
        </tr>  
        <tr>
          <td><span class="label">MMWR year:</span></td>
          <td><%= @event.MMWR_year %></td>
          <td><span class="label">MMWR week:</span></td>
          <td><%= @event.MMWR_week %></td>
        </tr>
        
        <tr>
          <td><span class="label">LHD case status:</span></td>
          <td><%= l @event.lhd_case_status %></td>
          <td><span class="label">UDOH case status:</span></td>
          <td><%= l @event.udoh_case_status %></td>
        </tr>
        <tr>
          <td><span class="label">Outbreak associated:</span></td>
          <td><%= l @event.outbreak_associated %></td>
          <td><span class="label">Outbreak name:</span></td>
          <td><%= @event.outbreak_name %></td>
        </tr>
        <td><span class="label">Jurisdiction responsible for investigation:</span></td>
        <td><%= @event.jurisdiction.active_secondary_entity.place.name unless @event.jurisdiction.nil?%></td>
        <td><span class="label">Event name:</span></td>
        <td><%= @event.event_name %></td>  
        <tr>
          <td><span class="label">Event status:</span></td>
          <td><%= l @event.event_status %></td>
          <td><span class="label">Date investigation started:</span></td>
          <td><%= @event.investigation_started_date %></td>
        </tr>
          <td><span class="label">Date invesitgation completed:</span></td>
          <td><%= @event.investigation_completed_LHD_date %></td>
          <td><span class="label">Date review completed by UDOH:</span></td>
          <td><%= @event.review_completed_UDOH_date %></td>
        </tr>
      </table>
    </fieldset>
  </div>
  
  <div id="investigation_tab">
    <fieldset>
      <legend>Investigative Information</legend>  
      <table cellpadding="2">
        <% for answer in @event.answers %>
          <tr>
            <td><span class="label"><%= answer.question.question_text -%></span></td>
            <td><%= answer.text_answer -%></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>

<% end %>
