<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :watermark do %>
  morbidity event
<% end %>

<% content_for :name do %>
  <%= @event.active_patient.active_primary_entity.person.first_name -%> <%= @event.active_patient.active_primary_entity.person.last_name -%>
<% end %>

<% content_for :tools_two do %>
  <%= button_to("Create New Morbidity Report", {:action => "new"}, { :method => :get }) %>
<% end %>

<%- jurisdiction = @event.active_jurisdiction.active_secondary_entity.current_place %>
<% content_for :tools do %>
  <div style='float: left; margin-top: 5px'>
    <%= basic_morbidity_event_controls(@event, jurisdiction) %> |
    <%= link_to 'Back to list of CMRs', cmrs_path %>
  </div>
<% end %>

<% content_for :tools_three do %>
  <div style='float: right'>
    <div class='tools' style='float: left; margin-right: 2em'><%= jurisdiction_routing_control(@event, jurisdiction) %></div>
    <div style='float: left; margin-top: 2px'><%= l @event.event_status %>:</div>
    <div class='tools' style='float: left'><%= state_controls(@event, jurisdiction) %><%= investigator_routing_control(@event, jurisdiction) %></div>
  </div>
<% end %>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<%= error_messages_for :object => @event %>

<%=  tab_toggler(true) %>

<div id="cmr_tabs" class="yui-navset">
<ul class="yui-nav" id="tabs">
  <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
  <li><a href="#clinical_tab"><em>Clinical</em></a></li>
  <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
  <li><a href="#contacts_tab"><em>Contacts</em></a></li>
  <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
  <li><a href="#reporting_tab"><em>Reporting</em></a></li>
  <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  <li><a href="#investigation_tab"><em>Investigation</em></a></li>
</ul>

<% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>

<div class="yui-content">
  
  <div id="demographic_tab">
    <% patient_entity = @event.active_patient.active_primary_entity %>
    <%= render :partial => "entities/people/show", :locals => { :entity_data => patient_entity, :event_form => event_form } %>
  </div>
  
  <div id="clinical_tab">
    <%= render :partial => "events/clinical_show_tab", :locals => { :entity_data => patient_entity, :event_form => event_form }%>
  </div>
  
  <div id="lab_info_tab">
    <%= render :partial => "events/lab_info_show_tab" %>
  </div>
  
  <div id="contacts_tab">
    <%= render :partial => "events/contact_show_tab" %>
  </div>
  
  <div id="epi_tab">
    <%= render :partial => "events/epidemiological_show_tab", :locals => { :event_form => event_form }%>
  </div>
  
  <div id="reporting_tab">
    <fieldset>
      <legend>Reporting Information</legend>
      <fieldset class="form">
        <legend>Reporter</legend>
        <span class="horiz">
          <label>Name</label>
          <%= @event.reporter.active_secondary_entity.person.first_name unless @event.reporter.nil? -%>
          <%= @event.reporter.active_secondary_entity.person.last_name unless @event.reporter.nil? %>
        </span>
        <span class="horiz">
          <label>Telephone</label>
          <%= @event.reporter.active_secondary_entity.telephone.simple_format if @event.reporter && @event.reporter.active_secondary_entity.telephone %>
        </span>
      </fieldset>
      <fieldset class="form">
        <legend>Reporting Agency</legend>        
        <span class="horiz">
          <label>Agency</label>          
          <%= @event.reporting_agency.active_secondary_entity.place.name unless @event.reporting_agency.nil?%>
        </span>
        <% core_element_show :results_reported_to_clinician_date, event_form, :horiz do -%>
          <%= event_form.label(:results_reported_to_clinician_date) %>
          <%= @event.results_reported_to_clinician_date %>
        <% end -%>
        <% core_element_show :first_reported_PH_date, event_form, :horiz do -%>
          <%= event_form.label(:first_reported_PH_date, 'Date first reported to public health') %>
          <%= @event.first_reported_PH_date %>
        <% end -%>
      </fieldset>
    </fieldset>
  </div>
  
  <div id="administrative_tab">
    <fieldset>
      <legend>Administrative Information</legend>  
      <span class="horiz">
        <label>Record number</label>
        <%= @event.record_number %>
      </span>
      <span class="vert">
        <label>Date record created</label>
        <%= @event.event_onset_date %>
      </span>
      <span class="horiz">
        <label>MMWR year</label>
        <%= @event.MMWR_year %>
      </span>
      <span class="vert">
        <label>MMWR week</label>
        <%= @event.MMWR_week %>
      </span>
      
      <fieldset class="form">
      <legend>Case / Outbreak</legend>
        <% core_element_show :lhd_case_status_id, event_form, :horiz do -%>
          <%= event_form.label(:lhd_case_status_id, 'LHD case status') %>
          <%= l @event.lhd_case_status %>
        <% end -%>
        <% core_element_show :udoh_case_status_id, event_form, :vert do -%>
          <%= event_form.label(:udoh_case_status_id, 'UDOH case status') %>
          <%= l @event.udoh_case_status %>
        <% end -%>
        <% core_element_show :outbreak_associated_id, event_form, :horiz do -%>
          <%= event_form.label :outbreak_associated_id, 'Outbreak associated' %>
          <%= l @event.outbreak_associated %>
        <% end -%>
        <% core_element_show :outbreak_name, event_form, :vert do -%>
          <%= event_form.label :outbreak_name %>
          <%= @event.outbreak_name %>
        <% end -%>
      </fieldset>

      <fieldset class="form">
        <legend>Investigation</legend>
        <% event_form.fields_for(:active_jurisdiction, @event.active_jurisdiction, :builder => ExtendedFormBuilder) do |j| -%>
          <% core_element_show :secondary_entity_id, j, :horiz do -%>
            <%= j.label(:secondary_entity_id, 'Jurisdiction responsible for investigation') %>
            <%= @event.jurisdiction.active_secondary_entity.place.name unless @event.jurisdiction.nil?%>
          <% end -%>
        <% end -%>
        <% core_element_show :event_status_id, event_form, :horiz do -%>
          <%= event_form.label :event_status_id, 'Event status' %>
          <%= l @event.event_status %>
        <% end -%>
        <% core_element_show :investigation_started_date, event_form, :horiz do -%>
          <%= event_form.label :investigation_started_date, 'Date investigation started' %>
          <%= @event.investigation_started_date %>
        <% end -%>
        <span class="horiz">
          <label>Date invesitgation completed</label>
          <%= @event.investigation_completed_LHD_date %>
        </span>
      </fieldset>

      <fieldset class="form">
        <legend>Auditing</legend>
        <span class="horiz">
          <label>Event name</label>
          <%= @event.event_name %>
        </span>
        <span class="horiz">
          <label>Date review completed by UDOH</label>
          <%= @event.review_completed_UDOH_date %>
        </span>
      </fieldset>
    </fieldset>
  </div>
  
  <div id="investigation_tab">
    <fieldset>
      <legend>Investigative Information</legend>  
      <table cellpadding="2">
        <% for answer in @event.answers %>
          <tr>
            <td><span class="label"><%= answer.question.question_text -%></span></td>
            <td><%= answer.text_answer -%></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>

<% end %>
