<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>UT-NEDSS</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'main' %>

  <%= javascript_include_tag :defaults %>
  <%= calendar_date_select_includes %>

  <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.4.1/build/reset-fonts-grids/reset-fonts-grids.css"> -->

</head>
<body>

<div id=”doc”> <!--doc, doc2, doc3, or doc4; controls overall pg width-->
<div class="hd" id=”hd”><!--header / masthead -->

<h3><span class="title"><%= link_to '<i>UT-NEDSS</i>&nbsp;Utah - National Electronic Disease Surveillance System', home_path %></span></h3>

</div>
<div class="bd" id=”bd”><!--body-->

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<p><%= link_to "Home", {:action => "index", :controller => "dashboard"} %></p>
</div>
<div id=”ft”><!--footer--></div>
</div>

</body>
</html>
