
%div{:id => "new-value-set-form"}

  = error_messages_for :value_set_element

  - remote_form_for(value_set_element, :html => {:name => 'value-set-element-new-form'}) do |f|

    = render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Create"
      &nbsp;&nbsp;
      = link_to_function "Close", "$('value-set-mods-#{@value_set_element.parent_element_id}').down('form').reset(); Effect.BlindUp($('value-set-mods-#{@value_set_element.parent_element_id}'))"
