
%div{ :class => "value-element" }

  - fields_for_value_element(value_element)  do |vf|
    = vf.label(:name, "Value")
    = vf.text_field :name
    = vf.label(:is_active, "Is active?")
    = vf.radio_button :is_active, "true"
    Yes
    = vf.radio_button :is_active, "false"
    No

    %br
    %br
    = link_to_function "Remove", "$(this).up('.value-element').remove()"