<h1>Listing <%= @type %> entities</h1>
<table>
<% if @type == 'all' %>
  <%= render :partial => "#{@type.pluralize}/index.html.erb" %>
<% else %>
  <% for entity in @entities %>
    <tr>
      <%= render :partial => "#{@type.pluralize}/index.html.erb", :locals => { :entity => entity } %>
      <td><%= link_to 'Show', entity %></td>
      <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
      <td><%= link_to 'Delete', entity, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  
  <br />

  <% for type in @valid_types %>
    <%= link_to 'New ' + type.capitalize, new_entity_path(:type => type) %> | 
  <% end %>

  <br />

  <% for type in @valid_types %>
    <%= link_to 'Export '+type.capitalize.pluralize+' to CSV', url_for(:action => 'index', :type => type, :format => 'csv') %> |
  <% end %>
  <%= render :partial => 'entity_list', :locals => {:is_index => true} %>
<% end %>
