- content_for :title do
  User Admin

- content_for :name do
  Users

- content_for :tools do
  = link_to 'New user', new_user_path

- content_for :tools_two do
  = button_to("Create new user", {:action => "new"}, { :method => :get })


%table{ :class => 'tabular' }
  %tr
    %th
      UID
    %th
      User name
    %th
      Full name

  - for user in @users
    %tr
      %td
        = user.uid
      %td
        = user.user_name
      %td
        = user.first_name
        = user.last_name
      %td
        = link_to('Show', user)
        = link_to('Edit', edit_user_path(user))
        -# = link_to('Delete', user, :confirm => 'Are you sure?', :method => :delete)

%br
