
%h1 Show User

%fieldset
  %legend
    User

  %table
    %tr
      %td
        %b UID
      %td
        = @user.uid
    %tr
      %td
        %b User name
      %td
        = @user.user_name
    %tr
      %td
        %b Given name
      %td
        = @user.given_name
    %tr
      %td
        %b Name
      %td
        = "#{@user.first_name} #{@user.last_name}"
    %tr
      %td
        %b Initials
      %td
        = @user.initials

= render :partial => 'roles'

= link_to 'Edit', edit_user_path(@user)
= link_to 'Back', users_path

