<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<fieldset>
  <%= render :partial => 'events/people/person_legend' %>
  <div id='person_form'>
    
    <%- event = event.nil? ? nil : event %>
    
    <%= error_messages_for :object => entity_data.person %>
    <% f.fields_for(:active_primary_entity, @event.active_patient.primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
      <%= render :partial => 'events/people/name_form', :locals => {:f => f, :fb_form => current_patient, :event => event, :entity_data => entity_data} %>
      <%= render :partial => 'events/people/address_form', :locals => {:f => f, :fb_form => current_patient, :event => event, :entity_data => entity_data} %>
      <%= render :partial => 'events/people/age_form', :locals => {:f => f, :fb_form => current_patient, :event => event, :entity_data => entity_data} %>
      <%= render :partial => 'events/people/phones_form', :locals => {:f => f, :event => event, :entity_data => entity_data, :namespace => 'active_patient'} %>
      <%= render :partial => 'events/people/demographics_form', :locals => {:f => f, :fb_form => current_patient, :event => event, :entity_data => entity_data} %>
    <% end %>
    
  </div>
</fieldset>
