!!! XML
= xml_for morbidity_event, "xmlns:atom" => "http://www.w3.org/2005/Atom" do |morb| 
  - if morbidity_event.new_record? 
    = morb.link_to cmrs_url, :rel => :index 
    = morb.link_to new_cmr_url, :rel => :self 
  - else 
    = morb.link_to cmr_url(morbidity_event), :rel => :self 
    = morb.link_to edit_cmr_url(morbidity_event), :rel => :edit 
  = morb.link_to index_code_url(:code_name => 'imported'), :rel => :imported
  = morb.link_to index_code_url(:code_name => 'case'),   :rel => :case
  = morb.link_to index_code_url(:code_name => 'yesno'),  :rel => :yesno
  = morb.link_to index_code_url(:code_name => 'state'),  :rel => :state
  = morb.link_to index_code_url(:code_name => 'county'), :rel => :county
  = morb.link_to diseases_url, :rel => :disease
  = morb.link_to places_url(:name => '', :place_type => 'J'), :rel => :jurisdiction

  - morb.fields.each do |field|
    = morb.render *field
  = morb.xml_for :address do |address|
    - address.fields.each do |field|
      = address.render *field

  = morb.xml_for :disease_event do |disease_event|
    - disease_event.fields.each do |field|
      = disease_event.render *field

  = morb.xml_for :jurisdiction do |j|
    - j.fields.each do |field|
      = j.render *field

  = morb.xml_for :interested_party do |patient|
    = patient.xml_for :person_entity do |pe|
      = pe.link_to index_code_url(:code_name => 'race'), :rel => 'Race' 
      = pe.render :race_ids
      = pe.xml_for :person do |person|
        = person.render :last_name
