!!! XML
= xml_for morbidity_event, "xmlns:atom" => "http://www.w3.org/2005/Atom" do |morb|
  - if morbidity_event.new_record?
    = morb.link_to cmrs_url, :rel => :index
    = morb.link_to new_cmr_url, :rel => :self
  - else
    = morb.link_to cmr_url(morbidity_event), :rel => :self
    = morb.link_to edit_cmr_url(morbidity_event), :rel => :edit
  = morb.link_to index_code_url(:code_name => 'imported'), :rel => :imported
  = morb.link_to index_code_url(:code_name => 'case'),   :rel => :case
  = morb.link_to index_code_url(:code_name => 'yesno'),  :rel => :yesno
  = morb.link_to index_code_url(:code_name => 'state'),  :rel => :state
  = morb.link_to index_code_url(:code_name => 'county'), :rel => :county
  = morb.link_to index_code_url(:code_name => 'ethnicity'), :rel => :ethnicity
  = morb.link_to index_code_url(:code_name => 'race'), :rel => :race
  = morb.link_to index_code_url(:code_name => 'gender'), :rel => :gender
  = morb.link_to index_code_url(:code_name => 'language'), :rel => :language
  = morb.link_to index_code_url(:code_name => 'telephonelocationtype'), :rel => :telephone_location_type
  = morb.link_to index_code_url(:code_name => 'specimen'), :rel => :specimen_source
  = morb.link_to index_code_url(:code_name => 'test_status'), :rel => :test_status
  = morb.link_to index_code_url(:code_name => 'test_result'), :rel => :test_result
  -# TODO: place_type code resource doesn't work yet.
  = morb.link_to index_code_url(:code_name => 'placetype'), :rel => :place_type
  = morb.link_to diseases_url, :rel => :disease
  = morb.link_to places_url(:name => '', :place_type => 'J'), :rel => :jurisdiction
  = morb.link_to edit_jurisdiction_cmr_url(morbidity_event),  :rel => :edit_jurisdiction unless morbidity_event.new_record?
  = morb.link_to places_url(:name => '', :place_type => 'H'), :rel => :hospitalization
  = morb.link_to places_url(:name => '', :place_type => 'L'), :rel => :lab
  = morb.link_to places_url(:name => '', :place_type => 'DiagnosticFacility'), :rel => :diagnostic_facility
  - if morbidity_event.disease?
    = morb.link_to disease_treatments_url(morbidity_event.disease_event.disease), :rel => :treatment
  - else
    = morb.link_to treatments_url, :rel => :treatment
  = morb.link_to common_test_types_url, :rel => :test_type
  = morb.link_to organisms_url, :rel => :organism
  = morb.link_to new_event_task_url(morbidity_event), :rel => :new_task

  - morb.fields.each do |field|
    = morb.render *field
  = morb.xml_for :address do |address|
    - address.fields.each do |field|
      = address.render *field

  = morb.xml_for :disease_event do |disease_event|
    - disease_event.fields.each do |field|
      = disease_event.render *field

  = morb.xml_for :jurisdiction do |j|
    - j.fields.each do |field|
      = j.render *field

  = morb.xml_for :interested_party do |patient|
    = patient.xml_for :risk_factor do |rf|
      - rf.fields.each do |field|
        = rf.render *field
    = patient.xml_for :person_entity do |pe|
      - pe.fields.each do |field|
        = pe.render *field
      = pe.xml_for :telephones do |telephones|
        - telephones.fields.each do |field|
          = telephones.render *field
      = pe.xml_for :email_addresses do |email_addresses|
        - email_addresses.fields.each do |field|
          = email_addresses.render *field
      = pe.xml_for :person do |person|
        - person.fields.each do |field|
          = person.render *field
    = patient.xml_for :treatments do |treatments|
      - treatments.fields.each do |field|
        =treatments.render *field

  = morb.xml_for :clinicians do |clinicians|
    = clinicians.xml_for :person_entity do |pe|
      = pe.xml_for :person do |person|
        = person.render :first_name
        = person.render :middle_name
        = person.render :last_name
        = person.render :person_type
      = pe.xml_for :telephones do |telephones|
        - telephones.fields.each do |field|
          = telephones.render *field

  = morb.xml_for :reporter do |reporter|
    = reporter.xml_for :person_entity do |pe|
      = pe.xml_for :person do |person|
        = person.render :first_name
        = person.render :last_name
      = pe.xml_for :telephones do |telephones|
        - telephones.fields.each do |field|
          = telephones.render *field

  = morb.xml_for :reporting_agency do |agency|
    = agency.xml_for :place_entity do |pe|
      = pe.xml_for :place do |place|
        - place.fields.each do |field|
          = place.render *field
      = pe.xml_for :telephones do |telephones|
        - telephones.fields.each do |field|
          = telephones.render *field

  = morb.xml_for :notes do |notes|
    - notes.fields.each do |field|
      = notes.render *field

  = morb.xml_for :hospitalization_facilities do |hf|
    - hf.fields.each do |field|
      = hf.render *field
    = hf.xml_for :hospitals_participation do |hp|
      - hp.fields.each do |field|
        = hp.render *field

  = morb.xml_for :diagnostic_facilities do |df|
    - df.fields.each do |field|
      = df.render *field
    = df.xml_for :place_entity do |pe|
      = pe.xml_for :place do |place|
        - place.fields.each do |field|
          = place.render *field

  = morb.xml_for :labs do |labs|
    - labs.fields.each do |field|
      = labs.render *field
    = labs.xml_for :lab_results do |results|
      - results.fields.each do |field|
        = results.render *field

  = morb.xml_for :place_child_events do |place_events|
    = place_events.xml_for :participations_place do |participation|
      - participation.fields.each do |field|
        = participation.render *field
    = place_events.xml_for :interested_place do |ip|
      = ip.xml_for :place_entity do |pe|
        = pe.xml_for :place do |place|
          - place.fields.each do |field|
            = place.render *field
        = pe.xml_for :canonical_address do |ca|
          - ca.fields.each do |field|
            = ca.render *field

