%h3 Before creating a new morbidity event, please search for the person in question.
- form_tag event_search_cmrs_path, :method => :get do
  %span.horiz
    = label_tag :last_name
    = text_field_tag :last_name, params[:last_name]

  %span.horiz
    = label_tag :first_name
    = text_field_tag :first_name, params[:first_name]

  %span.horiz
    = label_tag :birth_date
    = text_field_tag :birth_date, params[:birth_date]

  %span.horiz
    = label_tag "&nbsp;"
    = submit_tag "Search"

  %span.vert
    = label_tag "&nbsp;"
    = labeled_check_box_tag :use_starts_with_search

  %span.horiz
    = label_tag "&nbsp;"
    = labeled_check_box_tag :search_people_entities

  %span.vert-break

%br
- if defined? @people
  -if @people.empty?
    %b No results
  -else
    %table.list
      %tr
        %th.forminformation
          People
        %th
      - @people.each do |person|
        %tr.roll
          %td.forminformation
            %fieldset
              - fields_for(person, :builder => ExtendedFormBuilder) do |f|
                %div.data_person
                  %span.data_person_id{:style => 'display: none'}=h(person.person_entity.id)
                  -f.fields_for(:person, :builder => ExtendedFormBuilder) do |name_form|
                    %div.data_name
                      %div.formname
                        %b
                          %span.data_first_name=h(person.first_name)
                          %span.data_middle_name=h(person.middle_name)
                          %span.data_last_name=h(person.last_name)
                  = render :partial => 'people/address_show', :locals => {:address => person.person_entity.canonical_address, :f => f}
                  = render :partial => 'people/age_show', :locals => {:person => person, :f => f, :event => nil}
          %td
            .tools{:style => "position: absolute; right: 25px;"}
              = link_to 'Edit', edit_person_path(person.person_entity)
              |
              = link_to 'Show', person_path(person.person_entity)
              |
              = link_to('Create and edit CMR using this person', cmrs_path(:from_person => person.person_entity, :return => true), :method => :post) if User.current_user.is_entitled_to?(:create_event)
    %br
    = will_paginate @people
- elsif defined? @events
  -if @events.empty?
    %b No results
  -else
    %table.list
      %tr
        %th Name
        %th Birth Date
        %th Gender
        %th Event Type
        %th Jurisdiction
        %th Created Date
        %th Disease
        %th Actions
      - previous_entity_id = nil
      - for event in @events do
        - if (event['deleted_at'].nil?)
          - result_class = 'search-active tabular'
        - else
          - result_class = 'search-inactive tabular'
        - current_entity_id = event['entity_id']
        - if previous_entity_id != current_entity_id
          - output_name = true
          - previous_entity_id = current_entity_id
        - else
          - output_name = false
        
        - jurisdictions = pg_array(event['secondary_jurisdictions']) << event['jurisdiction_entity_id']
        - can_update = User.current_user.is_entitled_to_in?(:update_event, jurisdictions)
        - can_view   = User.current_user.is_entitled_to_in?(:view_event,   jurisdictions)
        %tr{:class => result_class, :id => "event_#{event['id']}"}
          %td 
            = "#{h(event['last_name'])}, #{h(event['first_name'])}" if output_name
          %td
            = h(event['birth_date']) if output_name
          %td
            = h(event['birth_gender']) if output_name
          %td= h(event['event_type'].underscore.humanize)
          %td= h(event['jurisdiction_short_name'])
          %td= h(event['event_onset_date'])
          - if can_update || can_view
            %td= h(event['disease_name'])
          - else
            %td Private
          - edit_path = event['event_type'] == 'MorbidityEvent' ? edit_cmr_path(event) : edit_contact_event_path(event)
          - view_path = event['event_type'] == 'MorbidityEvent' ? cmr_path(event) : contact_event_path(event)
          %td 
            - if can_update
              = link_to("Edit", edit_path)
              |
            = link_to "Show", view_path
            |
            = link_to('Create and edit CMR using this person', cmrs_path(:from_event => event, :return => true), :method => :post) if User.current_user.is_entitled_to?(:create_event)
    = will_paginate @events
  
- if defined? @people or defined? @events
  %br
  - if User.current_user.is_entitled_to?(:create_event)  
    = link_to("Start a CMR with the criteria you searched on", new_cmr_path(:from_search => "1", :first_name => @first_name, :last_name => @last_name, :birth_date => @birth_date), {:id => "start_cmr"})

-
