=error_messages_for(:search_form, :header_message => t(:invalid_search_criteria))

%h3=t('before_create')
- form_tag event_search_cmrs_path, :method => :get do

  %span.horiz
    = label_tag :last_name, t('last_name')
    = text_field_tag(:last_name, @search_form.last_name)

  %span.horiz
    = label_tag :first_name, t('first_name')
    = text_field_tag(:first_name, @search_form.first_name)

  %span.horiz
    = label_tag :birth_date, t('birth_date')
    = birthdate_select_tag(:birth_date, @search_form.birth_date)

  %span.horiz
    %label=t "items_per_page"
    - page_options = %w(25 50 75 100).collect {|c| "<option#{c == params[:per_page] ? ' selected="selected" ' : ''}>#{c}</option>"}.join
    =select_tag('per_page', page_options)
  
  %span.horiz
    = label_tag "&nbsp;"
    = submit_tag t('search_normal_case')

  %span.vert
    = label_tag "&nbsp;"
    = labeled_check_box_tag(:use_starts_with_search, t('use_starts_with'))

  %span.vert-break

%br
- if defined? @results
  -if @results.empty?
    %b=t('no_results')
  -else

    
    - if (defined? @people or defined? @results) and User.current_user.is_entitled_to?(:create_event) 
      = link_to(t("start_a_cmr"), new_cmr_path(:from_search => "1", :first_name => params[:first_name], :last_name => params[:last_name], :birth_date => params[:birth_date]), {:id => "start_cmr"})


    -if @results.length >= 500 
      %p{'style' => 'color: #C00'} Only first 500 results will be shown


    %p
      =page_entries_info @results, :entry_name => "result"
      =will_paginate @results

    %table.list
      %tr
        %th=t('name')
        %th=t('birth_date')
        %th=t('gender')
        %th=t('event_type')
        %th=t('jurisdiction')
        %th=t('created_date')
        %th=t('disease')
        %th=t('cmr_actions')
        %th=t('entity_actions')
      =new_cmr_search_results(@results)

    %p
      =page_entries_info @results, :entry_name => "result"
      =will_paginate @results


    - if (defined? @people or defined? @results) and User.current_user.is_entitled_to?(:create_event)
      = link_to(t("start_a_cmr"), new_cmr_path(:from_search => "1", :first_name => params[:first_name], :last_name => params[:last_name], :birth_date => params[:birth_date]), {:id => "start_cmr"})
