
%fieldset
  %legend Clinical Information

  %table{:cellpadding => '2'}
    %tr
      %td
        %span{:class => 'label'}
          Disease:
      %td
        = @event.disease.disease.disease_name unless @event.disease.disease.nil?
    %tr
      %td
        %span{:class => 'label'}
          Disease onset date:
      %td
        = @event.disease.disease_onset_date unless @event.disease.disease.nil?
      %td
        %span{:class => 'label'}
          Date diagnosed:
      %td
        = @event.disease.date_diagnosed unless @event.disease.disease.nil?
    %tr
      %td
        %span{:class => 'label'}
          Hospitalized:
      %td
        = l @event.disease.hospitalized
      %td
        &nbsp;
      %td
        &nbsp;
    %tr
      %td
        %span{:class => 'label'}
          Died:
      %td
        = l @event.disease.died
      %td
        %span{:class => 'label'}
          Date of death:
      %td
        = entity_data.person.date_of_death
    %tr
      %td
        %span{:class => 'label'}
          Imported from:
      %td
        = l @event.imported_from
      %td
        &nbsp;
      %td
        &nbsp;

  %fieldset
    %legend
      Diagnosing health facilities  
    %table{:cellpadding => '2'}
      %tr
        %td
          %div{:id => 'diagnosing-health-facilities-list'}
            = render :partial => 'health_facilities/index', :locals => { :refresh_list => 'diagnosing-health-facilities-list', :health_facilities => @event.diagnosing_health_facilities }

  %fieldset
    %legend
      Hospitalized health facilities  
    %table{:cellpadding => '2'}
      %tr
        %td
          %div{:id => 'hospitalized-health-facilities-list'}
            = render :partial => 'health_facilities/index', :locals => { :refresh_list => 'hospitalized-health-facilities-list', :health_facilities => @event.hospitalized_health_facilities }

  %fieldset
    %legend
      Treatments  
    %table{:cellpadding => '2'}
      %tr
        %td
          %div{:id => 'treatment-list'}
            = render :partial => 'treatments/index'

  %fieldset
    %legend
      Clinicians  
    %table{:cellpadding => '2'}
      %tr
        %td
          %div{:id => 'clinicians-list'}
            = render :partial => 'clinicians/index'


