<fieldset>
<legend>CMR Information
  <span id='cmr_info_hide' onClick="Element.hide('cmr_info_form'); Element.hide('cmr_info_hide'); Element.show('cmr_info_show'); return false;">[Hide]</span>
  <span id='cmr_info_show' onClick="Element.show('cmr_info_form'); Element.hide('cmr_info_show'); Element.show('cmr_info_hide'); return false;" style="display: none;">[Show]</span>
</legend>
<div id='cmr_info_form'>
<table cellpadding="2">
  <% if not @event.record_number.blank? %>
  <tr>
    <td><%= label(:@event, :record_number) %></td>
    <td><%= @event.record_number %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.label(:reporting_agency) %></td>
    <td><%= model_auto_completer "event[active_reporting_agency][active_secondary_entity][place][name]", 
                                 @event.active_reporting_agency.nil? ? "" : @event.active_reporting_agency.active_secondary_entity.place.name, 
                                 "event[active_reporting_agency][secondary_entity_id]", 
                                 @event.active_reporting_agency.nil? ? "" : @event.active_reporting_agency.active_secondary_entity.place.entity_id, 
                                 { :allow_free_text => true, :action => 'auto_complete_for_event_reporting_agency'},
                                 { :size => 25 }, 
                                 { :skip_style => false } %>
    </td>

    <% f.fields_for(:active_reporter, @event.active_reporter, :builder => ExtendedFormBuilder) do |participant_fields| %>
      <% entity_data   = @event.active_reporter.nil? ? Entity.new : @event.active_reporter.active_secondary_entity %>
      <% reporter_data = @event.active_reporter.nil? ? Person.new : @event.active_reporter.active_secondary_entity.person %>
      <% participant_fields.fields_for(:active_secondary_entity, entity_data, :builder => ExtendedFormBuilder) do |agency_fields| %>
        <% agency_fields.fields_for(:person, reporter_data, :builder => ExtendedFormBuilder) do |reporter_fields| %>
          <td><%= reporter_fields.label(:first_name, "Reporter first name") %></td>
          <td><%= reporter_fields.text_field(:first_name, :size => 25) %></td>
          <td><%= reporter_fields.label(:last_name, "Reporter last name") %></td>
          <td><%= reporter_fields.text_field(:last_name, :size => 25) %></td>
        <% end %>
      <% end %>
    <% end %>
  </tr>

  <tr>
    <% f.fields_for(:active_jurisdiction, @event.active_jurisdiction, :builder => ExtendedFormBuilder) do |j| %>
      <td><%= j.label(:jurisdiction) %></td>
      <td><%= j.collection_select(:secondary_entity_id, Place.jurisdictions, :entity_id, :name, {:include_blank => true}) %></td> 
    <% end %>
    <td><%= f.label(:event_onset_date) %></td>
    <td><%= f.calendar_date_select(:event_onset_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
  <tr>
    <td><%= f.label(:event_name) %></td>
    <td><%= f.text_field(:event_name, :size => 25) %></td>
  </tr>
  <tr>
    <td><%= f.label(:event_type_id) %></td>
    <td><%= f.dropdown_code_field(:event_type_id, 'eventtype', {}) %></td>
    <td><%= f.label(:event_status_id) %></td>
    <td><%= f.dropdown_code_field(:event_status_id, 'eventstatus', {}) %></td>
  </tr>
  <tr>
    <td><%= f.label(:imported_from_id) %></td>
    <td><%= f.dropdown_code_field(:imported_from_id, 'imported', {}) %></td>
    <td><%= f.label(:event_case_status_id) %></td>
    <td><%= f.dropdown_code_field(:event_case_status_id, 'case', {}) %></td>
  </tr>
  <tr>
    <td><%= f.label(:outbreak_associated_id) %></td>
    <td><%= f.dropdown_code_field(:outbreak_associated_id, 'yesno', {}) %></td>
    <td><%= f.label(:outbreak_name) %></td>
    <td><%= f.text_field(:outbreak_name, :size => 25) %></td>
  </tr>
  <tr>
    <td><%= f.label(:investigation_LHD_status_id) %></td>
    <td><%= f.dropdown_code_field(:investigation_LHD_status_id, 'investigation', {}) %></td>
    <td><%= f.label(:investigation_started_date) %></td>
    <td><%= f.calendar_date_select(:investigation_started_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
  <tr>
    <td><%= f.label(:investigation_completed_LHD_date, "Investigation completed date") %></td>
    <td><%= f.calendar_date_select(:investigation_completed_LHD_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
  <tr>
    <td><%= f.label(:review_completed_UDOH_date, "Review completed date") %></td>
    <td><%= f.calendar_date_select(:review_completed_UDOH_date, :year_range => 5.years.ago..0.years.from_now) %></td>
    <td><%= f.label(:first_reported_PH_date, "First reported date") %></td>
    <td><%= f.calendar_date_select(:first_reported_PH_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
  <tr>
    <td><%= f.label(:results_reported_to_clinician_date) %></td>
    <td><%= f.calendar_date_select(:results_reported_to_clinician_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
</table>
</div>
</fieldset>
