%fieldset
  %legend Disease Investigation

  %div{:id => 'investigation_form'}
    %table{:width => '100%', :cellpadding => '3', :cellspacing => '0'}
      %tr
        %td{:valign => "top"}
          - if @event.form_references.empty?
            %b
              No investigation forms exist for
              = @event.disease.disease.disease_name
          - else
            %ul{:id => "investigation_form_list"}
              - form_count = 0
              - for form_reference in @event.form_references
                - form_count += 1
                - if(form_count == 1)
                  %input{:type => 'hidden', :id => 'active_form', :name => 'active_form', :value => "#{form_reference.form.id}"}
                %li
                  = link_to_function "#{form_reference.form.name}", "toggle_investigator_forms(\"#{form_reference.form.id}\")"
        %td{:width => '80%', :align => 'left'}
          - for form_reference in @event.form_references
            - form = form_reference.form
            
            %div{:id => "form_investigate_#{form.id}", :style => "display: none;"}
              %h2
                = form_reference.form.name
                
              - f.fields_for(:form_references, form_reference, :builder => ExtendedFormBuilder) do |fr|
                = fr.hidden_field(:form_id, :index => form_reference.id)

              - if (form.form_base_element.children_count_by_type("ViewElement") > 1)
                - has_multiple_user_defined_tabs = true
                %script{:type => "text/javascript"}
                  = "var userDefinedTabs = new YAHOO.widget.TabView(\"user_defined_tabs_#{form.id}\");"
                %div{:id => "user_defined_tabs_#{form.id}", :class => "yui-navset"}
                  %ul{:id => "user_defined_tab_list_#{form.id}", :class => "yui-nav"}
                    -  view_count = 0
                    - for view in form.form_base_element.children_by_type("ViewElement")
                      - view_count += 1
                      - if view_count == 1
                        %li{:class => "selected"}
                          %a{:href => "#ut_#{view.id}"}
                            %em
                              = view.name
                      - else
                        %li
                          %a{:href => "#ut_#{view.id}"}
                            %em
                              = view.name
                  %div{:class => "yui-content"}
                    - for view in form.form_base_element.children_by_type("ViewElement")
                      %div{:id => "ut_#{view.id}"}
                        = render_investigator_view(view, f)
                            
              - else
                = render_investigator_view(form.form_base_element.children_by_type("ViewElement").first, f)
              
              %div{:align => "right"}
                %small
                  Version 
                  = form_reference.form.version