<fieldset>
  <legend>Disease Information
  <span id='disease_info_hide' onClick="Element.hide('disease_info_form'); Element.hide('disease_info_hide'); Element.show('disease_info_show'); return false;">[Hide]</span>
  <span id='disease_info_show' onClick="Element.show('disease_info_form'); Element.hide('disease_info_show'); Element.show('disease_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id ='disease_info_form'>
  <table cellpadding="2">
    <% f.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d| %>
      <tr>
        <td>
          <%= d.label(:disease_id, "Disease") %>
          <%= d.collection_select(:disease_id, Disease.find(:all), :id, :disease_name, {}) %>
        </td>
      </tr>
      <tr>
        <td><%= d.label(:disease_onset_date) %></td>
        <td><%= d.calendar_date_select(:disease_onset_date, :year_range => 5.years.ago..0.years.from_now) %></td>
        <td><%= d.label(:date_diagnosed) %></td>
        <td><%= d.calendar_date_select(:date_diagnosed, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
      <tr>
        <td><%= d.label(:hospitalized_id) %></td>
        <td><%= d.dropdown_code_field(:hospitalized_id, 'yesno', {}) %></td>
    <% end %>
    <% f.fields_for(:active_hospital, @event.active_hospital, :builder => ExtendedFormBuilder) do |p| %>
        <td><%= p.label(:hospital) %></td>
        <td><%= p.collection_select(:secondary_entity_id, Place.hospitals, :entity_id, :name, {:include_blank => true}) %></td>
      </tr>
      <tr>
      <% hospital_data = @event.active_hospital.nil? ? HospitalsParticipation.new : @event.active_hospital.hospitals_participation %> 
      <% p.fields_for(:hospitals_participation, hospital_data, :builder => ExtendedFormBuilder) do |hp| %>
        <td><%= hp.label(:admission_date) %></td>
        <td><%= hp.calendar_date_select(:admission_date, :year_range => 5.years.ago..0.years.from_now) %></td>
        <td><%= hp.label(:discharge_date) %></td>
        <td><%= hp.calendar_date_select(:discharge_date, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
      <% end %>
    <% end %>
    <% f.fields_for(:current_treatment, @event.current_treatment, :builder => ExtendedFormBuilder) do |t| %>
      <% treatment_data = @event.current_treatment.nil? ? ParticipationsTreatment.new : @event.current_treatment.participations_treatment %> 
        <% t.fields_for(:participations_treatment, treatment_data, :builder => ExtendedFormBuilder) do |ct| %>
        <tr>
          <td><%= ct.label(:treatment_given_yn_id, "Treatment given") %></td>
          <td><%= ct.dropdown_code_field(:treatment_given_yn_id, 'yesno', {}) %></td>
          <td><%= ct.label(:current_treatment, "Treatment") %></td>
          <td><%= ct.text_field(:treatment, :size => 50) %></td>
        </tr>
       <% end %>
    <% end %>
      <tr>
    <% f.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d| %>
        <td><%= d.label(:died_id) %></td>
        <td><%= d.dropdown_code_field(:died_id, 'yesno', {}) %></td>
      </tr>
      <tr>
        <td><%= d.label(:pregnant_id) %></td>
        <td><%= d.dropdown_code_field(:pregnant_id, 'yesno', {}) %></td>
        <td><%= d.label(:pregnancy_due_date) %></td>
        <td><%= d.calendar_date_select(:pregnancy_due_date, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
    <% end %>
  </table>
  </div>
</fieldset>