<fieldset>
  <legend>Laboratory Information
    <span id='lab_info_hide' onClick="Element.hide('lab_info_form'); Element.hide('lab_info_hide'); Element.show('lab_info_show'); return false;">[Hide]</span>
    <span id='lab_info_show' onClick="Element.show('lab_info_form'); Element.hide('lab_info_show'); Element.show('lab_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id='lab_info_form'>

    <fieldset class="form">
      <legend>Hospitalization</legend>
      <% f.fields_for(:lab_result, @event.lab_result, :builder => ExtendedFormBuilder) do |l| %>
        <span class="horiz">
          <%= l.label(:lab_result_text, "Lab Result") %>
          <%= l.text_field(:lab_result_text, :size => 20) %>
        </span>
        <span class="horiz">
          <%= l.label(:specimen_source_id, "Specimen Source") %>
          <%= l.dropdown_code_field(:specimen_source_id, "specimen", {}) %>
        </span>
        <span class="horiz">
          <%= l.label(:collection_date) %>
          <%= l.calendar_date_select(:collection_date, :year_range => 5.years.ago..0.years.from_now) %>
        </span>
        <span class="horiz">
          <%= l.label(:lab_test_date) %>
          <%= l.calendar_date_select(:lab_test_date, :year_range => 5.years.ago..0.years.from_now) %>
        </span>
        <span class="horiz">
          <%= l.label(:tested_at_uphl_yn_id, "Tested at UPHL Lab") %>
          <%= l.dropdown_code_field(:tested_at_uphl_yn_id, "yesno", {}) %>
        </span>
      <% end %>
    </fieldset>
  </div>
</fieldset>
