<fieldset>
  <legend>Laboratory Information
    <span id='lab_info_hide' onClick="Element.hide('lab_info_form'); Element.hide('lab_info_hide'); Element.show('lab_info_show'); return false;">[Hide]</span>
    <span id='lab_info_show' onClick="Element.show('lab_info_form'); Element.hide('lab_info_show'); Element.show('lab_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id='lab_info_form'>
  <table cellpadding="2">
    <% f.fields_for(:lab_result, @event.lab_result, :builder => ExtendedFormBuilder) do |l| %>
      <tr>
        <td>
          <%= l.label(:specimen_source_id, "Specimen Source") %>
          <%= l.dropdown_code_field(:specimen_source_id, "specimen", {}) %>
        </td>
        <td>
          <%= l.label(:tested_at_uphl_yn_id, "Tested at UPHL Lab") %>
          <%= l.dropdown_code_field(:tested_at_uphl_yn_id, "yesno", {}) %>
        </td>
      </tr>
      <tr>
        <td><%= l.label(:collection_date) %></td>
        <td><%= l.calendar_date_select(:collection_date, :year_range => 5.years.ago..0.years.from_now) %></td>
        <td><%= l.label(:lab_test_date) %></td>
        <td><%= l.calendar_date_select(:lab_test_date, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
      <tr>
        <td><%= l.label(:lab_result_text, "Lab Result") %></td>
        <td><%= l.text_field(:lab_result_text, :size => 20) %></td>
      </tr>
    <% end %>
  </table>
  </div>
</fieldset>
