<fieldset>
  <legend>Reporting Information
    <span id='ra_info_hide' onClick="Element.hide('ra_info_form'); Element.hide('ra_info_hide'); Element.show('ra_info_show'); return false;">[Hide]</span>
    <span id='ra_info_show' onClick="Element.show('ra_info_form'); Element.hide('ra_info_show'); Element.show('ra_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id='ra_info_form'>
    
    <fieldset class="vert">
      <span class="horiz">
        <label for="morbidity_event_active_reporting_agency__active_secondary_entity__place__name">Reporting Agency</label>
        
        <%= model_auto_completer "morbidity_event[active_reporting_agency][active_secondary_entity][place][name]", 
          @event.active_reporting_agency.nil? ? "" : @event.active_reporting_agency.active_secondary_entity.place.name, 
          "morbidity_event[active_reporting_agency][secondary_entity_id]", 
          @event.active_reporting_agency.nil? ? "" : @event.active_reporting_agency.active_secondary_entity.place.entity_id, 
          { :allow_free_text => true, :append_random_suffix => false, :action => 'auto_complete_for_event_reporting_agency'},
          { :size => 25 }, 
          { :skip_style => false } %>
      </span>
      
      <% f.fields_for(:active_reporter, @event.active_reporter, :builder => ExtendedFormBuilder) do |participant_fields| %>
        <% entity_data    = @event.active_reporter.nil? ? Entity.new    : @event.active_reporter.active_secondary_entity %>
        <% reporter_data  = @event.active_reporter.nil? ? Person.new    : @event.active_reporter.active_secondary_entity.person %>
      
        <% telephone_data  = @event.active_reporter.nil? ? EntitiesLocation.new  : @event.active_reporter.active_secondary_entity.telephone_entities_location %>
      
        <%= error_messages_for :object => reporter_data %>
      
        <% participant_fields.fields_for(:active_secondary_entity, entity_data, :builder => ExtendedFormBuilder) do |agency_fields| %>
          <% agency_fields.fields_for(:person, reporter_data, :builder => ExtendedFormBuilder) do |reporter_fields| %>
            <span class="horiz">
              <%= reporter_fields.label(:first_name, "Reporter first name") %>
              <%= reporter_fields.text_field(:first_name, :size => 25) %>
            </span>
            <span class="horiz">
              <%= reporter_fields.label(:last_name, "Reporter last name") %>
              <%= reporter_fields.text_field(:last_name, :size => 25) %>
            </span>
          <% end %>
        </fieldset>
    
        <fieldset class="vert">
      
          <%= error_messages_for :object => telephone_data %>
      
          <% if telephone_data.primary_yn_id.nil? then telephone_data.primary_yn_id = ExternalCode.no_id end %>
          <% if telephone_data.location_type_id.nil? then telephone_data.location_type_id = Code.find_by_code_name_and_code_description('locationtype', "Telephone Location Type").id end %>
          <% agency_fields.fields_for(:telephone_entities_location, telephone_data, :builder => ExtendedFormBuilder) do |el| %>
            <%= el.hidden_field(:entity_id) %>
            <%= el.hidden_field(:primary_yn_id) %>
            <%= el.hidden_field(:location_type_id) %>
            <span class="horiz">
              <%= el.label(:entity_location_type_id, "Phone type") %>
              <%= el.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {}, @event) %>
            </span>
          <% end %>
      
          <% agency_fields.fields_for(:telephone, entity_data.telephone, :builder => ExtendedFormBuilder) do |phone_fields| %>
            <span class="horiz">
              <%= phone_fields.label(:area_code) %>
              <%= phone_fields.text_field(:area_code, :size => 3, :maxlength => 3, :class => 'autotab') %>
            </span>
            <span class="horiz">
              <%= phone_fields.label(:phone_number) %>
              <%= phone_fields.text_field(:phone_number, :size => 8) %>
            </span>
            <span class="horiz">
              <%= phone_fields.label(:extension) %>
              <%= phone_fields.text_field(:extension, :size => 6) %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </fieldset>
    <fieldset class="vert">
      <%= f.label(:results_reported_to_clinician_date) %>
      <%= f.calendar_date_select(:results_reported_to_clinician_date, :year_range => 5.years.ago..0.years.from_now) %>
    </fieldset>
    <fieldset class="vert">
      <%= f.label(:first_reported_PH_date, "Date first reported to public health") %>
      <%= f.calendar_date_select(:first_reported_PH_date, :year_range => 5.years.ago..0.years.from_now) %>
    </fieldset>
  </div>
</fieldset>
