<h1>Editing Confidential Morbidity Report</h1>

<%= error_messages_for :object => [@event, @event.disease, @event.lab_result, @event.active_patient.active_primary_entity.person] %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.entities_location] unless @event.active_patient.active_primary_entity.entities_location.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.address] unless @event.active_patient.active_primary_entity.address.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.telephone] unless @event.active_patient.active_primary_entity.telephone.nil? %>

<%= error_messages_for :object => [@event.active_hospital.hospitals_participation] unless @event.active_hospital.nil? or @event.active_hospital.hospitals_participation.nil? %>
<%= error_messages_for :object => [@event.active_reporting_agency.active_secondary_entity.place] unless @event.active_reporting_agency.nil? %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

    <% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |f| %>

<div id="cmr_tabs" class="yui-navset">
  <ul class="yui-nav">
    <li class="selected"><a href="#clinical_tab"><em>Clinical Information</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory Information</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  </ul>
  <div class="yui-content">
     <div id="clinical_tab"><p><%= render :partial => 'disease_info_form', :locals => { :f => f } %></p></div>
     <div id="lab_info_tab"><p><%= render :partial => 'lab_info_form', :locals => {:f => f} %> </p></div>
     <div id="administrative_tab"><p><%= render :partial => 'cmr_info_form', :locals => {:f => f} %> </p></div>
  </div>
</div>
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', cmr_url(@event) %> |
<%= link_to 'Back', cmr_path %>
