<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :name do %>
  <%= @event.active_patient.active_primary_entity.person.first_name -%> <%= @event.active_patient.active_primary_entity.person.last_name -%>
<% end %>

<% content_for :tools do %>
  <%= link_to 'Show', cmr_path(@event) %> |
  <%= link_to 'Back to list', cmrs_path %>
<% end %>


<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<% can_investigate = ( (@event.under_investigation?) and User.current_user.is_entitled_to_in?(:investigate_event, @event.active_jurisdiction.secondary_entity_id) and (@event.disease && @event.disease.disease_id) ) %>

<div id="follow-up-error"></div>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<%=  tab_toggler(can_investigate) %>

<div id="cmr_tabs" class="yui-navset">
  <ul id='tabs' class="yui-nav">
    <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts_tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
    <% if can_investigate %>
      <li><a href="#investigation_tab"><em>Investigation</em></a></li>
    <% end %>
  </ul>
  
  <% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
    <div class="yui-content">
      <div id="demographic_tab">
        <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
          <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
            <%= render :partial => "demographics_form", :locals => { :current_patient => current_patient } %>
          <% end %>
        <% end %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Demographics" } %>
      </div>
      <div id="clinical_tab">
        <p>
          <%= render :partial => 'disease_info_form', :locals => { :f => event_form } %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Clinical" } %>
        </p>
      </div>
      <div id="lab_info_tab">
        <p>
          <%= render :partial => 'lab_info_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Laboratory" } %>
        </p>
      </div>
      <div id="contacts_tab">
        <p>
          <%= render :partial => 'contacts_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Contacts" } %>
        </p>
      </div>
      <div id="epi_tab">
        <p>
          <%= render :partial => 'epidemiological_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Epidemiological" } %>
        </p>
      </div>
      <div id="reporting_tab">
        <p>
          <%= render :partial => 'reporting_agency', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Reporting" } %>
        </p>
      </div>
      <div id="administrative_tab">
        <p>
          <%= render :partial => 'cmr_info_form', :locals => {:f => event_form} %>
          <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Administrative" } %>
        </p>
      </div>
    
      <% if can_investigate %>
        <div id="investigation_tab"><p><%= render :partial => 'disease_investigation_form', :locals => {:f => event_form} %></p></div>
      <% end %>
            
    </div>
    <%= event_form.submit "Update" %>
  <% end %>
      
</div>
