<h1>Editing Confidential Morbidity Report</h1>

<%= error_messages_for :object => [@event, @event.disease, @event.lab_result, @event.active_patient.active_primary_entity.person] %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.entities_location] unless @event.active_patient.active_primary_entity.entities_location.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.address] unless @event.active_patient.active_primary_entity.address.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.telephone] unless @event.active_patient.active_primary_entity.telephone.nil? %>

<%= error_messages_for :object => [@event.active_hospital.hospitals_participation] unless @event.active_hospital.nil? or @event.active_hospital.hospitals_participation.nil? %>
<%= error_messages_for :object => [@event.active_reporting_agency.active_secondary_entity.place] unless @event.active_reporting_agency.nil? %>
<%= error_messages_for :object => @event.answers unless @event.answers.nil? %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<span id='disable_tabs' onClick="myTabs.removeClass('yui-navset'); myTabs.removeClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab','epi_tab','reporting_tab','administrative_tab', 'investigation_tab'].each(Element.show); Element.hide('disable_tabs'); Element.hide('tabs'); Element.show('enable_tabs');return false;">[Disable Tabs]</span>
<span id='enable_tabs' onClick="myTabs.addClass('yui-navset'); myTabs.addClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab','epi_tab','reporting_tab','administrative_tab', 'investigation_tab','enable_tabs'].each(Element.hide); Element.show('disable_tabs'); Element.show('tabs'); myTabs.set('activeIndex',0); return false;" style='display: none;'>[Enable Tabs]</span>

<% can_investigate = ( (@event.under_investigation? or @event.reopened?) and User.current_user.is_entitled_to_in?(:investigate, @event.active_jurisdiction.secondary_entity_id) ) %>

<div id="cmr_tabs" class="yui-navset">
  <ul id='tabs' class="yui-nav">
    <li class="selected"><a href="#demographic_tab"><em>Demographic Information</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical Information</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory Information</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological Information</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting Information</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
    <% if can_investigate %>
      <li><a href="#investigation_tab"><em>Investigation</em></a></li>
    <% end %>
  </ul>

<% form_for(@event, :url => cmr_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
  <div class="yui-content">
    <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
      <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <div id="demographic_tab">
          <%= render :partial => "entities/people/form", :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity } %>
        </div>
      <% end %>
    <% end %>
    <div id="clinical_tab"><p><%= render :partial => 'disease_info_form', :locals => { :f => event_form } %></p></div>
    <div id="lab_info_tab"><p><%= render :partial => 'lab_info_form', :locals => {:f => event_form} %></p></div>
    <div id="epi_tab"><p><%= render :partial => 'epidemiological_form', :locals => {:f => event_form} %></p></div>
    <div id="reporting_tab"><p><%= render :partial => 'reporting_agency', :locals => {:f => event_form} %></p></div>
    <div id="administrative_tab"><p><%= render :partial => 'cmr_info_form', :locals => {:f => event_form} %></p></div>

    <% if can_investigate %>
      <div id="investigation_tab"><p><%= render :partial => 'disease_investigation_form', :locals => {:f => event_form} %></p></div>
    <% end %>

  </div>
  <%= event_form.submit "Update" %>
<% end %>

</div>

<%= link_to 'Show', cmr_path(@event) %> |
<%= link_to 'Back', cmrs_path %>
