<h1>Listing Confidential Morbidity Reports</h1>

<table width="50%">
  <thead>
  <tr>
    <th>Patient Name</th>
    <th>Disease</th>
    <th>Event Name</th>
    <th>Event Onset Date</th>
    <th>Event Status</th>
  </tr>
  </thead>
  <% for event in @events %>
  <tr>
    <% patient = event.active_patient.active_primary_entity.current_person %>
    <td><%= patient.last_name -%><%= fml(", ", patient.first_name, "") unless patient.first_name.nil? -%></td>
    <td><%= event.disease.disease.disease_name unless event.disease.disease.nil? %></td>
    <td><%= event.event_name %></td>
    <td><%= event.event_onset_date %></td>
    <td><%= l event.event_status %></td>
    <td><%= link_to 'Show', cmr_path(event) %></td>
    <td><%= link_to 'Edit', edit_cmr_path(event) %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Morbidity Report', new_cmr_path %>
<%= link_to 'Export To CSV', url_for(:action => 'index', :format => 'csv') %>
