<h1>New Confidential Morbidity Report</h1>

<%# Debt: Figure out how to merge these all together. %>
<%= error_messages_for :object => [@event, @event.disease, @event.lab_result, @event.active_patient.active_primary_entity.person] %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.entities_location] unless @event.active_patient.active_primary_entity.entities_location.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.address] unless @event.active_patient.active_primary_entity.address.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.telephone] unless @event.active_patient.active_primary_entity.telephone.nil? %>

<p>
<% form_for(@event, :url => cmrs_path, :builder => ExtendedFormBuilder) do |event_form| %>
  <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
    <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
      <%= render :partial => "entities/people/form", :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity } %>
      <%= render :partial => 'locations/form', :locals => { :f => current_patient, :location_data => @event.active_patient.active_primary_entity } %>
    <% end %>
  <% end %>
  <%= render :partial => 'form', :locals => { :f => event_form } %>
<%= event_form.submit "Create" %>
<% end %>
</p>

<%= link_to 'Back', cmrs_path %>
