<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :name do %>
  New CMR
<% end %>

<% content_for :tools do %>
  <%= link_to 'Back to list', cmrs_path %>
<% end %>


<%# Debt: Get rid of all these error_message_for methods.  Use something like this technique to pull all error messages up to the parent. %>
<%# http://pastie.org/165073 %>

<%# Deby: DRY up the new and edit views.  Too much repetition %>

<%= error_messages_for :object => @event %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script> 

<%=  tab_toggler(false) %>

<div id="cmr_tabs" class="yui-navset">
  <ul class="yui-nav" id='tabs'>
    <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts_tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  </ul>

<% form_for(@event, :url => cmrs_path, :builder => ExtendedFormBuilder) do |event_form| %>
  <div class="yui-content">
    <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
      <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <div id="demographic_tab">
          <%= render :partial => "entities/people/form", 
            :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity, :event => @event } %>
        </div>
      <% end %>
    <% end %>
    <div id="clinical_tab"><%= render :partial => 'disease_info_form', :locals => { :f => event_form } %></div>
    <div id="lab_info_tab"><%= render :partial => 'lab_info_form', :locals => {:f => event_form} %></div>
    <div id="contacts_tab"><%= render :partial => 'contacts_form', :locals => {:f => event_form} %></div>
    <div id="epi_tab"><%= render :partial => 'epidemiological_form', :locals => {:f => event_form} %></div>
    <div id="reporting_tab"><%= render :partial => 'reporting_agency', :locals => {:f => event_form} %></div>
    <div id="administrative_tab"><%= render :partial => 'cmr_info_form', :locals => {:f => event_form} %></div>
    <%= event_form.submit "Create" %>
  </div>
<% end %>
</div>

<br />

