<h1>New Confidential Morbidity Report</h1>

<%# Debt: Figure out how to merge these all together. %>
<%= error_messages_for :object => [@event, @event.disease, @event.lab_result, @event.active_patient.active_primary_entity.person] %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.entities_location] unless @event.active_patient.active_primary_entity.entities_location.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.address] unless @event.active_patient.active_primary_entity.address.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.telephone] unless @event.active_patient.active_primary_entity.telephone.nil? %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script> 

<% form_for(@event, :url => cmrs_path, :builder => ExtendedFormBuilder) do |event_form| %>
  <div id="cmr_tabs" class="yui-navset">
    <ul class="yui-nav">
      <li class="selected"><a href="#demographic_tab"><em>Demographic Information</em></a></li>
      <li><a href="#clinical_tab"><em>Clinical Information</em></a></li>
      <li><a href="#lab_info_tab"><em>Laboratory Information</em></a></li>
      <li><a href="#administrative_tab"><em>Administrative</em></a></li>
    </ul>

    <div class="yui-content">
      <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
        <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
          <div id="demographic_tab">
            <%= render :partial => "entities/people/form", :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity } %>
            <%= render :partial => 'locations/form', :locals => { :f => current_patient, :location_data => @event.active_patient.active_primary_entity } %>
          </div>
        <% end %>
      <% end %>
      <div id="clinical_tab"><p><%= render :partial => 'disease_info_form', :locals => { :f => event_form } %></p></div>
      <div id="lab_info_tab"><p><%= render :partial => 'lab_info_form', :locals => {:f => event_form} %> </p></div>
      <div id="administrative_tab"><p><%= render :partial => 'cmr_info_form', :locals => {:f => event_form} %> </p></div>
    </div>
  </div>
  <%= event_form.submit "Create" %>
<% end %>
</p>

<%= link_to 'Back', cmrs_path %>
