<h1>New Confidential Morbidity Report</h1>

<%# Debt: Get rid of all these error_message_for methods.  Use something like this technique to pull all error messages up to the parent. %>
<%# http://pastie.org/165073 %>

<%# Deby: DRY up the new and edit views.  Too much repetition %>

<%= error_messages_for :object => [@event, @event.disease, @event.active_patient.active_primary_entity.person] %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.entities_location] unless @event.active_patient.active_primary_entity.entities_location.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.address] unless @event.active_patient.active_primary_entity.address.nil? %>
<%= error_messages_for :object => [@event.active_patient.active_primary_entity.telephone] unless @event.active_patient.active_primary_entity.telephone.nil? %>

<%= error_messages_for :object => [@event.active_reporting_agency.active_secondary_entity.place] unless @event.active_reporting_agency.nil? %>

<script type="text/javascript">
var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script> 

<span id='disable_tabs' onClick="myTabs.removeClass('yui-navset'); myTabs.removeClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab', 'contacts-tab', 'epi_tab','reporting_tab','administrative_tab'].each(Element.show); Element.hide('disable_tabs'); Element.hide('tabs'); Element.show('enable_tabs');return false;">[Disable Tabs]</span>
<span id='enable_tabs' onClick="myTabs.addClass('yui-navset'); myTabs.addClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab', 'contacts-tab', 'epi_tab','reporting_tab','administrative_tab','enable_tabs'].each(Element.hide); Element.show('disable_tabs'); Element.show('tabs'); myTabs.set('activeIndex',0); return false;" style='display: none;'>[Enable Tabs]</span>
<div id="cmr_tabs" class="yui-navset">
  <ul class="yui-nav" id='tabs'>
    <li class="selected"><a href="#demographic_tab"><em>Demographic</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts_tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
  </ul>

<% form_for(@event, :url => cmrs_path, :builder => ExtendedFormBuilder) do |event_form| %>
  <div class="yui-content">
    <% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
      <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <div id="demographic_tab">
          <%= render :partial => "entities/people/form", 
            :locals => { :f => current_patient, :entity_data => @event.active_patient.active_primary_entity, :event => @event } %>
        </div>
      <% end %>
    <% end %>
    <div id="clinical_tab"><%= render :partial => 'disease_info_form', :locals => { :f => event_form } %></div>
    <div id="lab_info_tab"><%= render :partial => 'lab_info_form', :locals => {:f => event_form} %></div>
    <div id="contacts_tab"><%= render :partial => 'contacts_form', :locals => {:f => event_form} %></div>
    <div id="epi_tab"><%= render :partial => 'epidemiological_form', :locals => {:f => event_form} %></div>
    <div id="reporting_tab"><%= render :partial => 'reporting_agency', :locals => {:f => event_form} %></div>
    <div id="administrative_tab"><%= render :partial => 'cmr_info_form', :locals => {:f => event_form} %></div>
    <%= event_form.submit "Create" %>
  </div>
<% end %>
</div>

<br />
<%= link_to 'Back', cmrs_path %>
