<h1>Show Confidential Morbidity Report</h1>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("cmr_tabs");
</script>

<span id='disable_tabs' onClick="myTabs.removeClass('yui-navset'); myTabs.removeClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab', 'contacts-tab', 'epi_tab','reporting_tab','administrative_tab', 'investigative_tab'].each(Element.show); Element.hide('disable_tabs'); Element.hide('tabs'); Element.show('enable_tabs');return false;">[Disable Tabs]</span>
<span id='enable_tabs' onClick="myTabs.addClass('yui-navset'); myTabs.addClass('yui-content'); ['demographic_tab','clinical_tab','lab_info_tab', 'contacts-tab', 'epi_tab','administrative_tab', 'investigative_tab','reporting_tab','enable_tabs'].each(Element.hide); Element.show('disable_tabs'); Element.show('tabs'); myTabs.set('activeIndex',0); return false;" style='display: none;'>[Enable Tabs]</span>

<div id="cmr_tabs" class="yui-navset">
  <ul class="yui-nav" id="tabs">
    <li class="selected"><a href="#demographic_tab"><em>Demographics</em></a></li>
    <li><a href="#clinical_tab"><em>Clinical</em></a></li>
    <li><a href="#lab_info_tab"><em>Laboratory</em></a></li>
    <li><a href="#contacts-tab"><em>Contacts</em></a></li>
    <li><a href="#epi_tab"><em>Epidemiological</em></a></li>
    <li><a href="#reporting_tab"><em>Reporting</em></a></li>
    <li><a href="#administrative_tab"><em>Administrative</em></a></li>
    <li><a href="#investigative_tab"><em>Investigation</em></a></li>
  </ul>

  <div class="yui-content">

  <div id="demographic_tab">
    <% patient_entity = @event.active_patient.active_primary_entity %>
    <%= render :partial => "entities/people/show", :locals => { :entity_data => patient_entity } %>
  </div>

  <div id="clinical_tab">
    <fieldset>
      <legend>Clinical Information</legend>  
      <table cellpadding="2">
        <tr>
          <td><span class="label">Record Number:</span></td>
          <td><%= @event.record_number %></td>
          <td><span class="label">Disease:</span></td>
          <td><%= @event.disease.disease.disease_name unless @event.disease.disease.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Disease Onset Date:</span></td>
          <td><%= @event.disease.disease_onset_date unless @event.disease.disease.nil? %></td>
          <td><span class="label">Date Diagnosed:</span></td>
          <td><%= @event.disease.date_diagnosed unless @event.disease.disease.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Hospitalized:</span></td>
          <td><%= l @event.disease.hospitalized %></td>
          <td><span class="label">Hospital:</span></td>
          <td><%= @event.hospital.active_secondary_entity.place.name unless @event.hospital.nil? or @event.hospital.active_secondary_entity.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Admission Date:</span></td>
          <td><%= @event.hospital.hospitals_participation.admission_date unless @event.hospital.nil? or @event.hospital.hospitals_participation.nil? %></td>
          <td><span class="label">Discharge Date:</span></td>
          <td><%= @event.hospital.hospitals_participation.discharge_date unless @event.hospital.nil? or @event.hospital.hospitals_participation.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Died:</span></td>
          <td><%= l @event.disease.died %></td>
          <td><span class="label">Date of Death:</span></td>
          <td><%= patient_entity.person.date_of_death %></td>
        </tr>
        <tr>
          <td><span class="label">Imported From:</span></td>
          <td><%= l @event.imported_from %></td>
        </tr>
      </table>
      <fieldset>
        <legend>Treatment Information</legend>  
        <table cellpadding="2">
          <tr>
            <td><div id='treatment-list'><%= render :partial => "treatments/index" %></div></td>
          </tr>
        </table>
      </fieldset>
    </fieldset>
  </div>

  <div id="lab_info_tab">
    <fieldset>
      <legend>Laboratory Information</legend>  
      <table cellpadding="2">
        <tr>
          <td><%= render :partial => "lab_results/index" %></td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div id="contacts-tab">
    <fieldset>
      <legend>Contact Information</legend>  
      <%- if @event.active_contacts.empty? %>
        <h3>No contacts have been reported for this case</h3>
      <%- else %>
        <table cellpadding="2">
          <%- for contact in @event.active_contacts %>
            <%- entity = contact.active_secondary_entity %>
            <%- person = entity.person %>
            <tr>
              <td><%= person.last_name + ", " + person.first_name %></td>
              <td><%= link_to 'Show', entity %></td>
              <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    </fieldset>
  </div>

  <div id="epi_tab">
    <fieldset>
      <legend>Epidemiological Information</legend>  
      <table>
        <tr>
          <td><span class="label">Food Handler:</span></td>
          <td><%= l @event.active_patient.participations_risk_factor.food_handler unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
          <td><span class="label">Healthcare Worker:</span></td>
          <td><%= l @event.active_patient.participations_risk_factor.healthcare_worker unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Group Living:</span></td>
          <td><%= l @event.active_patient.participations_risk_factor.group_living unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
          <td><span class="label">Day Care Association:</span></td>
          <td><%= l @event.active_patient.participations_risk_factor.day_care_association unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Pregnant:</span></td>
          <td><%= l @event.active_patient.participations_risk_factor.pregnant unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
          <td><span class="label">Pregnancy Due Date:</span></td>
          <td><%= @event.active_patient.participations_risk_factor.pregnancy_due_date unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
        </tr>
        <tr>
          <td><span class="label">Risk Factors:</span></td>
          <td><%= @event.active_patient.participations_risk_factor.risk_factors unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
          <td><span class="label">Risk Factor Notes:</span></td>
          <td><%= @event.active_patient.participations_risk_factor.risk_factors_notes unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil? %></td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div id="reporting_tab">
    <fieldset>
    <legend>Reporting Information</legend>
    <table>
      <tr>
        <td><span class="label">Name of Reporter:</span></td>
        <td><%= @event.reporter.active_secondary_entity.person.first_name unless @event.reporter.nil? -%>
        <%= @event.reporter.active_secondary_entity.person.last_name unless @event.reporter.nil? %></td>
        <td><span class="label">Reporting Agency:</span></td>
        <td><%= @event.reporting_agency.active_secondary_entity.place.name unless @event.reporting_agency.nil?%></td>
      </tr>
      <tr>
        <td><span class="label">Reporter Phone number:</span></td>
        <td><% p = @event.reporter.active_secondary_entity.telephone unless @event.reporter.nil? %>
        <% if not p.nil? %>
          <%= fml " (", p.area_code, ") " if p.area_code -%>
          <%= phone_number(p.phone_number) -%>
          <%= fml " Ext. ", p.extension, "" if p.extension -%>
        <% end %></td>
      </tr>
       <tr>
         <td><span class="label">Date Results Reported to Clinician:</span></td>
         <td><%= @event.results_reported_to_clinician_date %></td>
        </tr>
    </table>
    </fieldset>
  </div>

  <div id="administrative_tab">
    <fieldset>
      <legend>Administrative Information</legend>  
      <table cellpadding="2">
        <tr>
          <td><span class="label">Event Onset Date:</span></td>
          <td><%= @event.event_onset_date %></td>
          <td><span class="label">Event Case Status:</span></td>
          <td><%= l @event.event_case_status %></td>
        </tr>
        <tr>
          <td><span class="label">Outbreak Associated:</span></td>
          <td><%= l @event.outbreak_associated %></td>
          <td><span class="label">Outbreak Name:</span></td>
          <td><%= @event.outbreak_name %></td>
        </tr>
        <tr>
          <td><span class="label">MMWR Year:</span></td>
          <td><%= @event.MMWR_year %></td>
          <td><span class="label">MMWR Week:</span></td>
          <td><%= @event.MMWR_week %></td>
        </tr>
        </tr>
          <td><span class="label">Jurisdiction:</span></td>
          <td><%= @event.jurisdiction.active_secondary_entity.place.name unless @event.jurisdiction.nil?%></td>
          <td><span class="label">Event Name:</span></td>
          <td><%= @event.event_name %></td>  
        <tr>
          <td><span class="label">Event Status:</span></td>
          <td><%= l @event.event_status %></td>
          <td><span class="label">Date Investigation Started:</span></td>
          <td><%= @event.investigation_started_date %></td>
        </tr>
        <tr>
          <td><span class="label">LHD Investigation Status:</span></td>
          <td><%= l @event.investigation_LHD_status %></td>
          <td><span class="label">Date Invesitgation Completed:</span></td>
          <td><%= @event.investigation_completed_LHD_date %></td>
        </tr>
        <tr>
          <td><span class="label">Date Submitted to UDOH:</span></td>
          <td><%= @event.first_reported_PH_date %></td>
          <td><span class="label">Date Review Completed by UDOH:</span></td>
          <td><%= @event.review_completed_UDOH_date %></td>
        </tr>
      </table>
    </fieldset>
  </div>

  <div id="investigative_tab">
    <fieldset>
      <legend>Investigative Information</legend>  
      <table cellpadding="2">
        <% for answer in @event.answers %>
          <tr>
            <td><span class="label"><%= answer.question.question_text -%></span></td>
            <td><%= answer.text_answer -%></td>
          </tr>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>
<%= link_to 'Edit', edit_cmr_path(@event), :id => "edit_cmr_link" %> |
<%= link_to 'Export to CSV', cmr_path(@event)+'.csv' %> |
<%= link_to 'Back', cmrs_path %>

<%#= link_to 'Add an association', associations_event_path(@event) %>
