%h1 Editing form

= error_messages_for :form


- form_for(@form) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Update"

= link_to 'Show', @form 
|
= link_to 'Back', forms_path
|
= link_to 'Form Builder', builder_path(@form)

