- content_for :title do
  Form Builder

- content_for :name do
  Forms

- content_for :tools do
  = link_to 'New form', new_form_path

- content_for :tools_two do
  = button_to("Create new form", {:action => "new"}, { :method => :get })

%table{:style => "border-spacing: 15px 5px"}
  %tr
    %th Name
    %th Description
    %th Disease
    %th Jurisdiction
    %th Status
    %th{:colspan => 3} Actions
  - for form in @forms
    %tr
      %td
        = h form.name
      %td
        = h form.description
      %td
        = h form.disease.disease_name unless form.disease.nil?
      %td
        = h form.jurisdiction.nil? ? "All" : form.jurisdiction.current_place.name
      %td
        = h form.status
      %td
        = link_to 'Builder', builder_path(form)
      %td
        = link_to 'Show', form
      %td
        = link_to 'Edit', edit_form_path(form)

%br

