-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.

-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Admin Dashboard

/- content_for :name do

%h2 System Configuration

= link_to 'Manage Users', users_path
%br
= link_to 'Manage Disease Information', diseases_path
%br
= link_to 'Manage Event Routing Queues', event_queues_path
%br
= link_to 'Add Help Text to Core Fields', core_fields_path
%br
= link_to 'Manage System Codes', codes_path
%br
= link_to 'Configure System for CDC Export', export_columns_path

%h2 Export Event Information
= link_to 'CDC Export', url_for(:controller => 'export', :action => 'cdc', :format => 'dat')
%br
= link_to 'IBIS Export', url_for(:controller => 'export', :action => 'ibis', :format => 'xml')

%h2 Disease Specific Forms
= link_to 'Manage Forms', forms_path
