- form_tag(search_path + "/people", :method => :get) do

  %h2
    People Search

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]

  %fieldset
    %legend
      Search
    %label Name:
    = text_field_tag :name, params[:name]
    &nbsp;
    %label Date of birth:
    / Get a more flexible option in here
    = text_field_tag :birth_date, params[:birth_date]
    %small (mm/dd/yyyy)
    &nbsp;
    %input{ :type => "submit" }

%br

- if !@people.blank?
  %h3 Results
  %table{ :width => 600 }
    %tr
      %td
        %b
          Name
      %td
        %b
          Age / Birth Date
      %td
        %b
          Gender
      %td
        %b
          County
    - for person in @people
      %tr
        %td
          - event_type, event_id = get_event_type_and_id_from_person(person)
          - unless event_type.nil?
            / Case statements not working for some reason
            - if event_type == MorbidityEvent
              - path = cmr_path(event_id)
              - html_id = "edit-person-cmr-link-#{event_id}"
            - elsif event_type == ContactEvent
              - path = contact_event_path(event_id)
              - html_id = "edit-person-contact-link-#{event_id}"
            = link_to("#{person.first_name} #{person.last_name} (#{event_type.to_s.underscore.humanize})", path, :id => html_id)
        %td
          - if  !person.birth_date.blank?
            = "#{calculate_age person.birth_date.to_date} / #{person.birth_date}"
        %td
          = person.gender
        %td
          = person.county

- if @people.blank? && flash[:error].blank? && (!params[:name].blank? || !params[:birth_date].blank?)
  <span>Your search returned no results.</span>
  
  %br
  %br
  
  = link_to("Start a CMR with the criteria that you searched on.", { :controller => "morbidity_events", :action => "new", :from_search => "", :first_name => @first_name, :middle_name => @middle_name, :last_name => @last_name, :birth_date => params[:birth_date]  }, {:id => "start_cmr"})
