-fields_for(@event, :builder => ExtendedFormBuilder) do |e|
  -e.fields_for(:health_care_provider, :builder => ExtendedFormBuilder) do |hcp|
    -hcp.fields_for(:person_entity, :builder => ExtendedFormBuilder) do |pe|
      -pe.fields_for(:person, :builder => ExtendedFormBuilder) do |p|
        -core_element_print :last_name, p, :horiz do
          %span.print-label="#{t('health_care_provider', :scope => 'perinatal_hep_b_management')} #{ct('last_name').downcase}"
          %span.print-value=h(p.object.last_name)
        -core_element_print :first_name, p, :horiz do
          %span.print-label="#{t('health_care_provider', :scope => 'perinatal_hep_b_management')} #{ct('first_name').downcase}"
          %span.print-value=h(p.object.first_name)
        -core_element_print :middle_name, p, :vert do
          %span.print-label="#{t('health_care_provider', :scope => 'perinatal_hep_b_management')} #{ct('middle_name').downcase}"
          %span.print-value=h(p.object.middle_name)

      -pe.fields_for(:telephones, :builder => ExtendedFormBuilder) do |t|
        =print_telephones(t)
