
%div{:id => "new-follow-up-form"}

  %h3
    Add follow up

  = error_messages_for :follow_up_element

  - remote_form_for(follow_up_element) do |f|

    = render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Create"
      &nbsp;&nbsp;
      = link_to_function "Close", "$('follow-up-mods-#{@follow_up_element.parent_element_id}').down('form').reset(); Effect.BlindUp($('follow-up-mods-#{@follow_up_element.parent_element_id}'))"
