%div{:class => "modal-dialog"}
  %h1 Editing treatment

  = error_messages_for :participations_treatment

  = fields_for(@participations_treatment, :builder => ExtendedFormBuilder) do |ct|
    = render :partial => "form", :locals => { :ct => ct }
  = submit_to_remote("treatment-save-button", "Save", :submit => "treatment-form", :url => cmr_treatment_path(@event, @participations_treatment), :method => :put)

  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
