-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.
- core_field_list_item core_field, @disease do
  .formname
    = link_to h(core_field.name), [@disease, core_field]
  - if core_field.required_for_event?
    .required.tag=t(:required)
  - if core_field.required_for_section?
    .required_if_others.tag=t(:required_for_section)
  - unless core_field.required?
    - unless core_field.hidden_by_ancestry?(@disease)
      .button{ :style => 'display: inline-block' }
        - if core_field.rendered?(@disease)
          =link_to t(:hide), [@disease, core_field], :class => :hide
        - else
          =link_to t(:display), [@disease, core_field], :class => :display
        =image_tag('redbox_spinner.gif', :class => 'ui-helper-hidden', :alt => 'Working...')
  .tools
    = h(core_field.help_text)
  .tools
    = link_to_edit_core_field core_field, @disease
    |
    = link_to t('show'), [@disease, core_field]
  - if core_field.children_count > 0
    %ul
      = render :partial => 'core_field', :collection => core_field.children
