-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.

#rot
  %table.list
    %tr
      %th.forminformation
        %a{ :name => h(root_cursor.current.name_key) }<
          = t "#{root_cursor.current.event_type}_fields"
        %a.scroll-to-link.ui-icon.ui-icon-arrowthick-1-n{ :href => "##{root_cursor.previous.name_key}" }
          =t :previous
        %a.scroll-to-link.ui-icon.ui-icon-arrowthick-1-s{ :href => "##{root_cursor.next.name_key}" }
          =t :next
    %tr
      %td
        .core_fields
          %ul
            = render(:partial => 'core_field', :collection => root_cursor.current.children)
