<fieldset>
  <legend>Person Information
    <span id='person_info_hide' onClick="Element.hide('person_form'); Element.hide('person_info_hide'); Element.show('person_info_show'); return false;">[Hide]</span>
    <span id='person_info_show' onClick="Element.show('person_form'); Element.hide('person_info_show'); Element.show('person_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id='person_form'>
    
    <%= f.hidden_field(:entity_type) %>
    <%- event = event.nil? ? nil : event %>
    
    <%= error_messages_for :object => entity_data.person %>
    <fieldset class="form">
      <legend>Name</legend>
      <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
      
        <% core_element :last_name, p, :horiz do %>
          <%= p.label(:last_name) %>
          <%= p.core_text_field(:last_name, {:size => 25}, event, @can_investigate) %>
        <% end %>
      
        <% core_element :first_name, p, :horiz do %>
          <%= p.label(:first_name) %>
          <%= p.core_text_field(:first_name, {:size => 25}, event, @can_investigate) %>
        <% end %>
      
        <% core_element :middle_name, p, :horiz do %>
          <%= p.label(:middle_name) %>
          <%= p.core_text_field(:middle_name, {:size => 25}, event, @can_investigate) %>
        <% end %>
      
      <% end %>
    </fieldset>
    
    <fieldset class="form">
      <legend>Address</legend>
      <% if entity_data.entities_location.nil?
        entity_data.entities_location = {
          :entity_location_type_id => ExternalCode.unspecified_location_id,
          :primary_yn_id => ExternalCode.yes_id,
          :location_type_id => Code.find_by_code_name_and_code_description('locationtype', "Address Location Type").id
        }
      end %>
      <% f.fields_for(:entities_location, entity_data.entities_location, :builder => ExtendedFormBuilder) do |el| %>
        <%= el.hidden_field(:entity_id) %>
        <%= el.hidden_field(:entity_location_type_id) %>
        <%= el.hidden_field(:primary_yn_id) %>
        <%= el.hidden_field(:location_type_id) %>
      
        <%= render :partial => 'locations/address_form', :locals => { :f => f, :address => entity_data.address, :event => event  } %>
      <% end %>
    </fieldset>
    
    <fieldset class="form">
      <legend>Age</legend>
      <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
      
        <% core_element :birth_date, p, :horiz do %>
          <%= p.label(:birth_date, "Date of Birth") %>
          <%= p.core_calendar_date_select(:birth_date, {:year_range => 100.years.ago..0.years.from_now}, event, @can_investigate) %>
        <% end %>
      
        <% core_element :approximate_age_no_birthday, p, :horiz do %>
          <%= p.label(:approximate_age_no_birthday, "Age") %>
          <%= p.core_text_field(:approximate_age_no_birthday, {:size => 3}, event, @can_investigate) %>
        <% end %>
      
      <% end %>
    </fieldset>
    
    <fieldset class="form">
      <legend>Telephone / Email</legend>
      <% if rendering_pt -%>
      <div id="phones">
        <%= render :partial => 'events/telephone', :collection => entity_data.telephone_entities_locations %>
      </div>
      <% else -%>
        <% if entity_data.telephone_entities_location.nil?
             entity_data.telephone_entities_location = {
               :primary_yn_id => ExternalCode.no_id,
               :location_type_id => Code.find_by_code_name_and_code_description('locationtype', "Telephone Location Type").id
             }
           end %>
        <% f.fields_for(:telephone_entities_location, entity_data.telephone_entities_location, :builder => ExtendedFormBuilder) do |el| %>
        <%= el.hidden_field(:entity_id) %>
        <%= el.hidden_field(:primary_yn_id) %>
        <%= el.hidden_field(:location_type_id) %>
      
        <%= render :partial => 'locations/phone_form', :locals => { :f => f, :entity_data => entity_data, :event => event  } %>
      <% end -%>
      <% end -%>
    </fieldset>
    <% if rendering_pt -%>
    <p>
      <%= add_new_telephone_link "New Telephone / Email" %>
    </p>
    <% end -%>
    <fieldset class="form">
      <legend>Demographics</legend>
      <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
        <% core_element :birth_gender_id, p, :horiz do %>
          <%= p.label(:birth_gender) %>
          <%= p.dropdown_code_field(:birth_gender_id, 'gender', {}, {}, event, @can_investigate) %>
        <% end %>
        <% core_element :ethnicity_id, p, :horiz do %>
          <%= p.label(:ethnicity) %>
          <%= p.dropdown_code_field(:ethnicity_id, 'ethnicity', {}, {}, event, @can_investigate) %>
        <% end %>
        <span class="horiz">
          <%= f.label(:race) %>
          <%= f.multi_select_code_field(:race_ids, 'race', {}, {}) %>
        </span>
        <% core_element :primary_language_id, p, :horiz do %>
          <%= p.label(:primary_language) %>
          <%= p.dropdown_code_field(:primary_language_id, 'language', {}, {}, event, @can_investigate) %>
        <% end %>
      <% end %>
    </fieldset>
    
  </div>
</fieldset>
