== last_name,first_name,middle_name,birth_date,age,approximate_age_no_birthday,date_of_death,ethnicity,birth_gender,primary_language,race
- for entity in @entities
- p = entity.person
- r = ''
- i = 0
- for race in entity.races
- r = r + ' and ' unless i == 0
- r = r + l(race).to_s
- i = i + 1
-end
== #{p.last_name.to_s.gsub(/,/,' ')},#{p.first_name.to_s.gsub(/,/,' ')},#{p.middle_name.to_s.gsub(/,/,' ')},#{p.birth_date.to_s.gsub(/,/,' ')},#{calculate_age(p.birth_date).to_s.gsub(/,/,' ') unless p.birth_date == nil},#{p.approximate_age_no_birthday.to_s.gsub(/,/,' ')},#{p.date_of_death.to_s.gsub(/,/,' ')},#{l(p.ethnicity).to_s.gsub(/,/,' ')},#{l(p.birth_gender).to_s.gsub(/,/,' ')},#{l(p.primary_language).to_s.gsub(/,/,' ')},#{r.to_s.gsub(/,/,' ')}
- end
