<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% e = entity_data %>
<% p = entity_data.person %>

<% unless entity_data.entities_location.nil? %>
  <% l = entity_data.primary_entities_location.location; a = l.current_address; %>
<% end %>

<% unless entity_data.telephone_entities_location.nil? %>
  <% telephone_location = entity_data.primary_phone_entities_location.location; telephone = telephone_location.current_phone %>
<% end %>

<% event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields| %>
  <% patient_fields.fields_for(:active_primary_entity, @event.active_patient.active_primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
    <% current_patient.fields_for(:person, p, :builder => ExtendedFormBuilder) do |person_form| %>

      <fieldset>
        <legend> Person Information</legend>
  
        <fieldset class="form">
          <legend>Name</legend>
    
          <% core_element_show :last_name,person_form, :horiz do %>
            <%= person_form.label(:last_name) %>
            <%= p.last_name %>
          <% end %>
          <% core_element_show :first_name, person_form, :horiz do %>
            <%= person_form.label(:first_name) %>
            <%= p.first_name %>
          <% end %>
          <% core_element_show :middle_name, person_form, :horiz do %>
            <%= person_form.label(:middle_name) %>
            <%= p.middle_name %>
          <% end %>
                                                                        
        </fieldset>
  
        <fieldset class="form">
          <legend><%= l.type unless l.nil? %> Address <%= " (Primary) " if l.primary? unless l.nil?-%></legend>
    
          <% unless a.nil? %>
    
            <% current_patient.fields_for(:address, a, :builder => ExtendedFormBuilder) do |address_form| %>
              <% core_element_show :street_number, address_form, :horiz do -%>
                <%= address_form.label(:street_number) %>
                <%= a.street_number -%>
              <% end -%>
              <% core_element_show :street_name, address_form, :horiz do -%>
                <%= address_form.label(:street_name) %>
                <%= a.street_name -%>
              <% end -%>
              <% core_element_show :unit_number, address_form, :horiz do -%>
                <%= address_form.label(:unit_number) %>
                <%= a.unit_number -%>
              <% end -%>
              <% core_element_show :city, address_form, :horiz do -%>
                <%= address_form.label(:city) %>
                <%= a.city -%>
              <% end -%>
              <% core_element_show :state, address_form, :horiz do -%>
                <%= address_form.label(:state) %>
                <%=  l(a.state) -%>
              <% end -%>
              <% core_element_show :postal_code, address_form, :horiz do -%>
                <%= address_form.label(:postal_code) %>
                <%= a.postal_code -%>
              <% end -%>
              <% core_element_show :county, address_form, :horiz do -%>
                <%= address_form.label(:county) %>
                <%= l(a.county) -%>
              <% end -%>
              <% core_element_show :district, address_form, :horiz do -%>
                <%= address_form.label(:district) %>
                <%= l(a.district) -%>
              <% end -%>
            <% end %>
          <% end %>
        </fieldset>
  
        <fieldset class="form">
          <legend>Age</legend>
          <% event_form.fields_for(:person, p, :builder => ExtendedFormBuilder) do |person_form| %>
            <% core_element_show :county, person_form, :horiz do -%>
              <%= person_form.label(:birth_date) %>
              <%= p.birth_date %>
            <% end -%>
            <% if not p.birth_date.blank? %>
              <% core_element_show :approximate_age_no_birthday, person_form, :horiz do -%>
                <%= person_form.label(:age) %>
                <%= calculate_age(p.birth_date) %>
              <% end -%>
            <% elsif not p.approximate_age_no_birthday.blank?  %>
              <% core_element_show :approximate_age_no_birthday, person_form, :horiz do -%>
                <%= person_form.label(:approximage_age) %>
                <%= p.approximate_age_no_birthday %>
              <% end -%>
            <% end %>
          <% end %>
        </fieldset>
  
        <fieldset class="form">
          <legend>Telephone / Email</legend>
          <%= render :partial => 'entities/people/show_telephone', :collection => entity_data.telephone_entities_locations %>
        </fieldset>
  
        <fieldset class="form">
          <legend>Demographics</legend>
    
          <% event_form.fields_for(:person, p, :builder => ExtendedFormBuilder) do |person_form| %>
    
            <% core_element_show :birth_gender, person_form, :horiz do -%>
              <%= person_form.label(:birth_gender) %>
              <%= l p.birth_gender %>
            <% end -%>
    
            <% core_element_show :primary_language, person_form, :horiz do -%>
              <%= person_form.label(:primary_language) %>
              <%= l p.primary_language %>
            <% end -%>
    
            <% core_element_show :ethnicity, person_form, :horiz do -%>
              <%= person_form.label(:ethnicity) %>
              <%= l p.ethnicity %>
            <% end -%>
    
            <br/><br/>
            <label>Race</label>
            <% i = 0; for race in e.races %>
              <%= " and " unless i == 0 %><%= l race %>
              <% i += 1 %>
            <% end %>
    
          <% end %>
        </fieldset>
  
      </fieldset>

    <% end %>
  <% end %>
<% end %>
