-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

= f.hidden_field :parent_element_id

- f.fields_for(:question)  do |q|
  = q.hidden_field :core_data

  %p
    = q.label(:question_text)
    = q.text_field :question_text

  %p
    = q.label(:short_name)
    - if (!q.object.new_record? && !q.object.question_element.short_name_editable?)
      = h q.object.short_name
    - else
      = q.text_field :short_name

  = f.label(:is_active)
  = f.radio_button :is_active, "true"
  = t 'yes_true'
  = f.radio_button :is_active, "false"
  = t 'no_false'

  = f.label(:is_required)
  = f.radio_button :is_required, "true"
  = t 'yes_true'
  = f.radio_button :is_required, "false"
  = t 'no_false'

  %p
    = q.label(:style)
    = q.select(:style, [[I18n.t("question_styles.horizontal"), "horiz"], [I18n.t("question_styles.vertical"), "vert"]], {:include_blank => true})

  %p
    = q.label(:help_text)
    = q.text_area :help_text, :rows => 10

  -if q.object.data_type.to_s == "numeric"
    %p
      =q.label :numeric_min
      =q.text_field :numeric_min

      =q.label :numeric_max
      =q.text_field :numeric_max
