-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:id => "fb-inplace-container", :class => "fb-container"} 
  = error_messages_for :question_element
  %div{:id => "new-question-form", :class => 'fb-inplace-form'}

    %h4=t 'add_new_question'
    - remote_form_for(@question_element, {}, :loading => "$('create_question_submit_#{@reference_element.id}').disabled = 'disabled';" ) do |f|

      = render :partial => 'form', :locals => { :f => f }

      - unless @export_columns.empty?
        %p
          =f.label :export_column_id
          =f.collection_select(:export_column_id, @export_columns, :id, :name, :include_blank => t(:select_cdc_export_field))

      - f.fields_for("question_attributes", @question_element.question)  do |q|
        =q.label :data_type
        =q.select(:data_type, options_for_question_data_type, {:include_blank => true}, {:onchange => "Trisano.FormBuilder.showRelevantQuestionDataTypeFields(this);"})

        %div{:class => "numeric-questions", :style => "display:none"}
          =q.label :numeric_min
          =q.text_field :numeric_min

          =q.label :numeric_max
          =q.text_field :numeric_max
      %p
        = f.submit(t("create"), :id => "create_question_submit_#{@reference_element.id}")
        &nbsp;&nbsp;
        =link_to_close_question_form(t(:close), @reference_element)

  = render :partial => "forms/library", :locals => {:direction => :from_library, :type => :question_element}

 
