<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<script type="text/javascript">
  setTimeout("Element.update('success-message');", 3000);
</script>

<% content_for :title do %>
  PLACE EVENT
<% end %>

<% content_for :name do %>
  <%= @event.active_place.primary_entity.place_temp.name -%>
<% end %>

<% content_for :tools_two do %>
  <span style='margin-left: 1em'>
    <%= button_to_function("Save & Continue", "post_and_return('edit_place_event_#{@event.id}')", :id => "save_and_continue_btn") %>
    <%= button_to_function("Save & Exit", "post_and_exit('edit_place_event_#{@event.id}')", :id => "save_and_exit_btn") %>
  </span>
<% end %>

<% content_for :tools do %>
  <%= link_to_function('Show', "send_url_with_tab_index('#{place_event_path(@event)}')") %>
<% end %>

<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<div id="follow-up-error"></div>

<% form_for(@event, :url => place_event_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
  <%  @event_form = event_form %>

  <% tabs = {
            :place_tab => 'Place',
            :investigation_tab => 'Investigation',
            :notes_tab => 'Notes'
          } %>

  <% tabbed_content(tabs, @tab_index) do %>
    <div id="place_tab">
      <% event_form.fields_for(:active_place, @event.active_place.primary_entity, :builder => ExtendedFormBuilder) do |current_place| %>
        <%= render :partial => "events/places/form", :locals => { :f => current_place, :entity_data => @event.active_place.primary_entity, :event => @event } %>
      <% end %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Place" } %>
    </div>
    <div id="investigation_tab">
      <p>
        <%= render :partial => 'events/disease_investigation_form', :locals => {:f => event_form} %>
      </p>
    </div>
    <div id="notes_tab">
      <p>
        <%= render :partial => 'events/note_form', :locals => {:f => event_form} %>
      </p>
    </div>
  <% end %>
<% end %>
