<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  PLACE EVENT
<% end %>

<% content_for :name do %>
  <%= @event.active_place.active_primary_entity.place_temp.name -%>
<% end %>

<% content_for :watermark do %>
  place event
<% end %>

<%- jurisdiction = @event.active_jurisdiction.active_secondary_entity.current_place %>
<% content_for :tools do %>
  <%= basic_place_event_controls(@event, jurisdiction) %>
  <br />
  Assigned Jurisdiction: <%= jurisdiction.name %>
<% end %>

<script type="text/javascript">
  var myTabs = new YAHOO.widget.TabView("place_event_tabs");
</script>

<%= error_messages_for :object => @event %>

<%= tab_toggler(true) %>

<div id="place_event_tabs" class="yui-navset">
<ul class="yui-nav" id="tabs">
  <li class="selected"><a href="#place_tab"><em>Place</em></a></li>
  <li><a href="#investigation_tab"><em>Investigation</em></a></li>
</ul>

<% form_for(@event, :url => place_event_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
<div class="yui-content">
    
  <div id="place_tab">
    <% place_entity = @event.active_place.active_primary_entity %>
    <%= render :partial => "entities/place/show", :locals => { :entity_data => place_entity, :event_form => event_form } %>
  </div>
  
  <div id="investigation_tab">
    <fieldset>
      <legend>Investigative Information</legend>  
      <table cellpadding="2">
        <% for answer in @event.answers %>
        <tr>
          <td><span class="label"><%= answer.question.question_text -%></span></td>
          <td><%= answer.text_answer -%></td>
        </tr>
        <% end %>
      </table>
    </fieldset>
  </div>
</div>
<% end %>
