<%#
Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the
terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
%>

<%= javascript_include_tag 'events_highlight_error_tabs.js' %>
<%= javascript_include_tag 'pages/cmrs/modified_tabs.js' %>

<% patient_name = "#{@event.interested_party.person_entity.person.first_name} #{@event.interested_party.person_entity.person.last_name}" %>

<% content_for :title do %>
  <%= t 'edit_assessment_event_of', :name => h(patient_name) %>
<% end %>

<% content_for :tools_two do %>
  <%= save_buttons(@event) %>
<% end %>

<% content_for :name do %>
  <% if @event.parent_event -%>
    <div>
      <span style='text-align: right;'>
        <%= original_patient_controls(@event) %>
      </span>
    </div>
  <% end -%>
  <table class='list'>
    <tr>
      <th class='forminformation'><%= t('patient_name') %></th>
      <th><%= t('disease') %></th>
      <th><%= t('jurisdictions') %></th>
      <th><%= t('status') %></th>
      <th><%= t('event_created') %></th>
    </tr>
    <%= render :partial => 'assessment_events/assessment_event', :locals => {:assessment_event => @event, :view_mode => :edit, :extra_tools => " | " + link_to(t('events_normal_case'), cmrs_path_with_defaults) } %>
  </table>
<% end %>

<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<% if User.current_user.can_view?(@event) %>
  <%= render :partial => 'assessment_events/export_options', :locals => { :path => export_single_ae_path(@event, :format => 'csv') } %>
<% end %>
<%= render :partial => 'assessment_events/copy_ae_options' %>

<div id="event-task-form"></div>
<div id="follow-up-error"></div>

<% form_for(setup_human_event_tree(@event), :url => ae_path(@event), :builder => ExtendedFormBuilder, :html => { :onsubmit => "this.action = build_url_with_tab_index(this.action);" } ) do |event_form| %>
  <%  @event_form = event_form %>

  <%# Allow jurisdictions to be changed in development mode, not production %>
  <% unless RAILS_ENV == 'production' %>
    <% jurisdictions = User.current_user.jurisdictions_for_privilege(:create_event) %>
    <% content_for :jurisdiction_selection do %>
      <% event_form.fields_for(:jurisdiction, :builder => ExtendedFormBuilder) do |j| %>
        <% core_element :secondary_entity_id, j, :horiz do -%>
          <%= j.label(:secondary_entity_id) %>
          <%= j.collection_select(:secondary_entity_id, jurisdictions, :entity_id, :name) %>
        <% end -%>
      <% end %>
    <% end %>
  <% end %>

  <% cache_event_fragment @event, "events/#{@event.id}/edit/followup_core_paths" do %>
    <%= render :partial => "events/followup_core_paths", :locals => { :event => @event } %>
  <% end %>

  <% tabbed_content(assessment_event_tabs, @tab_index) do %>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/demographic_tab" do -%>
      <% core_tab(:demographic_tab, event_form) do -%>
        <%= render :partial => "events/people/form", :locals => { :f => event_form, :event => @event } %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Demographics" } %>
      <% end -%>
    <% end -%>

    <!--Do not cache at this level.  There is role-specific logic in the disease_info_form partial-->
    <% core_tab(:clinical_tab, event_form) do -%>
      <%= render :partial => 'events/disease_info_form', :locals => { :f => event_form } %>
      <% cache_event_fragment @event, "events/#{@event.id}/edit/clinical_tab/core_tab_supplemental" do -%>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Clinical" } %>
      <% end -%>
    <% end -%>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/lab_info_tab" do -%>
      <% core_tab(:lab_info_tab, event_form) do -%>
        <%= render :partial => 'events/lab_info_form', :locals => {:f => event_form} %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Laboratory" } %>
      <% end -%>
    <% end -%>

    <!--Do not cache at this level.  There is role-specific logic in the contacts_form partial-->
    <% core_tab(:contacts_tab, event_form) do -%>
      <%= render :partial => 'events/contacts_form', :locals => {:f => event_form} %>
      <% cache_event_fragment @event, "events/#{@event.id}/edit/contacts_tab/core_tab_supplemental" do -%>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Contacts" } %>
      <% end -%>
    <% end -%>

    <!--Do not cache at this level.  There is role-specific logic in the contacts_form partial-->
    <% core_tab(:encounters_tab, event_form) do -%>
      <%= render :partial => 'events/encounters_form', :locals => {:f => event_form} %>
    <% end -%>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/epi_tab" do -%>
      <% core_tab(:epi_tab, event_form) do -%>
        <%= render :partial => 'events/epidemiological_form', :locals => {:f => event_form} %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Epidemiological" } %>
      <% end -%>
    <% end -%>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/reporting_tab" do -%>
      <% core_tab(:reporting_tab, event_form) do -%>
        <%= render :partial => 'events/reporting_agency_form', :locals => {:f => event_form} %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Reporting" } %>
      <% end -%>
    <% end -%>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/investigation_tab" do -%>
      <% core_tab(:investigation_tab, event_form) do -%>
        <%= render :partial => 'events/disease_investigation_form', :locals => {:f => event_form} %>
      <% end -%>
    <% end -%>

    <% cache_event_fragment @event, "events/#{@event.id}/edit/notes_tab" do -%>
      <% core_tab(:notes_tab, event_form) do -%>
        <%= render :partial => 'events/note_form', :locals => {:f => event_form} %>
      <% end -%>
    <% end -%>

    <!--Do not cache at this level.  There is role-specific logic in the partials-->
    <% core_tab(:administrative_tab, event_form) do -%>
      <%= render :partial => 'events/cmr_info_form', :locals => {:f => event_form} %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Administrative" } %>
    <% end -%>

  <% end %>
  <%= event_form.submit t("save_and_exit"), :style => "display: none", :onclick => "this.disabled=true;" %>

<% end %>

<%= alert_if_changed(@event) %>
