-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%table.list
  %tr
    %th.forminformation
      Edit Disease
  %tr
    %td
      %span{ :class => "vert" }
        = f.label(:disease_name, "Disease name")
        = f.text_field(:disease_name)
        = "#{f.check_box(:active)} Active?"

      %span{ :class =>  "vert" }
        = f.label(:cdc_code, "CDC/NETSS code")
        = f.text_field(:cdc_code)

      %span
        = f.label(:case_id, "CDC/NETSS export disease when case is:")

        %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
          %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
            - ExternalCode.find_cases(:all).each do |code|
              = "<label>" + check_box_tag("disease[external_code_ids][]", code.id, @disease.external_code_ids.include?(code.id), :id => code.code_description.tr(" ", "_")) + code.code_description + "</label>"

      %span{ :class => "vert" }
        = f.label(:contact_lead_in, "Contact lead-in question")
        = f.text_area(:contact_lead_in, {:cols => 50, :rows => 5})

      %span{ :class => "vert" }
        = f.label(:place_lead_in, "Place lead-in question")
        = f.text_area(:place_lead_in, {:cols => 50, :rows => 5})

      %span{ :class => "vert" }
        = f.label(:treatment_lead_in, "Treatment lead-in question")
        = f.text_area(:treatment_lead_in, {:cols => 50, :rows => 5})