-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Diseases

/- content_for :name do

/- content_for :tools do

- content_for :tools_two do
  = button_to("Create new disease", {:action => "new"}, { :method => :get })

#rot
  %table.listingforms
    %tr
      %th.forminformation
        Diseases
      %th
    - for disease in @diseases
      %tr
        %td.forminformation
          .formname
            = link_to disease.disease_name, disease
            .tools
              = disease.active? ? 'Active' :  'Inactive'
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to('Edit', edit_disease_path(disease))
            |
            = link_to('Show', disease_path(disease))