-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header
  =t('admin_info')
  = render :partial => 'events/print_page_header.html.haml', :locals => { :entity_data => entity_data, :event_form => event_form }

%span{:class => "horiz"}
  %span.print-label=ct('record_number')
  %span.print-value= h(@event.record_number)

%span{:class => "vert"}
  %span.print-label=ct('date_record_created')
  %span.print-value= ld(@event.event_onset_date)

%span{:class => "horiz"}
  %span.print-label=ct('mmwr_year')
  %span.print-value= h(@event.MMWR_year)

%span{:class => "vert"}
  %span.print-label=ct('mmwr_week')
  %span.print-value= h(@event.MMWR_week)


-EventTypeTransition.for(@event).each do |transition|
  %span.vert
    %span.print-value= "Promoted from #{transition.was.underscore.humanize} to #{transition.became.underscore.humanize} on #{transition.created_at.to_date} at #{transition.created_at.strftime("%H:%m %p")} by #{transition.by.try(:user_name) || "an unknown user"}"

%span{:class => "vert"}
  %span.print-label=ct('jurisdiction_of_residence')
  - if @event.address
    - address = @event.address
    - if address && address.county && address.county.jurisdiction
      - jurisdiction_name = address.county.jurisdiction.name
    %span.print-value= jurisdiction_name.blank? ? t('not_applicable') : h(jurisdiction_name)

%span.subsection-header
  =t 'case_outbreak'
- core_element_print :lhd_case_status_id, event_form, :horiz do
  %span.print-label=ct('lhd_case_status')
  %span.print-value= h(l(@event.lhd_case_status)) || '&nbsp;'
- core_element_print :state_case_status_id, event_form, :vert do
  %span.print-label=ct('state_case_status')
  %span.print-value= h(l(@event.state_case_status)) || '&nbsp;'
- core_element_print :outbreak_associated_id, event_form, :horiz do
  %span.print-label=ct('outbreak_associated')
  %span.print-value= h(l(@event.outbreak_associated)) || '&nbsp;'
- core_element_print :outbreak_name, event_form, :vert do
  %span.print-label=ct 'outbreak_name'
  %span.print-value= h(@event.outbreak_name) || '&nbsp;'

%span.subsection-header
  =t 'investigation'
- event_form.fields_for(:jurisdiction, :builder => ExtendedFormBuilder) do |j|
  - core_element_print :secondary_entity_id, j, :horiz do
    %span.print-label=ct 'responsible_jurisdiction'
    %span.print-value= h(@event.jurisdiction.secondary_entity.place.name) unless @event.jurisdiction.nil?
  - core_element_print :workflow_state, event_form, :vert do
    %span.print-label= ct 'event_status'
    %span.print-value= h(@event.state_description) || '&nbsp;'
  - core_element_print :investigation_started_date, event_form, :horiz do
    %span.print-label=ct 'date_investigation_started'
    %span.print-value= ld(@event.investigation_started_date)
  - core_element_print :investigation_completed_LHD_date, event_form, :vert do
    %span.print-label= ct 'date_investigation_completed'
    %span.print-value= ld(@event.investigation_completed_LHD_date)

%span.subsection-header
  =t('auditing')
- core_element_print :event_name, event_form, :horiz do
  %span.print-label=t('event_name')
  %span.print-value= h(@event.event_name) || '&nbsp;'
- core_element_print :review_completed_by_state_date, event_form, :horiz do
  %span.print-label=ct('date_review_completed_by_state')
  %span.print-value= h(ld(@event.review_completed_by_state_date)) || '&nbsp;'
- core_element_print :acuity, event_form, :vert do
  %span.print-label=ct 'acuity'
  %span.print-value= h(@event.acuity) || '&nbsp;'
