-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%div{:class => 'clinician', :style => "clear: both;"}

  -# TGRII:  What's supposed to happen in this file regarding core fields?!!!

  - f.fields_for(:person_entity, :builder => ExtendedFormBuilder) do |cf|
    - cf.fields_for(:person, :builder => ExtendedFormBuilder) do |person_fields|
      #new_clinician
        = error_messages_for :object => person_fields.object
        = person_fields.hidden_field(:person_type)
        %span{:class => 'horiz'}
          = person_fields.label(:last_name)
          = person_fields.text_field(:last_name, :size => 20, :maxlength => 25, :class => 'required_if_others')
        %span{:class => 'horiz'}
          = person_fields.label(:first_name)
          = person_fields.text_field(:first_name, :size => 20, :maxlength => 25)
        %span{:class => 'horiz'}
          = person_fields.label(:middle_name)
          = person_fields.text_field(:middle_name, :size => 20, :maxlength => 25)

      %span.vert
        - cf.fields_for(:telephones, :builder => ExtendedFormBuilder) do |phone_fields|
          %span.horiz
            = phone_fields.label :entity_location_type_id
            = phone_fields.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {})
          -if Telephone.use?(:country_code)
            %span.horiz
              = phone_fields.label(:country_code)
              = phone_fields.core_text_field(:country_code, {:size => 3})
          -if Telephone.use?(:area_code)
            %span.horiz
              = phone_fields.label(:area_code)
              = phone_fields.core_text_field(:area_code, {:size => 3})
          %span.horiz
            = phone_fields.label(:phone_number)
            = phone_fields.core_text_field(:phone_number, {:size => 8})
          %span.horiz
            = phone_fields.label(:extension)
            = phone_fields.core_text_field(:extension, {:size => 6})
      %hr
