-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header
  =t 'clinical_info'
  = render :partial => 'events/print_page_header.html.haml', :locals => { :entity_data => entity_data, :event_form => event_form }

- event_form.fields_for(:disease_event, :builder => ExtendedFormBuilder) do |d|
  - core_element_print :disease_id, d, :horiz do
    %span.print-label= ct 'disease'
    %span.print-value= h(@event.disease.disease.disease_name) unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :disease_onset_date, d, :horiz do
    %span.print-label= ct 'onset_date'
    %span.print-value= ld(@event.disease.disease_onset_date) unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :date_diagnosed, d, :horiz do
    %span.print-label= ct 'date_diagnosed'
    %span.print-value= ld(@event.disease.date_diagnosed) unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :hospitalized_id, d, :horiz do
    %span.print-label= ct 'hospitalized'
    %span.print-value= h(lookup_code(@event.disease.hospitalized)) unless @event.disease.nil?
  - core_element_print :died_id, d, :horiz do
    %span.print-label= ct 'died'
    %span.print-value= h(lookup_code(@event.disease.died)) unless @event.disease.nil?

- event_form.fields_for(:interested_party, @event.interested_party, :builder => ExtendedFormBuilder) do |active_patient_form|
  - active_patient_form.fields_for(:person_entity, @event.interested_party.person_entity, :builder => ExtendedFormBuilder) do |primary_form|
    - primary_form.fields_for(:person, @event.interested_party.person_entity.person, :builder => ExtendedFormBuilder) do |person_form|
      - core_element_print :date_of_death, person_form, :vert do
        %span.print-label= ct 'date_of_death'
        %span.print-value= ld(entity_data.person.date_of_death)

- event_form.fields_for(:interested_party, :builder => ExtendedFormBuilder) do |patient_fields|
  - patient_fields.fields_for(:risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
    - core_element_print :pregnant_id, risk_factor_form, :horiz do
      %span.print-label=ct 'pregnant'
      %span.print-value= h(lookup_code(@event.safe_call_chain(:interested_party, :risk_factor, :pregnant)))
    - core_element_print :pregnancy_due_date, risk_factor_form, :horiz do
      %span.print-label=ct('pregnancy_due_date', :scope => [:activerecord, :attributes, :participations_risk_factor])
      %span.print-value= ld(@event.safe_call_chain(:interested_party, :risk_factor, :pregnancy_due_date))

%span.subsection-header=t 'hospitalized_health_facilities'
- unless association_recorded?(@event.hospitalization_facilities)
  %b{ :style => 'font-size: 11px' }="No hospitalized health facilities have been recorded for this #{h(@event.class.name.underscore.humanize.downcase)}"
- else
  - event_form.fields_for(:hospitalization_facilities, :builder => ExtendedFormBuilder) do |hf|
    - core_element_print :secondary_entity_id, hf, :horiz do
      %span.print-label=ct 'hospitalized_health_facility'
      %span.print-value= h(hf.object.safe_call_chain(:place_entity, :place, :name))
    - hf.fields_for(:hospitals_participation, :builder => ExtendedFormBuilder) do |hp|
      - core_element_print :admission_date, hp, :horiz do
        %span.print-label=ct 'admission_date'
        %span.print-value= h(hp.object.safe_call_chain(:admission_date))
      - core_element_print :discharge_date, hp, :horiz do
        %span.print-label=ct 'discharge_date'
        %span.print-value= h(hp.object.safe_call_chain(:discharge_date))
      - core_element_print :medical_record_number, hp, :horiz do
        %span.print-label=ct 'medical_record_number'
        %span.print-value= h(hp.object.safe_call_chain(:medical_record_number))

%br
%span.subsection-header=t 'diagnosing_health_facilities'
-core_element_print(:diagnostic_facilities, event_form, :vert) do
  - unless association_recorded?(@event.diagnostic_facilities)
    %b{ :style => 'font-size: 11px' }="No diganosing health facilities have been recorded for this #{h(@event.class.name.underscore.humanize.downcase)}"
  - else
    .three-valued-row
      .short
        %span.print-label=ct 'name'
      .short
        %span.print-label=ct 'address'
      .short
        %span.print-label=ct 'type'
      %br
    - for diagnostic in @event.diagnostic_facilities
      .three-valued-row
        .short
          %span.print-value
            = h(diagnostic.place_entity.place.name)
        .short
          %span.print-value
            = h(preferred_address(diagnostic.safe_call_chain(*%w(place_entity place))))
            &nbsp;
        .short
          %span.print-value
            = h(diagnostic.safe_call_chain(:place_entity, :place, :formatted_place_descriptions))

%span.subsection-header
  =t 'treatments'

- unless @event.safe_call_chain(:disease_event, :disease, :treatment_lead_in).blank?
  %span.print-label=h @event.disease.disease.treatment_lead_in
  %br
  %br

- core_element_print :treatments, event_form, :vert do
  = render :partial => 'events/treatments_list_print.html.haml', :locals => { :event => @event }

%span.subsection-header=t 'clinicians'
- core_element_print :clinicians, event_form, :vert do
  - unless association_recorded?(@event.clinicians)
    %b{ :style => 'font-size: 11px' }="No clinicians have been recorded for this #{h(@event.class.name.underscore.humanize.downcase)}"
  - else
    .three-valued-row
      .left
        %span.print-label= ct 'name'
      .left
        %span.print-label= ct 'phone'
      %br
      - for clinician in @event.clinicians
        - next if clinician.new_record?
        - clinician_entity = clinician.person_entity
        - clinician_person = clinician_entity.person
        - clinician_phone  = clinician_entity.primary_phone

        .three-valued-row
          .left
            %span.print-value
              = h(clinician_person.last_comma_first)
          .left
            %span.print-value
              = h(clinician_phone.simple_format)


