-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%span.section-header
  Contacts
  = render :partial => 'events/print_page_header.html.haml', :locals => { :entity_data => entity_data, :event_form => f }

= h @event.safe_call_chain(:disease_event, :disease, :contact_lead_in)

- core_element_print :contacts, f, :vert do
  - ran = nil
  - unless association_recorded?(@event.contact_child_events)
    %b{ :style => 'font-size: 11px' }="No contacts have been recorded for this #{@event.class.name.underscore.humanize.downcase}"
  - else
    - for contact in @event.contact_child_events
      - contact_entity = contact.interested_party.person_entity
      - person = contact_entity.person
      - contact_phone = contact_entity.primary_phone
      - contact_event_data = contact.participations_contact
      - address = contact.address

      #name
        - unless ran.nil?
          %br
          %hr
        .three-valued-row
          .left
            %span.print-label Last Name:
            %span.print-value
              = person.last_name
          .left
            %span.print-label First Name:
            %span.print-value
              = person.first_name
          .right
            %span.print-label Middle Name:
            %span.print-value
              = person.middle_name

      #address
        .three-valued-row
          .left
            %span.print-label Address:
            - unless address.nil?
              %span.print-value
                = "#{address.street_number} #{address.street_name}" + ((not address.unit_number.blank?) ? ", Unit #{address.unit_number}" : "")
          .left
            %span.print-label City:
            - unless address.nil?
              %span.print-value
                = address.city
          .right
            %span.print-label State:
            - unless address.nil?
              %span.print-value
                = l address.state

        .three-valued-row
          .left
            %span.print-label County:
            - unless address.nil?
              %span.print-value
                = l address.county
          .left
            %span.print-label Zip code:
            - unless address.nil?
              %span.print-value
                = address.postal_code

      #event-data
        .three-valued-row
          .left
            %span.print-label
              Disposition:
            %span.print-value
              = contact_event_data.disposition.code_description if contact_event_data and contact_event_data.disposition
          .left
            %span.print-label
              Contact Type:
            %span.print-value
              = contact_event_data.contact_type.code_description if contact_event_data and contact_event_data.contact_type

      - ran = 1
