%table.list
  %tr
    %th Name
    %th Disposition
    %th Contact type
    %th Phone
    %th

  - for contact in contacts
    - contact_entity = contact.interested_party.person_entity
    - person = contact_entity.person
    - contact_phone = contact_entity.primary_phone
    - contact_event_data = contact.participations_contact

    - if contact.deleted_at
      - style = {:class => 'struck-through'}
    - else
      - style = {}

    %tr
      %td{style}= h(person.last_comma_first)
      %td{style}= h(contact_event_data.disposition.code_description) if contact_event_data and contact_event_data.disposition
      %td{style}= h(contact_event_data.contact_type.code_description) if contact_event_data and contact_event_data.contact_type

      %td{style} 
        -unless contact_phone.nil? 
          = h(contact_phone.simple_format)
      %td
        .tools
          = show_and_edit_event_links(contact)
