- f.fields_for(:interested_party, :builder => ExtendedFormBuilder) do |ip|
  = ip.hidden_field(:primary_entity_id)

  - contact_entity = ip.object.person_entity
  - person = contact_entity.person
  - contact_phone = contact_entity.primary_phone

  %span.horiz{:style => "clear: both;"}
    = label_tag "Name"
    = person.last_comma_first
  %span.horiz
    = label_tag "Phone"
    -unless contact_phone.nil? 
      %span.horiz= contact_phone.simple_format

- f.fields_for(:participations_contact, :builder => ExtendedFormBuilder) do |pc_fields|
  %span.horiz
    = pc_fields.label(:disposition_id)
    = pc_fields.dropdown_code_field(:disposition_id, 'contactdispositiontype')
  %span.horiz
    = pc_fields.label(:contact_type_id)
    = pc_fields.dropdown_code_field(:contact_type_id, 'contact_type')

%span.vert
  &nbsp;
  = link_to("Edit contact event", edit_contact_event_path(f.object), {:id => "edit-contact-event"}) unless f.object.new_record?

%br