
.contact_from_search{ :style => "clear: both;" }
  - f.fields_for(:interested_party, :builder => ExtendedFormBuilder) do |ip|
    = ip.hidden_field(:primary_entity_id)
    - ip.fields_for(:person_entity, :builder => ExtendedFormBuilder) do |pe|
      - pe.fields_for(:person, :builder => ExtendedFormBuilder) do |p|
        %span.horiz
          = label_tag t("name")
          = h(p.object.last_comma_first)
      %span.horiz
        = label_tag t("phone")
        -if pe.object.primary_phone.nil?
          &nbsp;
        -else
          %span.horiz= pe.object.primary_phone.simple_format

  - f.fields_for(:participations_contact, :builder => ExtendedFormBuilder) do |pc_fields|
    %span.horiz
      - if @event
        = pc_fields.label(:disposition_id)
        = pc_fields.dropdown_code_field(:disposition_id, 'contactdispositiontype', {}, {}, @event)
      - else
        = pc_fields.label(:disposition_id)
        = pc_fields.dropdown_code_field(:disposition_id, 'contactdispositiontype')
    %span.horiz
      = pc_fields.label(:contact_type_id)
      = pc_fields.dropdown_code_field(:contact_type_id, 'contact_type')
    - if f.object.new_record?
      -# This place was added via live search. Provide a mechanism for removing the place before saving.
      %span.horiz
        &nbsp;
        %br
        = link_to_function(t("remove"), "this.up().up().remove()", :id => "remove_#{uniq_id}")
  %br
  %br
