-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%fieldset
  %legend 
    =t "encounter_info"
    %span{:id => 'encounters_info_hide', :onClick => "Element.hide('encounter_info'); Element.hide('encounters_info_hide'); Element.show('encounters_info_show'); return false;"}= hide
    %span{:id => 'encounters_info_show', :onClick => "Element.show('encounter_info'); Element.hide('encounters_info_show'); Element.show('encounters_info_hide'); return false;", :style => "display: none;"}= show

  #encounter_info
    -core_section :encounters_section, f do
      #encounter_child_events
        -core_element(:encounters, f, :horiz) do
          - unless f.object.new_record?
            - f.fields_for(:encounter_child_events, :builder => ExtendedFormBuilder) do |e|
              = render :partial => "events/encounter", :locals => { :f => e }

            -cache_event_fragment @event, "events/#{@event.id}/showedit/encounters_tab/child_events" do
              - blank_encounter = EncounterEvent.new
              - blank_encounter.build_participations_encounter

              %p= add_record_link f, :encounter_child_events, t("add_encounter"), :object => blank_encounter, :partial => "events/encounter"

          - else
            =t 'no_encounters', :thing => 'event'

  -cache_event_fragment @event, "events/#{@event.id}/showedit/encounters_tab/encounter_notes" do
    -core_section :encounter_notes_section, f do
      #encounter_notes
        - unless @event.encounter_child_events.first.new_record?
          - for encounter in @event.encounter_child_events
            - pe = encounter.participations_encounter
            %h3=t('encounter_on', :date => ld(pe.encounter_date))
            = render(:partial => 'event_notes/list', :locals => { :notes => encounter.notes })

        - else
          %h3= t 'no_encounter_notes'
