%div
  - form_tag(event_forms_path(@event, :return => edit_event_path(@event)), :method => "post", :id => "forms_change_form") do
    %p.message
    %p
      = "You may add the new forms available for the current disease if present. "
      = "You may additionally remove the old forms for the event if present."
    %hr
    = hidden_field_tag "event_id", @event.id
    %div{:id => "forms_in_use"}
      =t 'forms_in_use'
      - if @event.form_references.empty?
        %p
          %em=t 'none'
      - else
        %ul
          - for form_reference in @event.form_references
            %li
              = check_box_tag "forms_to_remove[]", form_reference.form_id, false
              = form_reference.form.name
    %div{:id => "forms_available"}
      =t 'forms_available'
      - if @event.available_form_references.empty?
        %p
          %em=t 'none'
      - else
        %ul
          - for form_reference in @event.available_form_references
            %li
              = check_box_tag "forms_to_add[]", form_reference.form.id
              = form_reference.form.name
    %hr
    %div
      = submit_tag "Change Forms", :id => "save_forms_button", :disabled => true
      = submit_tag "Cancel", :id => "cancel_forms_button"