%div
  - form_tag(event_forms_path(@event, :return => edit_event_path(@event)), :method => "post", :id => "forms_change_form") do
    %p.message
    %p=t 'forms_change_form', :disease_name => @event.disease_event.disease.disease_name
    %hr
    = hidden_field_tag "event_id", @event.id
    %div{:id => "forms_in_use"}
      %h3
        =t 'remove_from_event'
      - if @event.forms_to_remove.empty?
        %p
          %em=t 'none'
      - else
        %ul
          - for form in @event.forms_to_remove
            %li
              = check_box_tag "forms_to_remove[]", form.id, false
              = form.name
    %hr
    %div{:id => "forms_available"}
      %h3
        =t 'auto_add_to_event', :disease_name => @event.disease_event.disease.disease_name
      - if session[:available_forms].empty?
        %p
          %em=t 'none'
      - else
        %ul
          - for form in session[:available_forms]
            %li
              = form.name
    %hr
    %div{:id => "forms_common"}
      %h3
        =t 'common_form_references'
      - if session[:common_forms].empty?
        %p
          %em=t 'none'
      - else
        %ul
          - for form in session[:common_forms]
            %li
              = form.name
    %hr
    %div
      = submit_tag "Remove Forms", :id => "save_forms_button", :disabled => true
      = submit_tag "Cancel", :id => "cancel_forms_button"