-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:class => 'hospital', :style => "clear: both;"}

  = error_messages_for :object => f.object
  %span{:class => "horiz"}
    - core_element :secondary_entity_id, f, :vert do
      = f.label(:secondary_entity_id)
      = f.collection_select(:secondary_entity_id, Place.hospitals, :entity_id, :name, {:include_blank => true})

  - f.fields_for(:hospitals_participation, :builder => ExtendedFormBuilder) do |hp|
    %span{:class => "horiz"}
      - core_element :admission_date, hp, :vert do
        = hp.label(:admission_date)
        = hp.calendar_date_select(:admission_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

    %span{:class => "horiz"}
      - core_element :discharge_date, hp, :vert do
        = hp.label(:discharge_date)
        = hp.calendar_date_select(:discharge_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

    %span{:class => "horiz"}
      - core_element :medical_record_number, hp, :vert do
        = hp.label :medical_record_number
        = hp.text_field(:medical_record_number, :size => 20, :maxlength => 255)

    %span.horiz
      - unless f.object.new_record?
        = f.label :_delete
        = f.check_box :_destroy
  - if f.object.new_record?
    %span.ajax-actions
      %a{:href=>"#", :class=>"save-new-hospital-participation"} Save
      |
      %a{:href=>"#", :class=>"discard-new-hospital-participation"} Discard
  %hr
