%span{:class => "horiz"}
  - core_element :admission_date, hp, :vert do
    = hp.label(:admission_date)
    = hp.calendar_date_select(:admission_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

%span{:class => "horiz"}
  = hp.label(:discharge_date)
  = hp.calendar_date_select(:discharge_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

%span{:class => "horiz"}
  = hp.label :medical_record_number
  = hp.text_field(:medical_record_number, :size => 20, :maxlength => 255)

%span.horiz
  - unless f.object.new_record?
    = f.label :_delete
    = f.check_box :_destroy
