%br
- section_id = "section_investigate_#{h(section.id)}"
- hide_id = section_id + "_hide"
- show_id = section_id + "_show"

%fieldset{:class => 'form_section vert-break'}
  %legend
    = h(strip_tags(section.name))
    - unless section.help_text.blank?
      = render_help_text(section) + "&nbsp;"

    / Because of the way the investigator section elements are rendered
    / using form_builder_dsl.rb, it's not easy to show and hide sections

    /%span{:id => hide_id, :onclick => "Element.hide('#{section_id}'); Element.hide('#{hide_id}'); Element.show('#{show_id}'); return false;"}
    /  = "[" + t('hide') + "]"

    /%span{:id => show_id, :onclick => "Element.show('#{section_id}'); Element.hide('#{show_id }'); Element.show('#{hide_id}'); return false;", :style => "display: none;"} 
    /  = "[" + t('show') + "]"

  %div{:id => section_id}
    - unless section.description.blank?
      %li
        %i= section.description.gsub("\n", '<br/>')
        %br
        %br
