-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend
    =t :laboratory_information
    %span{:id => 'lab_info_hide', :onClick => "Element.hide('labs'); Element.hide('lab_info_hide'); Element.show('lab_info_show'); return false;"}= hide
    %span{:id => 'lab_info_show', :onClick => "Element.show('labs'); Element.hide('lab_info_show'); Element.show('lab_info_hide'); return false;", :style => "display: none;"}= show

  #labs
    -core_section :labs_section, f do

      -core_element(:labs, f, :horiz) do
        %div{:id => "labs"}
          - f.fields_for(:labs, :builder => ExtendedFormBuilder) do |lab_fields|
            = render :partial => "events/lab", :locals => { :f => lab_fields }

      #new_lab_holder

      %p
        = add_lab_link t('add_new_lab'), f.object_name

    - if @event.supports_encounter_specific_labs?
      = render :partial => "events/encounter_specific_labs", :locals => { :event => @event, :f => f }

