-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- ran = nil
- unless association_recorded?(event.labs)
  %b{ :style => 'font-size: 11px' }=t('no_labs', :thing => h(event.class.name.underscore.humanize.downcase))
- else
  - for lab in event.labs
    - for lab_result in lab.lab_results
      #lab
        - unless ran.nil?
          %br
          %hr
        .left
          %span.print-label=ct('lab_name')
          %span.print-value
          = h(lab.place_entity.place.name)
        .three-valued-row
          .left
            %span.print-label=ct('test_type')
            %span.print-value
              = h(lab_result.test_type.try(:common_name))
          .left
            %span.print-label=ct('test_result')
            %span.print-value
              = h(l(lab_result.test_result))
          .right
            %span.print-label=ct('organism')
            %span.print-value
              = h(lab_result.organism.try(:organism_name))
        .three-valued-row
          .left
            %span.print-label=ct('result_value')
            %span.print-value
              = h(lab_result.result_value)
          .left
            %span.print-label=ct('units')
            %span.print-value
              = h(lab_result.units)
          .right
            %span.print-label=ct('reference_range')
            %span.print-value
              = h(lab_result.reference_range)
        .three-valued-row
          .left
            %span.print-label=ct('test_status')
            %span.print-value
              = h(l(lab_result.test_status))
          .left
            %span.print-label=ct('specimen_source')
            %span.print-value
              = h(l(lab_result.specimen_source))
          .right
            %span.print-label=ct('collection_date')
            %span.print-value
              = ld(lab_result.collection_date)
        .three-valued-row
          .left
            %span.print-label=ct('specimen_sent_to_state_lab')
            %span.print-value
              = h(l(lab_result.specimen_sent_to_state))
          .left
            %span.print-label=ct('lab_test_date')
            %span.print-value
              = ld(lab_result.lab_test_date)
          .right
            %span.print-label=ct('comment')
            %span.print-value
              = h(lab_result.comment)
    - ran = 1
