-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- lab_form = nil

- if defined? f
  - lab_form = f
- else
  - fields_for(prefix + "[labs_attributes][#{uniq_id}]", lab, :builder => ExtendedFormBuilder) do |lr|
    - lab_form = lr

- lab_id = lab_form.object.id || uniq_id

%div{:class => 'lab', :style => "clear: both;"}
  = error_messages_for :object => lab_form.object

  - core_element(:secondary_entity_id, f, :vert) do
    = lab_form.label :secondary_entity_id
    = lab_form.collection_select(:secondary_entity_id, PlaceEntity.labs.active, :id, :name, { :include_blank => true }, { :class => 'required_if_others' })

  - if defined?(f) && !f.object.new_record?
    %span.horiz
      = f.label :_destroy
      = f.check_box :_destroy

  %ul{ :id => "lab-list-#{lab_id}" }
    - lab_form.fields_for(:lab_results, :builder => ExtendedFormBuilder) do |lab_result_fields|
      = render :partial => "events/lab_result", :locals => { :f => lab_result_fields, :lab_id => lab_id }

    %div{:id => "new_lab_result_holder_#{lab_id}"}

  %p{:style => "clear: both; margin-left: 20px"}
    = add_lab_result_link t('add_new_lab_result'), lab_form.object_name, lab_id

  %hr{:style => "height: 2px; color: black; background-color: black"}
