-# Hack.  This template is rendered from both the ordinary CMR form and via the live-search
-# Ajax callback.  During the latter we do not have the proper namespace set up for form
-# fields.  This does that.
- lab_result_form = nil
- if defined? f
  - lab_result_form = f
- else
  - uniq_id = Time.now.to_i
  - fields_for(prefix + "[lab_results_attributes][#{uniq_id}]", lab_result, :builder => ExtendedFormBuilder) do |lr|
    - lab_result_form = lr

-# get the lab result
- lab_result = lab_result_form.object

%div{:class => "lab_result", :style => "clear: both; margin-left: 20px;"}
  = error_messages_for :object => lab_result_form.object

  %i If any lab result information is provided it must include Test Type.  In addition one or both of 'Test result' and 'Interpretation' must be supplied.

  - core_element("test_type", lab_result_form, :horiz) do
    = lab_result_form.label(:test_type)
    -# @event will be nil if this partial is being rendered from an Ajax call: i.e., 'Add a new lab' or 'Add a new lab result to this lab'
    -# @disease is set by the Ajax controller actions to the currently selected disease, if any
    - disease = @disease || @event.try(:disease_event).try(:disease)
    = lab_result_form.collection_select(:test_type_id, test_type_options(@event, disease, lab_result), :id, :common_name, {:include_blank => true}, {:onchange => "get_test_type_options(this);"})

  - core_element("test_result", lab_result_form, :horiz) do
    = lab_result_form.label(:test_result)
    = lab_result_form.dropdown_code_field(:test_result_id, "test_result", {})

  - core_element("reference_range", lab_result_form, :horiz) do
    = lab_result_form.label(:reference_range)
    = lab_result_form.text_field(:reference_range, :size => 20, :maxlength => 255)
  %span.vert
  - core_element("specimen_source", lab_result_form, :horiz) do
    = lab_result_form.label(:specimen_source_id, "Specimen source")
    = lab_result_form.dropdown_code_field(:specimen_source_id, "specimen", {})
  - core_element("collection_date", lab_result_form, :horiz) do
    = lab_result_form.label(:collection_date)
    = lab_result_form.calendar_date_select(:collection_date, :year_range => 5.years.ago..0.years.from_now)
  - core_element("lab_test_date", lab_result_form, :horiz) do
    = lab_result_form.label(:lab_test_date)
    = lab_result_form.calendar_date_select(:lab_test_date, :year_range => 5.years.ago..0.years.from_now)
  - core_element("specimen_sent_to_uphl", lab_result_form, :horiz) do
    = lab_result_form.label(:specimen_sent_to_uphl_yn_id, "Specimen sent to UPHL?")
    = lab_result_form.dropdown_code_field(:specimen_sent_to_uphl_yn_id, "yesno", {})

  - if lab_result.try(:staged_message)
    %span.horiz
      %label Original report
      = link_to 'Electronic Lab Report', staged_message_path(lab_result.staged_message)

  - if defined?(f) && !f.object.new_record?
    %span.vert
      = lab_result_form.label :_delete, "Remove"
      = lab_result_form.check_box :_delete

  %hr{:style => "position: relative; top: 5px"}
