-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

#labs
  - if f.object.labs.all? { |l| l.new_record? }
    %h3{:style => 'clear: both;'}=t('no_lab_results')
  - else
    - f.fields_for(:labs, :builder => ExtendedFormBuilder) do |lab|
      - lab.fields_for(:lab_results, :builder => ExtendedFormBuilder) do |lab_result|
        - core_element_show(:secondary_entity_id, lab, :horiz) do
          = lab.label :secondary_entity_id
          %b= h(lab.object.place_entity.place.name)
          %br
        = link_to(t('electronic_lab_report'), staged_message_path(lab_result.object.staged_message)) if lab_result.object.staged_message
        - core_element_show(:test_type, lab_result, :horiz) do
          = lab_result.label :test_type
          %b= h(lab_result.object.test_type.try(:common_name))
        - core_element_show(:organism, lab_result, :horiz) do
          = lab_result.label :organism
          %b= h(lab_result.object.organism.try(:organism_name))
        - core_element_show(:accession_no, lab_result, :horiz) do
          = lab_result.label :accession_no
          %b= h(lab_result.object.accession_no)
        - core_element_show(:test_result, lab_result, :horiz) do
          = lab_result.label :test_result
          %b= h(l(lab_result.object.test_result))
        - core_element_show(:result_value, lab_result, :horiz) do
          = lab_result.label :result_value
          %b= h(lab_result.object.result_value)
        - core_element_show(:units, lab_result, :horiz) do
          = lab_result.label :units
          %b= h(lab_result.object.units)
        - core_element_show(:reference_range, lab_result, :horiz) do
          = lab_result.label :reference_range
          %b= h(lab_result.object.reference_range)
        - core_element_show(:test_status, lab_result, :horiz) do
          = lab_result.label :test_status
          %b= h(l(lab_result.object.test_status))
        - core_element_show(:specimen_source, lab_result, :horiz) do
          = lab_result.label :source
          %b= h(l(lab_result.object.specimen_source))
        - core_element_show(:collection_date, lab_result, :horiz) do
          = lab_result.label :collection_date
          %b= ld(lab_result.object.collection_date)
        - core_element_show(:lab_test_date, lab_result, :horiz) do
          = lab_result.label :lab_test_date
          %b= ld(lab_result.object.lab_test_date)
        - core_element_show(:specimen_sent_to_state, lab_result, :horiz) do
          = lab_result.label :specimen_sent_to_state
          %b= h(l(lab_result.object.specimen_sent_to_state))
        %span.vert
          - core_element_show(:comment, lab_result, :horiz) do
            = lab_result.label :comment
            %b= h(lab_result.object.comment)
      %br
      %hr
