%span.section-header
  Notes
  = render :partial => 'events/print_page_header.html.haml', :locals => { :entity_data => entity_data, :event_form => event_form }

- if @event.notes.empty?
  %h3 No notes have been recorded for this event
- else
  - if print_options.include?('All') || (print_options.include?('Clinical Notes') && print_options.include?('Administrative Notes'))
    - notes = @event.notes
  - elsif print_options.include?('Clinical Notes')
    - notes = @event.notes.clinical
  - elsif print_options.include?('Administrative Notes')
    - notes = @event.notes.admin

  - for note in notes
    .three-valued-row
      .left
        %span.print-label User:
        %span.print-value= note.user.best_name
      .left
        %span.print-label Note type:
        %span.print-value= note.note_type.humanize unless note.note_type.blank?
      .left
        %span.print-label Date note created:
        %span.print-value= note.created_at.strftime("%a, %b %d, %Y at %I:%M %p")

    %br
    %span.print-value
      - note_body = simple_format(note.note)
      - if note.struckthrough?
        %div{:id => "note_#{note.id}", :class => 'struck-through'}= note_body
      - else
        %div{:id => "note_#{note.id}"}= note_body
    %hr
