%span.section-header
  Notes
  = render :partial => 'events/print_page_header.html.haml', :locals => { :entity_data => entity_data, :event_form => event_form }

- if @event.notes.empty?
  %h3= t 'no_notes'
- else
  - if print_options.include?(t 'all') || (print_options.include?(t 'clinical_notes') && print_options.include?(t 'administrative_notes'))
    - notes = @event.notes
  - elsif print_options.include?(t 'clinical_notes')
    - notes = @event.notes.clinical
  - elsif print_options.include?(t 'administrative_notes')
    - notes = @event.notes.admin

  - for note in notes
    .three-valued-row
      .left
        %span.print-label=ct 'user'
        %span.print-value= h(note.user.best_name)
      .left
        %span.print-label= ct 'note_type'
        %span.print-value= h(note.note_type.humanize) unless note.note_type.blank?
      .left
        %span.print-label= ct 'date_note_created'
        %span.print-value= h(ld(note.created_at, {:format => :notes}))

    %br
    %span.print-value
      - note_body = simple_format(h(note.note))
      - if note.struckthrough?
        %div{:id => "note_#{note.id}", :class => 'struck-through'}= note_body
      - else
        %div{:id => "note_#{note.id}"}= note_body
    %hr

  -# For lack of a better place
  - if print_options.include?(t 'clinical_notes')
    %span.subsection-header
      =t 'event_attachments'
    - unless @event.attachments.empty?
      - for attachment in @event.attachments
        %span.print-label= ct 'file_name'
        %span.print-value=h(attachment.filename)
        %span.print-label= ct 'category'
        %span.print-value=h(attachment.category.humanize)
        %span.print-label= ct 'location'
        %span.print-value=h(event_attachment_url(@event, attachment))
    - else
      %span=t 'no_attachments'
