- content_for :title do
  =t 'permission_denied'

= content_tag(:p, reason + ". #{link_to(t('please_exit'), home_path, :style => 'color: white; text-decoration: underline;')}.", :class => 'banner-warning')

-if defined?(event) && event
  %b
    = ct('assigned_jurisdiction')
  %br
  = event.primary_jurisdiction.name
  %br
  %br

  %b 
    = ct 'jurisdictions_with_access'
  - for participation in event.all_jurisdictions
    %br
    = participation.secondary_entity.place.name

  %br


