-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-# Display the search results of a places paginated search

- results_action = params[:results_action].blank? ? 'add' : params[:results_action]

- if flash[:error]
  #flash-message.error-message
    = flash[:error]

%br
-if places.empty?
  %div{ :style => 'font-weight: bold; clear: both;' }=t(:no_results)
-else
  %table.list
    %tr
      %th= t :name
      %th= t :address
      %th= t :type
      %th= t :actions
    - for place in places do
      %tr
        %td=place.name
        %td=h preferred_address(place)
        %td=place.formatted_place_descriptions
        %td
          -if results_action == 'new'
            = link_to(I18n.t(:create_place_event_this_person), place_events_path(:from_place => place['entity_id'], :parent_id => params[:parent_id]), :method => :post)
          - elsif params[:for_event_class]
            = link_to_remote(t(:add), :update => 'existing-place-list', :position => 'top', :url => { :action => :places_search_selection, :id => place.entity_id, :event_type => params[:for_event_class]}, :html => { :id => "add_place_entity_#{place.entity_id}"} )

  %br
  = ajaxy_pagination(places, 'places')

%br
- if(results_action == 'new' && User.current_user.is_entitled_to?(:create_event))
  = link_to(t("create_a_place"), new_place_event_path(:parent_id => params[:parent_id]), :id => "create_place")

%br
%br
