-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the
-# terms of the GNU Affero General Public License as published by the
-# Free Software Foundation, either version 3 of the License,
-# or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but
-# WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

#reporting_agency_form
  - fields_for(event, :builder => ImmutableFormBuilder) do |f|
    - f.fields_for(:reporting_agency) do |ra|
      - unless ra.object.secondary_entity_id.blank?
        = ra.hidden_field(:secondary_entity_id)
      - ra.fields_for(:place_entity) do |pe|
        - pe.fields_for(:place) do |p|
          = error_messages_for :object => reporting_agency
          - core_element :name, p, :horiz do
            = p.label(:name, t('reporting_agency_name'))
            = p.text_field(:name, :size => 25, :class => 'required_if_others')

          - pe.fields_for(:telephones) do |phone_fields|
            -if Telephone.use?(:country_code)
              - core_element :country_code, phone_fields, :horiz do
                = phone_fields.label(:country_code)
                = phone_fields.core_text_field(:country_code, {:size => 3}, @event)
            -if Telephone.use?(:area_code)
              - core_element :area_code, phone_fields, :horiz do
                = phone_fields.label(:area_code)
                = phone_fields.core_text_field(:area_code, {:size => 3}, @event)
            - core_element :phone_number, phone_fields, :horiz do
              = phone_fields.label(:phone_number)
              = phone_fields.core_text_field(:phone_number, {:size => 8}, @event)
            - core_element :extension, phone_fields, :horiz do
              = phone_fields.label(:extension)
              = phone_fields.core_text_field(:extension, {:size => 6}, @event)
          
          %span.horiz
            - unless ra.object.new_record?
              = ra.label :_delete
              = ra.check_box :_destroy
            -else
              - if render_remove_link
                = label_tag "&nbsp;"
                = link_to_function t(:remove) do |page|
                  - page[:reporting_agency_form].replace render_reporting_agency_form(event.class.new)

          - core_element :place_type, p, 'vert-break' do
            - if p.object.new_record?
              = p.agency_type_selector
            - else
              = label_tag t('activerecord.attributes.reporting_agency.agency_types')
              = h(p.object.formatted_place_descriptions)




