%fieldset
  %legend Reporting Information

  %fieldset.form
    %legend Reporting Agency
    - event_form.fields_for(:reporting_agency, :builder => ExtendedFormBuilder) do |agency_form|
      - agency_form.fields_for(:place_entity, :builder => ExtendedFormBuilder) do |entity_form|
        - entity_form.fields_for(:place, :builder => ExtendedFormBuilder) do |place_form|
          - core_element_show :name, place_form, :horiz do
            = place_form.label(:name, 'Agency name')
            = place_form.object.name
          %span.horiz
            = label_tag('Types')
            = place_form.object.formatted_place_descriptions
          = label_tag('Agency phone')
          = entity_form.object.primary_phone.simple_format

  %fieldset.form
    %legend Reporter
    - event_form.fields_for(:reporter, :builder => ExtendedFormBuilder) do |r|
      - r.fields_for(:person_entity, :builder => ExtendedFormBuilder) do |pe|
        - pe.fields_for(:person, :builder => ExtendedFormBuilder) do |p|

          %span.vert-break
          - core_element_show :last_name, p, :horiz do
            = p.label(:last_name)
            = p.object.last_name
          - core_element_show :first_name, p, :horiz do
            = p.label(:first_name)
            = p.object.first_name

        - phone = pe.object.telephones.last # Works around issue where 1.0 code was duping reporter phone with each save.
        - pe.fields_for(:telephones, phone, :builder => ExtendedFormBuilder) do |phone_fields|
          - core_element_show :area_code, phone_fields, :horiz do
            = phone_fields.label(:area_code)
            = phone_fields.object.area_code
          - core_element_show :phone_number, phone_fields, :horiz do
            = phone_fields.label(:phone_number)
            = phone_number(phone_fields.object.phone_number) if phone_fields.object.phone_number
          - core_element_show :extension, phone_fields, :horiz do
            = phone_fields.label(:extension)
            = phone_fields.object.extension

  %fieldset.form
    %legend Reported Dates
    - core_element_show :results_reported_to_clinician_date, event_form, :horiz do
      = event_form.label(:results_reported_to_clinician_date)
      = h(@event.results_reported_to_clinician_date) || '&nbsp;'
    - core_element_show :first_reported_PH_date, event_form, :horiz do
      = event_form.label(:first_reported_PH_date, 'Date first reported to public health')
      = h(@event.first_reported_PH_date) || '&nbsp;'
