-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:class => 'treatment', :style => "clear: both;"}
  %span{:class => "horiz"}
    - core_element :treatment_given_yn_id, f, :horiz do
      = f.label(:treatment_given_yn_id, "Treatment given")
      = f.dropdown_code_field(:treatment_given_yn_id, 'yesno', {})
      
    - core_element :treatment, f, :horiz do
      = trisano_auto_complete(f, :treatment, "Treatment", {:size => 50, :maxlength => 255}, {:url => {:controller => "events", :action => "auto_complete_for_treatment"}, :param_name => 'treatment' })

    - core_element :treatment_date, f, :horiz do
      = f.label(:treatment_date, 'Date of Treatment')
      = f.core_calendar_date_select(:treatment_date, {:size => 15, :year_range => 100.years.ago..1.years.from_now})

    - core_element :stop_treatment_date, f, :horiz do
      = f.label(:stop_treatment_date, 'Date Treatment Stopped')
      = f.core_calendar_date_select(:stop_treatment_date, {:size => 15, :year_range => 100.years.ago..1.years.from_now})

    %span.horiz
      - unless f.object.new_record?
        = f.label :_delete, "Remove:"
        = f.check_box :_delete
%hr
