- form_tag(search_path + "/cmrs", :method => :get) do

  %h2
    CMR Search

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]

  %fieldset
    %legend
      Search
    %label Disease:

    %select{ :name => "disease" }
      - for disease in @diseases
        %option{ :value => disease.id, :selected => disease.id == (params[:disease].to_i) ?  "selected" : nil}
          = "#{disease.disease_name}"
    &nbsp;
    %input{ :type => "submit" }

%br

- if !@cmrs.blank?
  %h3 Results
  - for cmr in @cmrs
    = link_to("#{cmr.record_number}", { :controller => "events", :action => "show", :id => "#{cmr.event_id}" })
    = " #{cmr.first_name} #{cmr.middle_name} #{cmr.last_name}, #{cmr.disease_name}  #{cmr.event_onset_date} #{cmr.code_description}"
    %br
- if @cmrs.blank? && (!params[:disease].blank?)
  Your search returned no results.
