- form_tag(search_path + "/cmrs", :method => :get) do

  %h2
    CMR Search

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]

  %fieldset
    %legend
      Search

    %label Name:
    = text_field_tag :name, params[:name]
    &nbsp;

    %label Disease:

    %select{ :name => "disease" }
      %option
      - for disease in @diseases
        %option{ :value => disease.id, :selected => disease.id == (params[:disease].to_i) ?  "selected" : nil}
          = "#{disease.disease_name}"
    &nbsp;
    %input{ :type => "submit" }

%br

- if !@cmrs.blank?
  %h3 Results
  %table{ :width => 700 }
    %tr
      %td
        %b
          Record Number
      %td
        %b
          Name
      %td
        %b
          Age / Birth Date
      %td
        %b
          Gender
      %td
        %b
          Disease
      %td
        %b
          County
      %td
        %b
          Onset Date
    - for cmr in @cmrs
      %tr
        %td
          = link_to("#{cmr.record_number}", { :controller => "events", :action => "show", :id => "#{cmr.event_id}" })
        %td
          = link_to("#{cmr.first_name} #{cmr.middle_name if !cmr.middle_name.blank?} #{cmr.last_name}", { :controller => "entities", :action => "show", :id => "#{cmr.entity_id}" })
        %td
          - if  !cmr.birth_date.blank?
            = "#{calculate_age cmr.birth_date.to_date} / #{cmr.birth_date}"
        %td
          = cmr.gender
        %td
          = cmr.disease_name
        %td
          = cmr.county
        %td
          = cmr.event_onset_date

- if @cmrs.blank? && flash[:error].blank? && (!params[:name].blank? || !params[:disease].blank?)
  %span
    Your search returned no results.

  %br
  %br

  = link_to("Start a CMR with the criteria that you searched on.", { :controller => "events", :action => "new", :from_search => "", :first_name => @first_name, :middle_name => @middle_name, :last_name => @last_name, :disease => params[:disease] }, {:id => "start_cmr"})
