- form_tag(search_path + "/cmrs", :method => :get) do

  %h2
    CMR Search

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]

  %fieldset
    %legend
      Search

    %fieldset{ :class => "horiz" }
      %legend By name
       
      %div{ :class => "vert" }
        %label Full-text name
        = text_field_tag :name, params[:name], :size => "30", :class => "search"
      %small
        Uses Soundex and allows for first-/last-name transposition
      %div{ :class => "horiz" }
        %label Starts-with last name
        = text_field_tag :sw_last_name, params[:sw_last_name], :class => "search"
      %div{ :class => "horiz" }
        %label Starts-with first name
        = text_field_tag :sw_first_name, params[:sw_first_name], :class => "search"
      %br{ :clear => "all" }
      %small
        Full-text search ignored when using starts-with search

    %fieldset{ :class => "horiz" }
      %legend
        Additional criteria
      %div{ :class => "horiz" }
        %label Disease
        %select{ :name => "disease" }
          %option
          - for disease in @diseases
            %option{ :value => disease.id, :selected => disease.id == (params[:disease].to_i) ?  "selected" : nil}
              = "#{disease.disease_name}"
      %div{ :class => "horiz" }
        %label Gender
        %select{ :name => "gender" }
          %option
          - for gender in @genders
            %option{ :value => gender.id, :selected => gender.id == (params[:gender].to_i) ?  "selected" : nil}
              = "#{gender.code_description}"
      %div{ :class => "horiz" }
        %label Investigation Status
        %select{ :name => "investigation_status"}
          %option
          - for status in @investigation_statuses
            %option{ :value => status.id, :selected => status.id == (params[:investigation_status].to_i) ? "selected" : nil}
              = "#{status.code_description}"
      %br{ :clear => "all" }
      %div{ :class => "horiz" }
        %label City
        = model_auto_completer("city", params[:city], "", "", { :allow_free_text => true}, { :size => 25 }, { :skip_style => false } )
      %div{ :class => "horiz" }
        %label County
        %select{ :name => "county"}
          %option
          - for county in @counties
            %option{ :value => county.id, :selected => county.id == (params[:county].to_i) ? "selected" : nil}
              = "#{county.code_description}"
      %div{ :class => "horiz" }
        %label Jurisdiction
        %select{ :name => "jurisdiction_id"}
          %option
          - for jurisdiction in @jurisdictions
            %option{ :value => jurisdiction.entity_id, :selected => jurisdiction.entity_id == (params[:jurisdiction_id].to_i) ? "selected" : nil}
              = "#{jurisdiction.name}"
          
      %br{ :clear => "all" }
      %div{ :class => "horiz" }
        %label Date or year of birth
        = text_field_tag :birth_date, params[:birth_date], :size => "10"
        %small (mm/dd/yyyy, or yyyy)
      %br{ :clear => "all" }
      %div{ :class => "horiz" }
        %label Entered-on date range
        = text_field_tag :entered_on_start, params[:entered_on_start], :size => "10"
        &nbsp;-&nbsp;
        = text_field_tag :entered_on_end, params[:entered_on_end], :size => "10"
        %small (mm/dd/yyyy)
    %br{ :clear => "all" }
    %br
    %input{ :type => "submit" }

%br

- if !@cmrs.blank?
  %h3 Results
  %div{ :class => 'tools' }
    %a{ :href => search_path } New Search
    |
    = link_to('Export to CSV', params.merge(:format => 'csv'))
  %table{ :width => "100%", :cellpadding => "2" }
    %tr
      %th
        Record Number
      %th
        Name
      %th
        Age / Birth Date
      %th
        Gender
      %th
        Disease
      %th
        City
      %th
        County
      %th
        Jurisdiction
      %th
        Onset Date
    - for cmr in @cmrs
      %tr
        %td
          = link_to("#{cmr.record_number}", { :controller => "events", :action => "show", :id => "#{cmr.event_id}" })
        %td
          = link_to("#{cmr.first_name} #{cmr.last_name}", { :controller => "entities", :action => "show", :id => "#{cmr.entity_id}" })
        %td
          - if  !cmr.birth_date.blank?
            = "#{calculate_age cmr.birth_date.to_date} / #{cmr.birth_date}"
        %td
          = cmr.gender
        %td
          = cmr.disease_name
        %td
          = cmr.city
        %td
          = cmr.county
        %td
          = cmr.jurisdiction_name
        %td
          = cmr.event_onset_date

- if @cmrs.blank? && flash[:error].blank? && (!params[:name].blank? || !params[:sw_first_name].blank? || !params[:sw_last_name].blank?  || !params[:disease].blank? || !params[:gender].blank? || !params[:investigation_status].blank? || !params[:city].blank? || !params[:county].blank? || !params[:jurisdiction_id].blank? || !params[:birth_date].blank? || !params[:entered_on_start].blank? || !params[:entered_on_end].blank?)

  %span
    Your search returned no results.

  %br
  %br

  / Move the query string building out to a helper, sniff out what isn't there so it's not so long
  = link_to("Start a CMR with the criteria that you searched on.", { :controller => "events", :action => "new", :from_search => "", :first_name => @first_name, :middle_name => @middle_name, :last_name => @last_name, :disease => params[:disease], :gender => params[:gender], :city => params[:city], :county => params[:county], :jurisdiction_id => params[:jurisdiction_id], :birth_date => @birth_date }, {:id => "start_cmr"})



  
