-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%table.list
  %tr
    %th.forminformation
      =t 'edit_form'
  %tr
    %td
      = f.label :name
      = f.text_field :name
      = f.label :short_name
      = f.object.short_name_editable? ? f.text_field(:short_name) : h(f.object.short_name)
      %p
      = f.label :event_type
      = f.select(:event_type, form_event_type_options_for_select(f.object), {:include_blank => true})
      %p
      = f.label :disease_id
      %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
        %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
          - for disease in Disease.find(:all, :order => "disease_name asc")
            = "<label>" + check_box_tag("form[disease_ids][]", disease.id, @form.diseases.include?(disease), :id => disease.disease_name.tr(" ", "_")) + h(disease.disease_name) + "</label>"
      %p
      = f.label :jurisdiction_id
      = f.collection_select(:jurisdiction_id, Place.jurisdictions, :entity_id, :name, :include_blank => t("all_jurisdictions"))
      %p
      = f.label :description
      = f.text_field :description
      %p
      = f.label :disable_auto_assign, t('disable_auto_assign')
      = f.check_box :disable_auto_assign