-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :javascript_includes do
  = javascript_include_tag "trisano/trisano_form_builder"

- content_for :title do
  =ct(:form)
  =h(@form.name)

- content_for :tools do
  = link_to t('forms'), forms_path
  |
  = t 'builder'
  %p

- content_for :tools_two do
  = button_to(t("create_new_form"), {:action => "new"}, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        = t 'form_information'
      %th=t 'diseases'
      %th=t 'jurisdiction'
      %th=t 'event_type'
      %th=t 'short_name'
      %tr
        %td.forminformation
          .formname
            = h @form.name
            %br
          .description
            = h @form.description
          .tools
            = link_to t('builder'), builder_path(@form)
            |
            = link_to t('details'), form_path(@form)
            |
            = link_to t('edit'), edit_form_path(@form)
            |
            = link_to t('copy'), copy_form_path(@form), :method => :post
            |
            = link_to t('export'), export_form_path(@form), :method => :post
            - if(@form.status == "Published")
              |
              = link_to t('push'), push_form_path(@form), :method => :post
              |
              = link_to t('deactivate'), deactivate_form_path(@form), :method => :post
        %td
          %ul
            - @form.diseases.each do |disease|
              %li.diseaselist= h disease.disease_name
        %td
          = h @form.jurisdiction.nil? ? t("all") : @form.jurisdiction.place.name
        %td
          = t(h(@form.event_type.underscore))
          %br
          .status
            = h(t("form_statuses.#{@form.status.downcase.gsub(" ", "_")}"))
            &nbsp;
            - if @form.errors.empty?
              = publish_form_button
        %td
          = h @form.short_name
#rot
  - if @form.errors.empty?
    %ul.horizontal
      %li
        #button.formname
          =t 'form_builder'
      %li
        #button.press
          %span
            = link_to_remote(t("add_tab"), :url => {:controller => "view_elements", :action => "new", :form_element_id => @form.investigator_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-tab', :id => 'add-tab'})
      %li
        #button.press
          %span
            = link_to_remote(t("add_core_tab_config"), :url => {:controller => "core_view_elements", :action => "new", :form_element_id => @form.core_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-tab', :id => 'add-core-tab'})
      %li
        #button.press
          %span
            = link_to_remote(t("add_core_field_config"), :url => {:controller => "core_field_elements", :action => "new", :form_element_id => @form.core_field_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-field', :id => 'add-core-field'})
      %li
        #button.press
          %span
            = link_to_remote(t("open_library"), :url => {:controller => "forms", :action => "library_admin", :type => "question_element"}, :method => :get, :html => {:class => 'fb-open-library-admin', :id => 'open-library-admin'})

  #builder-mods
  #core-builder-mods
  #core-field-builder-mods
  #library-admin

  %formbuilder
    - if @form.errors.empty?
      %div{:id => "form_children"}
        %ul{:id => "root-element-list"}
          = render :partial => 'forms/elements'
      %div{:id => "core_form_children"}
        %ul{:id => "core-element-list"}
          = render :partial => 'forms/core_elements'
      %div{:id => "core_field_form_children"}
        %ul{:id => "core-field-element-list"}
          = render :partial => 'forms/core_field_elements'
    - else
      %br
      %span{:style => 'color:#CC0000; font-weight: bold'}
        =t 'invalid_form_structure'
      %ul
        - @form.errors.each do |k, v|
          %li{:style => 'color:#CC0000; font-weight: bold'}
            = v
      %br
      = link_to t('rollback_form'), form_rollback_path(@form)
      ="&nbsp;(#{t('wait_message')})"
