-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =ct 'form'
  = h @form.name

- content_for :tools do
  = link_to t('forms'), forms_path
  |
  =t('detail_view')
  %p

- content_for :tools_two do
  = button_to(t("create_new_form"), {:action => "new"}, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        =t 'form_information'
      %th=t 'diseases'
      %th=t 'jurisdiction'
      %th=t 'event_type'
      %th=t 'short_name'
      %th=t 'disable_auto_assign'
    %tr
      %td.forminformation
        .formname
          = h @form.name
          %br
        .description
          = h @form.description
        .tools
          = link_to t('builder'), builder_path(@form)
          |
          = link_to t('details'), form_path(@form)
          |
          -if @form.is_template
            = link_to t('edit'), edit_form_path(@form)
      %td
        %ul
          - @form.diseases.each do |disease|
            %li.diseaselist= h disease.disease_name
      %td
        = h @form.jurisdiction.nil? ? t("all") : @form.jurisdiction.place.name
      %td
        =t(@form.event_type.underscore)
        .status
          =t("form_statuses.#{@form.status.downcase.gsub(" ", "_")}")
      %td
        = h @form.short_name
      %td
        = check_box_tag 'disable_auto_assign', "1", @form.disable_auto_assign, :disabled => true
#rot
  %p
    = admin_master_info(@form)
    = admin_version_info(@form)
