-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  = t('csv_export_columns')

#rot
  %table.list{:id => 'morbidity_event_fields'}
    %tr
      %th.forminformation
        = t('long_name')
      %th
        = t('short_name')
    %tr
      %td{:colspan => 2}
        .formname
          = t('morbidity_event_fields')
    = render @morbidity_event_fields
    %tr
      %td{:colspan => 2}
        .formname
          = t('assessment_event_fields')
    = render @assessment_event_fields
    %trl
      %td{:colspan => 2}
        .formname
          = t('contact_event_fields')
    = render @contact_event_fields
    %tr
      %td{:colspan => 2}
        .formname
          = t('place_event_fields')
    = render @place_event_fields
    %tr
      %td{:colspan => 2}
        .formname
          = t('lab_fields')
    = render @lab_fields
    %tr
      %td{:colspan => 2}
        .formname
          = t('treatment_fields')
    = render @treatment_fields
          
