-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.

-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%div{:class => "large-modal-dialog"}
  %h1 Editing clinician

  = error_messages_for :clinician

  = fields_for(@clinician.active_secondary_entity, :builder => ExtendedFormBuilder) do |clinician|
    = render :partial => "clinicians/form", :locals => { :f => clinician, :entity_data => @clinician.active_secondary_entity, :event => @event, :rendering_pt => false }
  = submit_to_remote("person-save-button", "Save", :submit => "person_form", :url => cmr_clinician_path(@event, @clinician), :method => :put)

  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
