%div{:class => "large-modal-dialog"}
  %h1 Editing contact

  = error_messages_for :contact

  = fields_for(@contact.active_secondary_entity, :builder => ExtendedFormBuilder) do |contact|
    = render :partial => "entities/people/form", :locals => { :f => contact, :entity_data => @contact.active_secondary_entity, :event => @event }
  = submit_to_remote("person-save-button", "Save", :submit => "person_form", :url => cmr_contact_path(@event, @contact), :method => :put)

  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
