
<fieldset>
<legend>Patient Information/Demographics</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :last_name) %></td>
<td><%= text_field(:cmr, :last_name, :tabindex => 1) %></td>
<td><%= label(:cmr, :first_name) %></td>
<td><%= text_field(:cmr, :first_name, :tabindex => 2) %></td>
</tr>
<tr>
<td><%= label(:cmr, :street_address) %></td>
<td><%= text_field(:cmr, :street_address, :tabindex => 3) %></td>
<td><%= label(:cmr, :date_of_birth) %></td>
<td><%= text_field(:cmr, :date_of_birth, :tabindex => 4) %></td>
</tr>
<tr>
<td><%= label(:cmr, :city) %></td>
<td><%= text_field(:cmr, :city, :tabindex => 5) %></td>
<td><%= label(:cmr, :phone_number) %></td>
<td><%= text_field(:cmr, :phone_number, :tabindex => 6) %></td>
</tr>
<tr>
<td><%= label(:cmr, :county) %></td>
<td><%= text_field(:cmr, :county, :tabindex => 7) %></td>
<td><%= label(:cmr, :state) %></td>
<td><%= text_field(:cmr, :state, :tabindex => 8) %></td>
</tr>
<tr>
<td><%= label(:cmr, :zip_code) %></td>
<td><%= text_field(:cmr, :zip_code, :tabindex => 8) %></td>
<td><%= label(:cmr, :country) %></td>
<td><%= text_field(:cmr, :country, :tabindex => 9) %></td>
</tr>
<tr>
<td><%= label(:cmr, :gender) %></td>
<td><%= text_field(:cmr, :gender, :tabindex => 10) %></td>
<td><%= label(:cmr, :race) %></td>
<td><%= text_field(:cmr, :race, :tabindex => 11) %></td>
</tr>
<tr>
<td><%= label(:cmr, :ethnicity) %></td>
<td><%= text_field(:cmr, :ethnicity, :tabindex => 12) %></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</fieldset>

<br/>

<fieldset>
<legend>Clinical Information</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :disease) %></td>
<td><%= collection_select(:cmr, :disease_id, Disease.find(:all), :id, :name)  %></td>
<td><%= label(:cmr, :onset_date) %></td>
<td><%= text_field(:cmr, :onset_date, :tabindex => 14) %></td>
</tr>
<tr>
<td><%= label(:cmr, :hospitals) %></td>
<td><%= text_field(:cmr, :hospitals, :tabindex => 15) %></td>
<td><%= label(:cmr, :patient_hospitalized) %></td>
<td><%= text_field(:cmr, :patient_hospitalized, :tabindex => 16) %></td>
</tr>
<tr>
<td><%= label(:cmr, :clinician_name) %></td>
<td><%= text_field(:cmr, :clinician_name, :tabindex => 17) %></td>
<td><%= label(:cmr, :clinician_phone_number) %></td>
<td><%= text_field(:cmr, :clinician_phone_number, :tabindex => 18) %></td>
</tr>
<tr>
<td><%= label(:cmr, :did_patient_die) %></td>
<td><%= text_field(:cmr, :did_patient_die, :tabindex => 19) %></td>
<td><%= label(:cmr, :expired_date) %></td>
<td><%= text_field(:cmr, :expired_date, :tabindex => 20) %></td>
</tr>
</table>
</fieldset>

<br/>

<fieldset>
<legend>Reported By</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :reported_by) %></td>
<td><%= text_field(:cmr, :reported_by, :tabindex => 21) %></td>
<td><%= label(:cmr, :reported_date) %></td>
<td><%= text_field(:cmr, :reported_date, :tabindex => 22) %></td>
</tr>
<tr>
<td><%= label(:cmr, :lhd_investigator) %></td>
<td><%= text_field(:cmr, :lhd_investigator, :tabindex => 23) %></td>
<td><%= label(:cmr, :reporting_phone_number) %></td>
<td><%= text_field(:cmr, :reporting_phone_number, :tabindex => 24) %></td>
</tr>
<tr>
<td><%= label(:cmr, :lhd_reviewed_by) %></td>
<td><%= text_field(:cmr, :lhd_reviewed_by, :tabindex => 25) %></td>
<td><%= label(:cmr, :lhd_reviewed_date) %></td>
<td><%= text_field(:cmr, :lhd_reviewed_date, :tabindex => 26) %></td>
</tr>
<tr>
<td><%= label(:cmr, :case_classification) %></td>
<td><%= text_field(:cmr, :case_classification, :tabindex => 27) %></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</fieldset>
