
<%= link_to 'Confidential Morbidity Reports', cmrs_path %> &gt; Morbidity Form

<br/><br/>

<%= error_messages_for :cmr %>

<% form_for(@cmr) do |f| %>
  <p>
    <%= render :partial => 'form', :locals => { :cmr => @cmr } %>
    <br/>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @cmr %> |
<%= link_to 'Back', cmrs_path %>
