
Confidential Morbidity Reports

<br/><br/>

<table cellpadding="4" cellspacing="1" bgcolor="#000000">

<% for cmr in @cmrs %>
  <tr bgcolor="#ffffff">
    <td><%= cmr.first_name %> <%= cmr.last_name %></td>
    <td><%= link_to 'Show', cmr %></td>
    <td><%= link_to 'Edit', edit_cmr_path(cmr) %></td>
    <td><%= link_to 'Destroy', cmr, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cmr', new_cmr_path %>
