
<%= link_to 'Confidential Morbidity Reports', cmrs_path %> &gt; Morbidity Form

<br/><br/>

<fieldset>
<legend>Patient Information/Demographics</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :last_name) %></td>
<td><%= @cmr.last_name %></td>
<td><%= label(:cmr, :first_name) %></td>
<td><%= @cmr.first_name %></td>
</tr>
<tr>
<td><%= label(:cmr, :street_address) %></td>
<td><%= @cmr.street_address %></td>
<td><%= label(:cmr, :date_of_birth) %></td>
<td><%= @cmr.date_of_birth %></td>
</tr>
<tr>
<td><%= label(:cmr, :city) %></td>
<td><%= @cmr.city %></td>
<td><%= label(:cmr, :phone_number) %></td>
<td><%= @cmr.phone_number %></td>
</tr>
<tr>
<td><%= label(:cmr, :county) %></td>
<td><%= @cmr.county %></td>
<td><%= label(:cmr, :state) %></td>
<td><%= @cmr.state %></td>
</tr>
<tr>
<td><%= label(:cmr, :zip_code) %></td>
<td><%= @cmr.zip_code %></td>
<td><%= label(:cmr, :country) %></td>
<td><%= @cmr.country %></td>
</tr>
<tr>
<td><%= label(:cmr, :gender) %></td>
<td><%= @cmr.gender %></td>
<td><%= label(:cmr, :race) %></td>
<td><%= @cmr.race %></td>
</tr>
<tr>
<td><%= label(:cmr, :ethnicity) %></td>
<td><%= @cmr.ethnicity %></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</fieldset>

<br/>

<fieldset>
<legend>Clinical Information</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :disease) %></td>
<td><%= @cmr.disease %></td>
<td><%= label(:cmr, :onset_date) %></td>
<td><%= @cmr.onset_date %></td>
</tr>
<tr>
<td><%= label(:cmr, :hospitals) %></td>
<td><%= @cmr.hospitals %></td>
<td><%= label(:cmr, :patient_hospitalized) %></td>
<td><%= @cmr.patient_hospitalized %></td>
</tr>
<tr>
<td><%= label(:cmr, :clinician_name) %></td>
<td><%= @cmr.clinician_name %></td>
<td><%= label(:cmr, :clinician_phone_number) %></td>
<td><%= @cmr.clinician_phone_number %></td>
</tr>
<tr>
<td><%= label(:cmr, :did_patient_die) %></td>
<td><%= @cmr.did_patient_die %></td>
<td><%= label(:cmr, :expired_date) %></td>
<td><%= @cmr.expired_date %></td>
</tr>
</table>
</fieldset>

<br/>

<fieldset>
<legend>Reported By</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:cmr, :reported_by) %></td>
<td><%= @cmr.reported_by %></td>
<td><%= label(:cmr, :reported_date) %></td>
<td><%= @cmr.reported_date %></td>
</tr>
<tr>
<td><%= label(:cmr, :lhd_investigator) %></td>
<td><%= @cmr.lhd_investigator %></td>
<td><%= label(:cmr, :reporting_phone_number) %></td>
<td><%= @cmr.reporting_phone_number %></td>
</tr>
<tr>
<td><%= label(:cmr, :lhd_reviewed_by) %></td>
<td><%= @cmr.lhd_reviewed_by %></td>
<td><%= label(:cmr, :lhd_reviewed_date) %></td>
<td><%= @cmr.lhd_reviewed_date %></td>
</tr>
<tr>
<td><%= label(:cmr, :case_classification) %></td>
<td><%= @cmr.case_classification %></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table>
</fieldset>

<%= link_to 'Edit', edit_cmr_path(@cmr) %> | <%= link_to 'Back', cmrs_path %><br/><br/>





