-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
- content_for :title do
  Users

/- content_for :name do
/  Users

/- content_for :tools do
/  = link_to 'New user', new_user_path

- content_for :tools_two do
  = button_to("Create new user", {:action => "new"}, { :method => :get })

#rot
  %table.listingforms
    %tr
      %th.forminformation
        Users
    - for user in @users
      %tr
        %td.forminformation
          .tools
            = link_to("#{user.first_name} #{user.last_name}", user)
          .formname
            UID:
            = link_to user.uid, user
          .tools
            = user.user_name
            %br
            -# = link_to('Delete', user, :confirm => 'Are you sure?', :method => :delete)
