-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  User Detail

/- content_for :name do
/  User details:  
/  = @user.user_name

- content_for :tools do
  = link_to '< Back to Users', users_path
  %p

- content_for :tools_two do
  = button_to("Create new user", {:action => "new"}, { :method => :get })

#rot
  %table.listingforms
    %tr
      %th.forminformation
        User
      %th
      %tr
        %td.forminformation
          .tools
            = "#{@user.first_name} #{@user.last_name}"
          .formname
            UID:
            = @user.uid
          .tools
            Username:
            = @user.user_name
            %br
            Given Name:
            = @user.given_name
            %br
            Initials:
            = @user.initials
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to 'Edit', edit_user_path(@user)
            |
            Show
            
= render :partial => 'roles'



