%h1 Editing answer

= error_messages_for :answer

- form_for(@answer) do |f|

  = render :partial => 'form', :locals => { :f => f }
  
  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Update"


= link_to 'Show', @answer 
|
= link_to 'Back', answers_path 

%br

<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>