-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t('cdc_export')

%h2
  - current_mmwr = Mmwr.new
  - previous_mmwr = Mmwr.new(Date.today - 7)
  = t('current_mmwr_week_is', :mmwr_week => h(current_mmwr.mmwr_week), :start_date => h(current_mmwr.mmwr_week_range.start_date), :end_date => h(current_mmwr.mmwr_week_range.end_date))
  
- format_string = '%A, %B %d, %Y'

%h3= t('generate_export_for')

%ul.with_bullets
  %li
    = link_to t('weekly_cdc_report'), formatted_current_week_cdc_events_path("dat"), :id => "cdc_weekly_report"
    %br
    =t('mmwr_weeks_included', :current_week => h(current_mmwr.mmwr_week), :previous_week => h(previous_mmwr.mmwr_week), :start_date => h(previous_mmwr.mmwr_week_range.start_date.strftime(format_string)), :end_date => h(current_mmwr.mmwr_week_range.end_date.strftime(format_string)))
  %hr

  %li
    =t('mmwr_weeks_encompassed')
    %p= t('cdc_export_note')
    - form_tag(formatted_by_range_cdc_events_path("dat"), :method => :get) do
      .horiz
        %label=t('start_date')
        = text_field_tag("start_date")
      .horiz
        %label=t('end_date')
        = text_field_tag("end_date")
        = submit_tag(t('submit'))

    %br
    %br
  %hr

  %li
    = t('annual_summary')
    - form_tag(formatted_current_ytd_cdc_events_path("dat"), :method => :get) do
      .horiz
        = text_field_tag("mmwr_year", Date.today.year, :size => 4)
        = submit_tag(t('submit'))

