-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Edit Export Conversion Value

- content_for :name do
  = @export_column.name

- content_for :tools do
  = link_to "< Back to export column", export_column_path(@export_column)
  %p

#rot
  %table.list
    %tr
      %th.forminformation
        Export Conversion Value
      %th
      %tr
        %td.forminformation
          .formname
            = "Convert #{@export_conversion_value.value_from} to #{@export_conversion_value.value_to}"
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            Edit
            |
            = link_to('Delete', export_column_export_conversion_value_path(@export_column, @export_conversion_value), :method => :delete)
#rot
  = error_messages_for :export_conversion_value

  - form_for(@export_conversion_value, :url => export_column_export_conversion_value_path(@export_column, @export_conversion_value)) do |f|

    = render :partial => 'form', :locals => { :f => f, :editing => true }

    = f.submit "Update"
