-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-# In an effort to speed up event listings we used native SQL (see HumanEvent.find_by_filtered_view)
-# However, when showing a single event we still use oridnary AR.  But this view is rendered by both.
-# So, rather than duplicate the visual aspects, we are making all the data conditional on who is
-# rendering this file.

-# In an effort to speed up event listings we used native SQL (see HumanEvent.find_by_filtered_view)
-# However, when showing a single event we still use oridnary AR.  But this view is rendered by both.
-# So, rather than duplicate the visual aspects, we are making all the data conditional on who is
-# rendering this file.

%tr.roll
  %td.forminformation
    - event_div_class(contact_event) do
      - if (view_mode == :index)
        = h(contact_event['last_name'] << (contact_event['first_name'].blank? ? "" : ", #{contact_event['first_name']}"))
      - else
        = h(contact_event.interested_party.person_entity.person.last_comma_first)
      %br
      %span{ :style => 'font-style: italic; font-size: small;'}
        = t("contact_event")
    .tools
      = basic_contact_event_controls(contact_event, view_mode)
      = render :partial => 'contact_events/print_options', :locals => { :event => contact_event }
  %td
    %b= h((view_mode == :index) ? contact_event['disease_name'] : contact_event.try(:disease).try(:disease).try(:disease_name))
  %td
    %b= h((view_mode == :index) ? contact_event['jurisdiction_short_name'] : contact_event.primary_jurisdiction.short_name)
    %br
    .tools
      = jurisdiction_routing_control(contact_event)
    %div{:id => 'secondary_jurisdictions'}
      %small
        - if (view_mode == :index)
          = pg_array(contact_event['secondary_jurisdictions']).map { |j| j.gsub(/\"/, '')}.join(', ')
        - else
          = h(contact_event.associated_jurisdictions.map { |j| j.short_name }.join(", "))
  %td
    %b= h(contact_event.state_description)

    - queue_name = (view_mode == :index) ? contact_event['queue_name'] : contact_event.try(:event_queue).try(:queue_name)
    - unless queue_name.blank?
      %div{:id => 'queue_info'}
        %small
          Queue:&nbsp;
          %b= h(queue_name)

    - inv_name = (view_mode == :index) ? contact_event['investigator_name'] : contact_event.try(:investigator).try(:best_name)
    - unless inv_name.blank?
      %div{:id => 'investigator_info'}
        %small
          Investigator:&nbsp;
          %b= h(inv_name)
  %td
    = ld(contact_event.event_onset_date)

    .tools
      = state_controls(contact_event)
