-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend
    Epidemiological Information

  %fieldset{:class => 'form'}
    %legend
      Contact Oriented
    
    - event_form.fields_for(:interested_party, @event.interested_party, :builder => ExtendedFormBuilder) do |active_patient_form|
      - active_patient_form.fields_for(:risk_factor, @event.interested_party.risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
        - core_element_show :food_handler_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:food_handler_id)
          = l @event.safe_call_chain(:interested_party, :risk_factor, :food_handler)

        - core_element_show :healthcare_worker_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:healthcare_worker_id)
          = l @event.safe_call_chain(:interested_party, :risk_factor, :healthcare_worker)

        - core_element_show :group_living_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:group_living_id)
          = l @event.safe_call_chain(:interested_party, :risk_factor, :group_living)

        - core_element_show :day_care_association_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:day_care_association_id)
          = l @event.safe_call_chain(:interested_party, :risk_factor, :day_care_association)

        - core_element_show :occupation, risk_factor_form, :horiz do
          = risk_factor_form.label(:occupation)
          = @event.safe_call_chain(:interested_party, :risk_factor, :occupation)

  %fieldset.form
    %legend Other
    - event_form.fields_for(:interested_party, @event.interested_party, :builder => ExtendedFormBuilder) do |interested_party|
      - interested_party.fields_for(:risk_factor, @event.interested_party.risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
        - core_element_show :imported_from_id, event_form, :horiz do
          = event_form.label(:imported_from_id)
          = l @event.imported_from

        - core_element_show :risk_factors, risk_factor_form, :horiz do
          = risk_factor_form.label(:risk_factors)
          = @event.safe_call_chain(:interested_party, :risk_factor, :risk_factors)

        - core_element_show :risk_factors_notes, risk_factor_form, :horiz do
          = risk_factor_form.label(:risk_factors_notes)
          = @event.safe_call_chain(:interested_party, :risk_factor, :risk_factors_notes)
          
        - core_element_show :other_data_1, event_form, :horiz do
          = event_form.label(:other_data_1, 'Other data')
          = h(@event.other_data_1)

        - core_element_show :other_data_2, event_form, :horiz do
          = event_form.label(:other_data_2, '&nbsp;')
          = h(@event.other_data_2)
