<%= javascript_include_tag 'events_highlight_error_tabs.js' %>
<%= javascript_include_tag 'pages/cmrs/modified_tabs.js' %>

<% patient_name = "#{@event.interested_party.person_entity.person.first_name} #{@event.interested_party.person_entity.person.last_name}" %>

<% content_for :title do %>
  <%= t('edit_contact_event') %>
<% end %>

<% content_for :name do %>
  <%= h(patient_name) %>
  <span style='position: absolute; right: 0;'>
    <%= original_patient_controls(@event) %>
  </span>
<% end %>

<% content_for :tools_two do %>
  <%= save_buttons(@event) %>
<% end %>

<% content_for :tools do %>
  <%= link_to_function(t('show'), "send_url_with_tab_index('#{contact_event_path(@event)}')") %>
  |
  <%= link_to(t('new_contact_for_event'), '#', :id => 'new-contact-for-event') %>
<% end %>

<%= render :partial => 'contact_events/search', :locals => { :event => @event } %>

<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<div id="follow-up-error"></div>

<% form_for(setup_human_event_tree(@event), :url => contact_event_path(@event), :builder => ExtendedFormBuilder, :html => { :onsubmit => "this.action = build_url_with_tab_index(this.action);" } ) do |event_form| %>
  <%  @event_form = event_form %>
  <%= hidden_field_tag :id, @event.id %>

  <% tabbed_content(contact_event_tabs, @tab_index) do %>
    <% core_tab :demographic_tab, event_form do -%>
      <%= render :partial => "events/people/contact_form", :locals => { :f => event_form, :event => @event } %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Demographics" } %>
    <% end -%>
    <% core_tab :clinical_tab, event_form do -%>
      <%= render :partial => 'events/disease_info_form', :locals => { :f => event_form } %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Clinical" } %>
    <% end -%>
    <% core_tab :lab_info_tab, event_form do -%>
      <%= render :partial => 'events/lab_info_form', :locals => {:f => event_form} %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Laboratory" } %>
    <% end -%>
    <% core_tab :epi_tab, event_form do -%>
      <%= render :partial => 'contact_events/epidemiological_form', :locals => {:f => event_form} %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Epidemiological" } %>
    <% end -%>
    <% core_tab :investigation_tab, event_form do -%>
      <%= render :partial => 'events/disease_investigation_form', :locals => {:f => event_form} %>
    <% end -%>
    <% core_tab :notes_tab, event_form do -%>
      <%= render :partial => 'events/note_form', :locals => {:f => event_form} %>
    <% end -%>
  <% end %>
  <%= event_form.submit t('save_and_exit'), :style => "display: none", :onclick => "this.disabled=true;" %>
<% end %>
<% if params[:forms] and @event.needs_forms_update? %>
    <div id="form-references-dialog" title="Form References Dialog">
      <%= render :partial => 'events/form_references_form' %>
    </div>
  <% end %>
<%= alert_if_changed(@event) %>

<%= contact_edit_search_js %>
