%div{:class => "modal-dialog"}
  %h1 Editing lab_result

  = error_messages_for :lab_result

  = fields_for(@lab_result, :builder => ExtendedFormBuilder) do |lab|
    = render :partial => "form", :locals => { :lab => lab }
  = submit_to_remote("save-button", "Save", :submit => "lab_info_form", :url => cmr_lab_result_path(@event, @lab_result), :method => :put)

  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
