%div{:class => "modal-dialog", :style => "width: 65%; height: 225px; position: absolute; top: 75px; left: 15%; background: #edf5ff; border: solid 3px; padding: 10px; text-align: left;"}
  %h1 New lab result 

  = error_messages_for :lab_result

  = fields_for(@lab_result, :builder => ExtendedFormBuilder) do |lab|
    = render :partial => "form", :locals => { :lab => lab }
  = submit_to_remote("save-button", "Save", :submit => "lab_info_form", :url => cmr_lab_result_path(@event, @lab_result))

  &nbsp;&nbsp;
  = link_to_close_redbox "Cancel"
