<% f.fields_for(:address, address, :builder => ExtendedFormBuilder) do |a| %>
  <fieldset class="vert">
  <span class="horiz">
    <%= a.label(:street_number) %>
    <%= a.text_field(:street_number, :size => 10) %>
  </span>
  <span class="horiz">
    <%= a.label(:street_name) %>
    <%= a.text_field(:street_name, :size => 50) %>
  </span>
  <span class="horiz">
    <%= a.label(:unit_number) %>
    <%= a.text_field(:unit_number, :size => 10) %>
  </span>
  </fieldset>

  <fieldset class="vert">
  <span class="horiz">
    <%= a.label(:city, "City") %>
    <%= a.text_field(:city, :size => 30) %>
  </span>
  <span class="horiz">
    <%= a.label(:state_id, "State") %>
    <%= a.dropdown_code_field(:state_id, 'state', {:include_blank => true}) %>
  </span>
  <span class="horiz">
    <%= a.label(:county_id, "County") %>
    <%= a.dropdown_code_field(:county_id, 'county', {:include_blank => true}) %>
  </span>
  <!---
  <span class="horiz">
    <%#= a.label(:district_id, "District") %>
    <%#= a.dropdown_code_field(:district_id, 'district', {:include_blank => true}) %>
  </span>
  -->
  <span class="horiz">
    <%= a.label(:postal_code, "Zip code") %>
    <%= a.text_field(:postal_code, :size => 7) %>
  </span>
  </fieldset>
<% end %>
