<fieldset>
  <legend>Address Information</legend>  
  <% f.fields_for(:entities_location, location_data.entities_location, :builder => ExtendedFormBuilder) do |el| %>
  <%= el.hidden_field(:entity_id) unless @entity.new_record? %>
  <table cellpadding="2">
    <tr>
      <td>
          <%= el.label(:entity_location_type_id, "Location type") %>
          <%= el.dropdown_code_field(:entity_location_type_id, 'location', {}) %>
      </td>
      <td>
        <%= el.label(:primary_yn_id, "Primary location") %>
        <%= el.dropdown_code_field(:primary_yn_id, 'yesno', {}) %>
      </td>
    </tr>
  </table>

  <p/>

  <table cellpadding="2">
    <% f.fields_for(:address, location_data.address, :builder => ExtendedFormBuilder) do |a| %>
      <tr>
        <td><%= a.label(:street_number) %></td>
        <td><%= a.text_field(:street_number, :size => 10) %></td>
        <td><%= a.label(:street_name) %></td>
        <td><%= a.text_field(:street_name, :size => 50) %></td>
        <td><%= a.label(:unit_number) %></td>
        <td><%= a.text_field(:unit_number, :size => 10) %></td>
      </tr>
      <tr>
        <td><%= a.label(:city) %></td>
        <td><%= a.dropdown_code_field(:city_id, 'city', {:include_blank => true}) %></td>
        <td><%= a.label(:state) %></td>
        <td><%= a.dropdown_code_field(:state_id, 'state', {:include_blank => true}) %></td>
        <td><%= a.label(:postal_code) %></td>
        <td><%= a.text_field(:postal_code, :size => 7) %></td>
      </tr>
      <tr>
        <td><%= a.label(:county) %></td>
        <td><%= a.dropdown_code_field(:county_id, 'county', {:include_blank => true}) %></td>
        <td><%= a.label(:district) %></td>
        <td><%= a.dropdown_code_field(:district_id, 'district', {:include_blank => true}) %></td>
      </tr>
    <% end %>
  </table>
  <p>
  <% f.fields_for(:telephone, location_data.telephone, :builder => ExtendedFormBuilder) do |t| %>
    <%= t.label(:area_code) %>
    <%= t.text_field(:area_code, :size => 3) %>
    <%= t.label(:phone_number) %>
    <%= t.text_field(:phone_number, :size => 8) %>9999999 or 999-9999
    <%= t.label(:extension) %>
    <%= t.text_field(:extension, :size => 6) %>
  </p>
  <% end %>
<% end %>
</fieldset>
