<% a = location.current_address; p = location.current_phone %>
  <tr <%= location.primary? ? "class='highlight'" : nil %> >
    <td>
      <%# Get rid of these bolds when styling day comes %>
      <b><%= location.type -%> : </b>
<% if not a.nil? %>
<%= a.street_number -%>
<%= fml " ", a.street_name, "" -%>
<%= fml ", Unit: ", a.unit_number, "" -%>
<%= fml ", ", l(a.city), "" -%>
<%= fml ", ", l(a.state), "" -%>
<%= fml ", ", a.postal_code, "" -%>
<%= fml " : ", l(a.county), " county" -%>
<%= fml " : ", l(a.district), " district" -%>
<% end %>
    </td>
    <td>
  <% if not p.nil? %>
    Phone: <%= fml "(", p.area_code, ") " if p.area_code -%>
<%= phone_number(p.phone_number) -%>
<%= fml " Ext. ", p.extension, "" if p.extension -%>
  <% end %>
    </td>
  <td><%= link_to 'Edit', edit_entity_location_path(entity_data, location) %></td>
  <td><%= link_to 'Delete', entity_location_path(entity_data, location), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
