<%= error_messages_for :object => telephone %>
<% f.fields_for(:telephone, telephone, :builder => ExtendedFormBuilder) do |t| %>

  <%- event = event.nil? ? nil : event %>

  <span class="horiz">
    <%= t.label(:area_code) %>
    <%= t.core_text_field(:area_code, {:size => 3, :maxlength => 3, :class => 'autotab'}, event) %>
  </span>
  <span class="horiz">
    <%= t.label(:phone_number) %>
    <%= t.core_text_field(:phone_number, {:size => 8}, event) %>
  </span>
  <span class="horiz">
    <%= t.label(:extension) %>
    <%= t.core_text_field(:extension, {:size => 6}, event) %>
  </span>
<% end %>
