<h1>Editing locations</h1>

<%= error_messages_for :object => [@location, @location.address, @location.entities_location] %>

<%= render :partial => "#{@type}_header"%>

<% form_for(@location,
            :url => entity_location_path(@entity, @location), 
            :html => {:method => :put}, 
            :builder => ExtendedFormBuilder) do |f| %>
  <p>
    <%= render :partial => 'form', :locals => { :f => f, :location_data => @location } %>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', entity_path(@entity) %>
