<h1>New locations</h1>

<%= error_messages_for 'location' %>

<%= render :partial => 'person_header'%>

<% form_for(@address, :url => person_locations_path(@person_id), :builder => ExtendedFormBuilder) do |f| %>
  <p>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', person_locations_path(@person_id) %>
