-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend
    Epidemiological Information

  %fieldset{:class => 'form'}
    %legend
      Contact Oriented
    
    - event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |active_patient_form|
      - active_patient_form.fields_for(:participations_risk_factor, @event.active_patient.participations_risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
        - core_element_show :food_handler_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:food_handler_id)
          = l @event.active_patient.participations_risk_factor.food_handler unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :healthcare_worker_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:healthcare_worker_id)
          = l @event.active_patient.participations_risk_factor.healthcare_worker unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :group_living_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:group_living_id)
          = l @event.active_patient.participations_risk_factor.group_living unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :day_care_association_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:day_care_association_id)
          = l @event.active_patient.participations_risk_factor.day_care_association unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :occupation, risk_factor_form, :horiz do
          = risk_factor_form.label(:occupation)
          = @event.active_patient.participations_risk_factor.occupation unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :risk_factors, risk_factor_form, :horiz do
          = risk_factor_form.label(:risk_factors)
          = @event.active_patient.participations_risk_factor.risk_factors unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

        - core_element_show :risk_factors_notes, risk_factor_form, :horiz do
          = risk_factor_form.label(:risk_factors_notes)
          = @event.active_patient.participations_risk_factor.risk_factors_notes unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?
          
    - core_element_show :imported_from_id, event_form, :horiz do
      = event_form.label(:imported_from_id)
      = l @event.imported_from

