<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<script type="text/javascript">
  setTimeout("Element.update('flash-message');", 3000);
</script>

<% patient_name = "#{@event.active_patient.primary_entity.person.first_name} #{@event.active_patient.primary_entity.person.last_name}" %>

<% content_for :title do %>
  Edit Contact Event: <%= patient_name %>
<% end %>

<% content_for :name do %>
  <%= patient_name %>

  <%- original_patient = @event.parent_event %>
  <span style='position: absolute; right: 0;'>
    <span>Original Patient: <%= link_to("#{original_patient.active_patient.primary_entity.person.first_name} #{original_patient.active_patient.primary_entity.person.last_name}", cmr_path(original_patient)) -%></span>
    <p style='font-size: 12px; font-weight: light;'><%= original_patient.disease.disease.disease_name unless original_patient.disease.nil? || original_patient.disease.disease.nil? %></p>
  </span>
<% end %>

<% content_for :tools_two do %>
  <%= save_buttons(@event) %> 
<% end %>

<% content_for :tools do %>
  <%= link_to_function('Show', "send_url_with_tab_index('#{contact_event_path(@event)}')") %>
<% end %>

<% @form_index = 0 %>

<%= error_messages_for :object => @event %>

<div id="follow-up-error"></div>

<% form_for(@event, :url => contact_event_path(@event), :builder => ExtendedFormBuilder, :html => { :onsubmit => "this.action = build_url_with_tab_index(this.action);" } ) do |event_form| %>
  <%  @event_form = event_form %>
  <% tabs = []
     tabs << %w(demographic_tab Demographic)
     tabs << %w(clinical_tab Clinical)
     tabs << %w(lab_info_tab Laboratory)
     tabs << %w(epi_tab Epidemiological)
     tabs << %w(investigation_tab Investigation)
     tabs << %w(notes_tab Notes)
  %>

  <% tabbed_content(tabs, @tab_index) do %>
    <div id="demographic_tab">
      <% event_form.fields_for(:active_patient, @event.active_patient.primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <%= render :partial => "events/people/contact_form", :locals => { :f => current_patient, :entity_data => @event.active_patient.primary_entity, :event => @event} %>
      <% end %>
      <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Demographics" } %>
    </div>
    <div id="clinical_tab">
      <p>
        <%= render :partial => 'events/disease_info_form', :locals => { :f => event_form } %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Clinical" } %>
      </p>
    </div>
    <div id="lab_info_tab">
      <p>
        <%= render :partial => 'events/lab_info_form', :locals => {:f => event_form} %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Laboratory" } %>
      </p>
    </div>
    <div id="epi_tab">
      <p>
        <%= render :partial => 'contact_events/epidemiological_form', :locals => {:f => event_form} %>
        <%= render :partial => 'events/core_tab_supplemental', :locals => { :f => event_form, :tab => "Epidemiological" } %>
      </p>
    </div>
    <div id="investigation_tab"><p><%= render :partial => 'events/disease_investigation_form', :locals => {:f => event_form} %></p></div>
    <div id="notes_tab">
      <p>
        <%= render :partial => 'events/note_form', :locals => {:f => event_form} %>
      </p>
    </div>
  <% end %>
  <%= event_form.submit "Save & Exit", :style => "display: none", :onclick => "this.disabled=true;" %>
<% end %>
