<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
    CONTACT EVENT
<% end %>

<% content_for :name do %>
  <table class='listingforms'>
    <tr>
      <th class='forminformation'>Patient Name</th>
      <th>Disease</th>
      <th>Jurisdiction</th>
      <th>Original Patient</th>
    </tr>
    <tr>
      <% contact = @event.active_patient.primary_entity.person %>
      <td class='forminformation'>
        <div class='patientname'>
          <%= contact.last_name + (contact.first_name.blank? ? "" : fml(", ", contact.first_name, "")) %>
        </div>
        <small>Date: <%= @event.event_onset_date %></small>
        <div class='tools'>
          <%= basic_contact_event_controls(@event, false) %>
        </div>
      </td>
      <td>
        <%= @event.disease.disease.disease_name unless @event.disease.nil? || @event.disease.disease.nil? %>
      </td>
      <td>
        <b><%= @event.primary_jurisdiction.short_name %></b>
      </td>
      <td>
        <%- original_patient = Event.find(@event.contacts.first.secondary_entity.case_id) %>
        <%= link_to("#{original_patient.active_patient.primary_entity.person.first_name} #{original_patient.active_patient.primary_entity.person.last_name}", cmr_path(original_patient)) -%>
        <p style='font-size: 12px; font-weight: light;'><%= original_patient.disease.disease.disease_name unless original_patient.disease.nil? %></p>
      </td>
    </tr>
  </table>
<% end %>

<% form_for(@event, :url => contact_event_path(@event), :builder => ExtendedFormBuilder) do |event_form| %>
  <% tabs = []
     tabs << %w(demographic_tab Demographic)
     tabs << %w(clinical_tab Clinical)
     tabs << %w(lab_info_tab Laboratory)
     tabs << %w(epi_tab Epidemiolgical)
     tabs << %w(investigation_tab Investigation)
     tabs << %w(notes_tab Notes)
  %>

  <% tabbed_content(tabs, @tab_index) do %>
      <div id="demographic_tab">
        <% patient_entity = @event.active_patient.primary_entity %>
        <%= render :partial => "events/people/contact_show", :locals => { :entity_data => patient_entity, :event_form => event_form } %>
        <%= render :partial => 'events/core_tab_supplemental_show', :locals => { :f => event_form, :tab => "Demographics" } %>
      </div>
    
      <div id="clinical_tab">
        <%= render :partial => "events/clinical_show_tab", :locals => { :entity_data => patient_entity, :event_form => event_form } %>
        <%= render :partial => 'events/core_tab_supplemental_show', :locals => { :f => event_form, :tab => "Clinical" } %>
      </div>
    
      <div id="lab_info_tab">
        <%= render :partial => "events/lab_info_show_tab" %>
        <%= render :partial => 'events/core_tab_supplemental_show', :locals => { :f => event_form, :tab => "Laboratory" } %>
      </div>
    
      <div id="epi_tab">
        <%= render :partial => "contact_events/epidemiological_show_tab", :locals => { :event_form => event_form } %>
        <%= render :partial => 'events/core_tab_supplemental_show', :locals => { :f => event_form, :tab => "Epidemiological" } %>
      </div>
    
      <div id="investigation_tab">
        <%= render :partial => "events/investigation_show_tab" %>
      </div>

      <div id="notes_tab">
        <%= render :partial => "events/notes_show_tab" %>
      </div>
  <% end %>

<% end %>
