<%= error_messages_for :object => address %>
<% f.fields_for(:address, address, :builder => ExtendedFormBuilder) do |a| %>

  <%- event = event.nil? ? nil : event %>

  <fieldset class="vert">
    <% core_element :street_number, a, :horiz do %>
      <%= a.label(:street_number) %>
      <%= a.text_field(:street_number, :size => 10) %>
    <% end %>
    <% core_element :street_name, a, :horiz do %>
      <%= a.label(:street_name) %>
      <%= a.core_text_field(:street_name, {:size => 50}, event, @can_investigate) %>
    <% end %>
    <% core_element :unit_number, a, :horiz do %>
      <%= a.label(:unit_number) %>
      <%= a.core_text_field(:unit_number, {:size => 10}, event, @can_investigate) %>
    <% end %>
  </fieldset>

  <fieldset class="vert">
    <% core_element :city, a, :horiz do %>
      <%= a.label(:city, "City") %>
      <%= a.core_text_field(:city, {:size => 30}, event, @can_investigate) %>
    <% end %>
    <% core_element :state_id, a, :horiz do %>
      <%= a.label(:state_id, "State") %>
      <%= a.dropdown_code_field(:state_id, 'state', {:include_blank => true}, {}, event, @can_investigate) %>
    <% end %>
    <% core_element :county_id, a, :horiz do %>
      <%= a.label(:county_id, "County") %>
      <%= a.dropdown_code_field(:county_id, 'county', {:include_blank => true}, {}, event, @can_investigate) %>
    <% end %>
    <!---
    <span class="horiz">
    <%#= a.label(:district_id, "District") %>
    <%#= a.dropdown_code_field(:district_id, 'district', {:include_blank => true}) %>
    </span>
    -->
  <% core_element :postal_code, a, :horiz do %>
    <%= a.label(:postal_code, "Zip code") %>
    <%= a.core_text_field(:postal_code, {:size => 7}, event, @can_investigate) %>
  <% end %>
  </fieldset>
<% end %>
