<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<%= error_messages_for :object => entity_data.telephone %>

<%- event = event.nil? ? nil : event %>

<% f.fields_for(:telephone_entities_location, entity_data.telephone_entities_location, :builder => ExtendedFormBuilder) do |el| %>
  <span class="horiz">
    <%= el.label(:entity_location_type_id, "Phone type") %>
    <%= el.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {}, event, @can_investigate) %>
  </span>
<% end %>

<% f.fields_for(:telephone, entity_data.telephone, :builder => ExtendedFormBuilder) do |t| %>
  <% core_element :area_code, t, :horiz do %>
    <%= t.label(:area_code) %>
    <%= t.core_text_field(:area_code, {:size => 3, :maxlength => 3, :class => 'autotab'}, event, @can_investigate) %>
  <% end %>
  <% core_element :phone_number, t, :horiz do %>
    <%= t.label(:phone_number) %>
    <%= t.core_text_field(:phone_number, {:size => 8}, event, @can_investigate) %>
  <% end %>
  <% core_element :extension, t, :horiz do %>
    <%= t.label(:extension) %>
    <%= t.core_text_field(:extension, {:size => 6}, event, @can_investigate) %>
  <% end %>
  <fieldset class="vert">
    <% core_element :email_address, t, :horiz do %>
      <%= t.label(:email_address) %>
      <%= t.core_text_field(:email_address, {}, event, @can_investigate) %>
    <% end %>
  </fieldset>
<% end %>
