<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<h1>Show Location for <%= @person.first_name %> <%= @person.last_name %></h1>
<fieldset>
<legend>Person Information/Demographics</legend>  
<table cellpadding="2">
<tr>
  <td><%= label(:location, :location_type) %></td>
  <td><%= @location.type %></td>
  <td><%= label(:location, :primary_location) %></td>
  <td><%= "Yes" if @location.type %></td>
<tr>

<% a = @location.current_address %>

<tr>
  <td><%= label(:address, :street_number) %></td>
  <td><%= a.street_number %></td>
  <td><%= label(:address, :street_name) %></td>
  <td><%= a.street_name %></td>
  <td><%= label(:address, :unit_number) %></td>
  <td><%= a.unit_number %></td>
<tr>

<tr>
  <td><%= label(:address, :city) %></td>
  <td><%= l a.city %></td>
  <td><%= label(:address, :state) %></td>
  <td><%= l a.state %></td>
  <td><%= label(:address, :postal_code) %></td>
  <td><%= a.postal_code %></td>
<tr>

<tr>
  <td><%= label(:address, :county) %></td>
  <td><%= l a.county %></td>
  <td><%= label(:address, :district) %></td>
  <td><%= l a.district %></td>
<tr>
</table>
</fieldset>

<%= link_to 'Edit', edit_person_location_path(:person_id => @person.entity_id, :id => @location.id) %></td>
