-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t('disease_detail')

/- content_for :name do

- content_for :tools do
  = link_to t('back_to', :name => t('diseases')), diseases_path
  %p

- content_for :tools_two do
  = button_to(t('create_new_disease'), {:action => "new"}, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        =t('disease')
      %th
      %tr
        %td.forminformation
          .formname
            = h(@disease.disease_name)

          %span{ :class => "horiz" }
            %b
              = t('status')
            %br
            = @disease.active? ? t('active') :  t('inactive')

          %span{ :class => "horiz" }
            %b
              =t('cdc_netss_code')
            %br
            = h(@disease.cdc_code)

          %span{ :class => "horiz" }
            %b
              = t('cdc_send_status')
            %br
            = h(@disease.external_codes.collect { |ex_code| ex_code.code_description }.join(', '))

        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to t('edit'), edit_disease_path(@disease)
            |
            = t('show')
  %table.list
    %tr
      %th.forminformation{:style => "width: 5%"}
        = t('lead_in_questions')
      %th
    %tr
      %td{:style => "width: 5%"}
        = t('contact')
      %td
        =h @disease.contact_lead_in
    %tr
      %td{:style => "width: 5%"}
        = t('place')
      %td
        =h @disease.place_lead_in
    %tr
      %td{:style => "width: 5%"}
        = t('treatment')
      %td
        =h @disease.treatment_lead_in

  %table.list
    %tr
      %th.forminformation
        =t('cdc_export_columns')
    %tr
      %td.forminformation
        - if @disease.export_columns.empty?
          %span= t('no_cdc_export_columns_configured')
        - else
          %ul
            - @disease.export_columns.sort_by {|ec| ec.export_column_name}.each do |export_column|
              %li
                =h export_column.export_column_name

  %table.list
    %tr
      %th.forminformation
        = t('avr_groups')
    %tr
      %td.forminformation
        - if @disease.avr_groups.empty?
          %span=t ('no_avr_groups_configured')
        - else
          %ul
            - @disease.avr_groups.each do |avr_group|
              %li
                =h avr_group.name

  %table.list
    %tr
      %th.forminformation{ :colspan => (@disease.loinc_codes.empty? ? 1 : 5) }
        =t('loinc_codes')
    -if @disease.loinc_codes.empty?
      %tr
        %td.forminformation
          %span=t('no_loinc_codes_configured')
    -else
      -@disease.loinc_codes.each do |loinc_code|
        %tr.roll
          =render loinc_code

  %table.list
    %tr
      %th.forminformation{ :colspan => (@disease.organisms.empty? ? 1 : 2) }
        =t('organisms')
    -if @disease.organisms.empty?
      %tr
        %td.forminformation
          %span=t('no_organisms_configured')
    -else
      -@disease.organisms.each do |organism|
        %tr.roll
          =render organism

  %table.list
    %tr
      %th.forminformation{ :colspan => (@disease.common_test_types.empty? ? 1 : 2) }
        =t('common_test_types')
    -if @disease.common_test_types.empty?
      %tr
        %td.forminformation
          %span=t('no_common_test_types_configured')
    -else
      -@disease.common_test_types.each do |common_test_type|
        %tr.roll
          =render common_test_type
