-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Disease Detail

/- content_for :name do

- content_for :tools do
  = link_to '< Back to Diseases', diseases_path
  %p

- content_for :tools_two do
  = button_to("Create new disease", {:action => "new"}, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        Disease
      %th
      %tr
        %td.forminformation
          .formname
            = h(@disease.disease_name)

          %span{ :class => "horiz" }
            %b
              Status
            %br
            = @disease.active? ? 'Active' :  'Inactive'

          %span{ :class => "horiz" }
            %b
              CDC/NETSS code
            %br
            = h(@disease.cdc_code)

          %span{ :class => "horiz" }
            %b
              Sent to CDC when event status is:
            %br
            = h(@disease.external_codes.collect { |ex_code| ex_code.code_description }.join(', '))

        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to 'Edit', edit_disease_path(@disease)
            |
            Show
  %table.list
    %tr
      %th.forminformation{:style => "width: 5%"}
        Lead-in Questions
      %th
    %tr
      %td{:style => "width: 5%"}
        Contact
      %td
        =h @disease.contact_lead_in
    %tr
      %td{:style => "width: 5%"}
        Place
      %td
        =h @disease.place_lead_in
    %tr
      %td{:style => "width: 5%"}
        Treatment
      %td
        =h @disease.treatment_lead_in

  %table.list
    %tr
      %th.forminformation
        CDC Export Columns
    %tr
      %td.forminformation
        - if @disease.export_columns.empty?
          %span No CDC export columns configured
        - else
          %ul
            - @disease.export_columns.sort_by {|ec| ec.export_column_name}.each do |export_column|
              %li
                =h export_column.export_column_name

  %table.list
    %tr
      %th.forminformation
        AVR Groups
    %tr
      %td.forminformation
        - if @disease.avr_groups.empty?
          %span No AVR groups configured
        - else
          %ul
            - @disease.avr_groups.each do |avr_group|
              %li
                =h avr_group.name

  %table.list
    %tr
      %th.forminformation{ :colspan => (@disease.loinc_codes.empty? ? 1 : 5) }
        LOINC Codes
    -if @disease.loinc_codes.empty?
      %tr
        %td.forminformation
          %span No LOINC codes configured
    -else
      -@disease.loinc_codes.each do |loinc_code|
        %tr.roll
          =render loinc_code

  %table.list
    %tr
      %th.forminformation{ :colspan => (@disease.organisms.empty? ? 1 : 2) }
        Organisms
    -if @disease.organisms.empty?
      %tr
        %td.forminformation
          %span No Organisms configured
    -else
      -@disease.organisms.each do |organism|
        %tr.roll
          =render organism
