<h1>Listing answer_sets</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for answer_set in @answer_sets %>
  <tr>
    <td><%=h answer_set.name %></td>
    <td><%= link_to 'Show', answer_set %></td>
    <td><%= link_to 'Edit', edit_answer_set_path(answer_set) %></td>
    <td><%= link_to 'Destroy', answer_set, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New answer_set', new_answer_set_path %>
