<fieldset>
<legend>Patient Information</legend>  
<table cellpadding="2">
<tr>
<td><%= f.label(:last_name) %></td>
<td><%= f.text_field(:last_name, :tabindex => 1, :size => 25) %></td>
<td><%= f.label(:first_name) %></td>
<td><%= f.text_field(:first_name, :tabindex => 2, :size => 25) %></td>
</tr>
<tr>
<td><%= f.label(:street_address) %></td>
<td><%= f.text_field(:street_address, :tabindex => 3, :size => 55) %></td>
<td><%= f.label(:date_of_birth) %></td>
<td>TODO: MAKE DATE FIELD <%= f.text_field(:date_of_birth, :tabindex => 4) %></td>
</tr>
<tr>
<td><%= f.label(:city) %></td>
<td><%= f.text_field(:city, :tabindex => 5, :size => 40) %></td>
<td><%= f.label(:phone_number) %></td>
<td><%= f.text_field(:phone_1, :tabindex => 6, :size => 20) %></td>
</tr>
<tr>
<td><%= f.label(:county) %></td>
<td><%= f.text_field(:county, :tabindex => 7, :size => 40) %></td>
<td><%= f.label(:state) %></td>
<td><%= f.text_field(:state, :tabindex => 8, :size => 2) %></td>
</tr>
<tr>
<td><%= f.label(:zip_code) %></td>
<td><%= f.text_field(:zip_code, :tabindex => 8, :size => 10) %></td>
<td><%= f.label(:country) %></td>
<td><%= f.text_field(:country, :tabindex => 9, :size => 40) %></td>
</tr>
<tr>
<td><%= f.label(:sex) %></td>
<td><%= f.text_field(:sex, :tabindex => 10, :size => 1) %></td>
<td><%= f.label(:race) %></td>
<td>TODO: Make drop down</td>
</tr>
<tr>
<td><%= f.label(:ethnicity) %></td>
<td>TODO: Make drop down</td>
<td>TODO: Add language drop down and "other"</td>
<td>TODO: Handle up to 3 phone numbers</td>
</tr>
</table>
</fieldset>
