<h1>Show patient</h1>
<fieldset>
<legend>Patient Information/Demographics</legend>  
<table cellpadding="2">
<tr>
<td><%= label(:patient, :last_name) %></td>
<td><%= @patient.last_name %></td>
<td><%= label(:patient, :first_name) %></td>
<td><%= @patient.first_name %></td>
</tr>
<tr>
<td><%= label(:patient, :street_address) %></td>
<td><%= @patient.street_address %></td>
<td><%= label(:patient, :date_of_birth) %></td>
<td><%= @patient.date_of_birth %></td>
</tr>
<tr>
<td><%= label(:patient, :city) %></td>
<td><%= @patient.city %></td>
<td><%= label(:patient, :phone_number) %></td>
<td><%= @patient.phone_1 %></td>
</tr>
<tr>
<td><%= label(:patient, :county) %></td>
<td><%= @patient.county %></td>
<td><%= label(:patient, :state) %></td>
<td><%= @patient.state %></td>
</tr>
<tr>
<td><%= label(:patient, :zip_code) %></td>
<td><%= @patient.zip_code %></td>
<td><%= label(:patient, :country) %></td>
<td><%= @patient.country %></td>
</tr>
<tr>
<td><%= label(:patient, :sex) %></td>
<td><%= @patient.sex %></td>
<td><%= label(:patient, :race) %></td>
<td><%= @patient.race_id %></td>
</tr>
<tr>
<td><%= label(:patient, :ethnicity) %></td>
<td><%= @patient.ethnicity_id %></td>
<td><%= label(:patient, :language) %></td>
<td><%= @patient.language_id %></td>
</tr>
</table>
<p>TODO:  Make race, ethnicitiy, and language work</p>
</fieldset>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
