!!!
%html
%head
%title UT-NEDSS
= stylesheet_link_tag 'zone'
= stylesheet_link_tag 'grid'

/ Sam Skin CSS for TabView
= stylesheet_link_tag '../yui/build/tabview/assets/skins/sam/tabview.css'
= stylesheet_link_tag '..yui/build/button/assets/skins/sam/button.css' 

/ Menu Stylesheet (required for creating buttons of type "menu" and "split")
= stylesheet_link_tag '..yui/build/menu/assets/skins/sam/menu.css'

/ JavaScript Dependencies for Tabview
= javascript_include_tag '../yui/build/yahoo-dom-event/yahoo-dom-event.js'
= javascript_include_tag '../yui/build/element/element-beta-min.js'

/ Source files
= javascript_include_tag '../yui/build/tabview/tabview-min.js'
= javascript_include_tag 'yui/build/button/button-min.js'
= javascript_include_tag '../yui/build/tabview/ScrollTabView.js'
= javascript_include_tag :defaults
= calendar_date_select_includes

/ JavaScript file for Animation
= javascript_include_tag '../yui/build/animation/animation-min.js'

/ OPTIONAL: Menu and Container Core (required for creating buttons of type "menu" and "split")
= javascript_include_tag '../yui/build/container/container_core-min.js'
= javascript_include_tag '../yui/build/menu/menu-min.js'

%body.yui-skin-sam
#hd
  .container
    .span-7.push-1
      #logo
        %a{:href => 'home_path'}
        %img{:src => '../images/logo.gif'}
    .span-12.push-3.last
      #nav
        .user
          Matthew Martin
        .area
          = link_to 'CMR', :controller => "cmr", :action => "index"
          = link_to 'FORM', :controller => "form", :action => "index"
          = link_to 'SEARCH', :controller => "search", :action => "index"

.container
  #main
    .span-22.push-1
      = yield

.container
  #ft
    .span-22.push-1
      %hr
      %b Release 1 Pilot Feedback:
      %a{:href => 'https://ut-nedss.csinitiative.net/wiki/Release1PilotFeedback'} Wiki
      %a{:href => 'mailto:r1feedback@ut-nedss.csinitiative.net'}Email List
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

.container.showgrid
  .span-1 01
  .span-1 02
  .span-1 03
  .span-1 04
  .span-1 05
  .span-1 06
  .span-1 07
  .span-1 08
  .span-1 09
  .span-1 10
  .span-1 11
  .span-1 12
  .span-1 13
  .span-1 14
  .span-1 15
  .span-1 16
  .span-1 17
  .span-1 18
  .span-1 19
  .span-1 20
  .span-1 21
  .span-1 22
  .span-1 23
  .span-1.last 24
