%div{:id => "new-section-form"}

  = error_messages_for :section_element
    
  %h4 Add a new section
  - remote_form_for(@section_element) do |f|
    = render :partial => 'form', :locals => { :f => f }
    = f.submit "Create"
    &nbsp;&nbsp;
    = link_to_function "Close", "$('section-mods-#{@section_element.parent_element_id}').down('form').reset(); Effect.BlindUp($('section-mods-#{@section_element.parent_element_id}'))"
