-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Event Queues

/- content_for :name do

/- content_for :tools do

- content_for :tools_two do
  = button_to("Create new event queue", new_event_queue_path, :id => 'create_event_queue')

#rot
  %table.list
    %tr
      %th.forminformation
        Event Queues
      %th
    - for event_queue in @event_queues
      %tr.roll
        %td
          .formname
            = link_to event_queue.queue_name, event_queue
          .tools
            = event_queue.jurisdiction.current_place.name
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to 'Show', event_queue
            |
            = link_to 'Edit', edit_event_queue_path(event_queue)
            |
            = link_to 'Delete', event_queue_path(event_queue), :method => :delete
