
%p
  %label Name
  %br
  = f.text_field :name

%p
  %label Description
  %br
  = f.text_field :description

%p
  = f.label(:disease_id, "Show when disease is:")
  / = f.collection_select(:disease_id, Disease.find(:all, :order => "disease_name asc"), :id, :disease_name )
  %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
    %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
      - for disease in Disease.find(:all, :order => "disease_name asc")
        = "<label>" + check_box_tag("form[disease_ids][]", disease.id, @form.diseases.include?(disease), :id => disease.disease_name.tr(" ", "_")) + disease.disease_name + "</label>"
%p
  = f.label(:jurisdiction_id, "Show when jurisdiction is:")
  = f.collection_select(:jurisdiction_id, Place.jurisdictions, :entity_id, :name, :include_blank => "All Jurisdictions" )
