- content_for :title do
  Form Builder

- content_for :name do
  = @form.name

- content_for :tools do
  = link_to 'Back to forms', forms_path
  |
  = link_to 'Back to form details', @form 

- content_for :tools_two do
  = button_to "Publish", {:action => "publish", :id => @form.id}

.name
  Form Builder
.tools
  = link_to 'Back to Forms', forms_path
  |
  = link_to 'Create New Form', new_form_path
  %p{:style => "color: green"}
    = flash[:notice]

#rot
  %table.forms
    %tr
      %th Name
      %th Description
      %th Diseases
      %th Jurisdiction
      %th Status
      %tr
        %td
          = h @form.name
        %td
          = h @form.description
        %td
          %ul
            - @form.diseases.each do |disease|
              %li.diseaselist= h disease.disease_name
        %td
          = h @form.jurisdiction.nil? ? "All" : @form.jurisdiction.current_place.name
        %td
          = h @form.status
        %td
  %small
    = link_to 'Edit', edit_form_path(@form)
  %br
  %br
  %formbuilder-body
    %b Investigator Form Elements
    %br
    %small
      = link_to_remote("Add a tab", :url => {:controller => "view_elements", :action => "new", :form_element_id => @form.investigator_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-tab'})

    %div{:id => "builder-mods"}

    %ul{:id => "root-element-list"}
      = render :partial => 'forms/elements'

    %b Core Form Elements
    %br
    %small{:style => "#float: right"}
      = link_to_remote("Add a core tab configuration", :url => {:controller => "core_view_elements", :action => "new", :form_element_id => @form.core_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-tab'})

    %div{:id => "core-builder-mods"}

    %ul{:id => "core-element-list"}
      = render :partial => 'forms/core_elements'

    %b Core Field Elements
    %br
    %small{:style => "#float: right"}
      = link_to_remote("Add a core field configuration", :url => {:controller => "core_field_elements", :action => "new", :form_element_id => @form.core_field_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-field'})

    %div{:id => "core-field-builder-mods"}

    %ul{:id => "core-field-element-list"}
      = render :partial => 'forms/core_field_elements'