-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Forms

- content_for :name do
  = @form.name

- content_for :tools do
  = link_to 'Back to forms', forms_path
  |
  = link_to 'Back to form details', @form 

- content_for :tools_two do
  = button_to("Create new form", {:action => "new"}, { :method => :get })

.name
  Form Builder
.tools
  = link_to 'Back to Forms', forms_path
  %p{:style => "color: green"}
    = flash[:notice]
#rot
  %table.listingforms
    %tr
      %th.forminformation
        Form Information
      %th Diseases
      %th Jurisdiction
      %th
      %tr
        %td.forminformation
          .formname
            = h @form.name
            %br
          .description  
            = h @form.description
          .status
            = h @form.status
        %td
          %ul
            - @form.diseases.each do |disease|
              %li.diseaselist= h disease.disease_name
        %td
          = h @form.jurisdiction.nil? ? "All" : @form.jurisdiction.current_place.name
        %td
          = link_to 'Edit', edit_form_path(@form)
  %br
#rot
  #formbuilder-body
    %div{:id => "library-admin"}
    %b Investigator Form Elements
    %div{:id => "builder-mods"}
    %div{:id => "core-builder-mods"}
    %div{:id => "core-field-builder-mods"}
    %ul{:id => "root-element-list"}
      = render :partial => 'forms/elements'
    %ul{:id => "core-element-list"}
      = render :partial => 'forms/core_elements'
    %ul{:id => "core-field-element-list"}
      = render :partial => 'forms/core_field_elements'
#sidebar
  = button_to "Publish", {:action => "publish", :id => @form.id}
  
  = link_to_remote("Add a tab", :url => {:controller => "view_elements", :action => "new", :form_element_id => @form.investigator_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-tab'})
  %br
  = link_to_remote("Add a core tab configuration", :url => {:controller => "core_view_elements", :action => "new", :form_element_id => @form.core_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-tab'})
  %br
  = link_to_remote("Add a core field configuration", :url => {:controller => "core_field_elements", :action => "new", :form_element_id => @form.core_field_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-field'})
  %br
  = link_to_remote("Open library", :url => {:controller => "forms", :action => "open_library_admin"}, :method => :get, :html => {:id => 'fb-open-library-admin'})