-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Forms

- content_for :name do
  = @form.name

- content_for :tools do
  = link_to 'Back to forms', forms_path
  |
  = link_to 'Back to form details', @form 

- content_for :tools_two do
  = button_to("Create new form", {:action => "new"}, { :method => :get })

.name
  Form Builder
.tools
  = link_to 'Back to Forms', forms_path
  %p{:style => "color: green"}
    = flash[:notice]
#rot
  #formbuilder-body
    %table.listingforms
      %tr
        %th.forminformation
          Form Information
        %th Event Type
        %th Diseases
        %th Jurisdiction
        %tr
          %td.forminformation
            .formname
              = h @form.name
              %br
            .description  
              = h @form.description
            .status
              = h @form.status
          %td
            = h @form.event_type.humanize
          %td
            %ul
              - @form.diseases.each do |disease|
                %li.diseaselist= h disease.disease_name
          %td
            = h @form.jurisdiction.nil? ? "All" : @form.jurisdiction.current_place.name
    - if @form.errors.empty?
      %div{:id => "form_children"}
        %ul{:id => "root-element-list"}
          = render :partial => 'forms/elements'
      %div{:id => "core_form_children"}
        %ul{:id => "core-element-list"}
          = render :partial => 'forms/core_elements'
      %div{:id => "core_field_form_children"}
        %ul{:id => "core-field-element-list"}
          = render :partial => 'forms/core_field_elements'
    - else
      %br
      %span{:style => 'color:#CC0000; font-weight: bold'}
        Form structure is invalid.
      %ul
        - @form.errors.each do |k, v|
          %li{:style => 'color:#CC0000; font-weight: bold'}
            = v
      %br
      = link_to 'Roll form back to last good published version.', form_rollback_path(@form)
      &nbsp;(This may take a few minutes.)

#sidebar
  %ul.tina
    %li.action
      = link_to 'Edit Form Detail', edit_form_path(@form), :id => 'edit-form'
    - if @form.errors.empty?
      %li.action
        = link_to_remote("Add Tab", :url => {:controller => "view_elements", :action => "new", :form_element_id => @form.investigator_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-tab', :id => 'add-tab'})
        #builder-mods
      %li.action
        = link_to_remote("Add Core Tab Config", :url => {:controller => "core_view_elements", :action => "new", :form_element_id => @form.core_view_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-tab', :id => 'add-core-tab'})
        #core-builder-mods
      %li.action
        = link_to_remote("Add Core Field Config", :url => {:controller => "core_field_elements", :action => "new", :form_element_id => @form.core_field_elements_container.id}, :method => :get, :html => {:class => 'fb-add-core-field', :id => 'add-core-field'})
        #core-field-builder-mods
      %li.action
        = link_to_remote("Open library", :url => {:controller => "forms", :action => "library_admin", :type => "question_element"}, :method => :get, :html => {:class => 'fb-open-library-admin', :id => 'open-library-admin'})
        #library-admin
  %br
  %hr

  - if @form.errors.empty?
    - form_remote_tag :url => {:action => 'publish', :id => @form.id}, :loading => "$('publish_btn').disabled = 'disabled';$('publish_btn').value = 'Publishing...';$('spinner').show();" do
      = submit_tag 'Publish', :id => 'publish_btn'
      = image_tag 'redbox_spinner.gif', :id => 'spinner', :style => "height: 16px; width: 16px; display: none;"