- content_for :title do
  Forms
  
- content_for :name do
  Edit 
  = @form.name

- content_for :tools do
  = link_to 'Show', @form 
  |
  = link_to 'Back', forms_path
  |
  = link_to 'Form Builder', builder_path(@form)

- content_for :tools_two do
  = button_to("Create new form", {:action => "new"}, { :method => :get })

= error_messages_for :form

.name
  Edit Form Detail
.tools
  = link_to 'Back to Forms', forms_path
  %p{:style => "color: green"}
    = flash[:notice]
#rot
- form_for(@form) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Update"



