- content_for :title do
  Form Builder

- content_for :name do
  Edit 
  = @form.name

- content_for :tools do
  = link_to 'Show', @form 
  |
  = link_to 'Back', forms_path
  |
  = link_to 'Form Builder', builder_path(@form)

= error_messages_for :form

.name
  Edit Form Detail
.tools
  = link_to 'Back to Forms', forms_path
  |
  = link_to 'Create New Form', new_form_path
  %p{:style => "color: green"}
    = flash[:notice]

- form_for(@form) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Update"



