-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Forms

- content_for :tools_two do
  = button_to("Create new form", {:action => "new"}, { :method => :get })

- form_tag({:action => 'import'}, :multipart => true) do
  %table{:width => '100%'}
    %tr
      %td{:align => 'right', :width => '100%'}
        = file_field 'form', 'import'
      %td
        = button_to("Upload", {}, { :type => "submit" })
  %br

#rot
  %table.list
    %tr
      %th.forminformation
        Form Information
      %th Diseases
      %th Jurisdiction
      %th Event Type
    - for form in @forms
      %tr.roll
        %td.forminformation
          .formname
            = link_to form.name, builder_path(form)
            %br
          .description
            = h form.description
          .tools
            = link_to 'Detail', builder_path(form), :id => "detail_form_#{form.id}"
            |
            = link_to 'Edit', edit_form_path(form), :id => "edit_form_#{form.id}"
            |
            = link_to 'Copy', copy_form_path(form), :method => :post, :id => "copy_form_#{form.id}"
            |
            = link_to 'Export', export_form_path(form), :method => :post, :id => "export_form_#{form.id}"
            - if form.status == "Published"
              |
              = link_to 'Push', push_form_path(form), :method => :post
              |
              = link_to 'Deactivate', deactivate_form_path(form), :method => :post
        %td
          %ul
            - form.diseases.each do |disease|
              %li.diseaselist
                = h disease.disease_name
        %td
          = h form.jurisdiction.nil? ? "All" : form.jurisdiction.current_place.name
        %td
          = h form.event_type.humanize
          .status
            = h form.status
