- content_for :title do
  Form Builder

- content_for :name do
  New form

- content_for :tools do
  = link_to 'Back', forms_path

.name
  Create New Form
.tools
  = link_to 'Back to Forms', forms_path
  %p{:style => "color: green"}
    = flash[:notice]
    
= error_messages_for :form

- form_for(@form) do |f|

  = render :partial => 'form', :locals => { :f => f }

  %p
    = f.submit "Create"

