<fieldset>
<legend>Person Information
  <span id='person_info_hide' onClick="Element.hide('person_form'); Element.hide('person_info_hide'); Element.show('person_info_show'); return false;">[Hide]</span>
  <span id='person_info_show' onClick="Element.show('person_form'); Element.hide('person_info_show'); Element.show('person_info_hide'); return false;" style="display: none;">[Show]</span>
</legend>
<div id='person_form'>

<%= f.hidden_field(:entity_type) %>

<fieldset class="form">
  <legend>Name</legend>
  <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
    <span class="horiz">
      <%= p.label(:last_name) %>
      <%= p.text_field(:last_name, :size => 25) %>
    </span>
    <span class="horiz">
      <%= p.label(:first_name) %>
      <%= p.text_field(:first_name, :size => 25) %>
    </span>
    <span class="horiz">
      <%= p.label(:middle_name) %>
      <%= p.text_field(:middle_name, :size => 25) %>
    </span>
  <% end %>
</fieldset>

<fieldset class="form">
  <legend>Address</legend>
  <% if entity_data.entities_location.nil? %>
    <% entity_data.entities_location = { :entity_location_type_id => Code.unspecified_location_id, :primary_yn_id => Code.yes_id } %>
  <% end %>
  <% f.fields_for(:entities_location, entity_data.entities_location, :builder => ExtendedFormBuilder) do |el| %>
    <%= el.hidden_field(:entity_id) %>
    <%= el.hidden_field(:entity_location_type_id) %>
    <%= el.hidden_field(:primary_yn_id) %>

    <%= render :partial => 'locations/address_form', :locals => { :f => f, :address => entity_data.address } %>
  <% end %>
</fieldset>

<fieldset class="form">
  <legend>Age</legend>
  <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
    <span class="horiz">
      <%= p.label(:birth_date, "Date of Birth") %>
      <%= p.calendar_date_select(:birth_date, :year_range => 100.years.ago..0.years.from_now) %>
    </span>
    <span class="horiz">
      <%= p.label(:approximate_age_no_birthday, "Age") %>
      <%= p.text_field(:approximate_age_no_birthday, :size => 3) %>
    </span>
    <span class="horiz">
      <%= p.label(:date_of_death) %>
      <%= p.calendar_date_select(:date_of_death, :year_range => 100.years.ago..0.years.from_now) %>
    </span>
  <% end %>
</fieldset>

<fieldset class="form">
  <legend>Telephone</legend>
  <% f.fields_for(:entities_location, entity_data.entities_location, :builder => ExtendedFormBuilder) do |el| %>
    <%= render :partial => 'locations/phone_form', :locals => { :f => f, :telephone => entity_data.telephone } %>
  <% end %>
</fieldset>

<fieldset class="form">
  <legend>Demographics</legend>
  <% f.fields_for(:person, entity_data.person, :builder => ExtendedFormBuilder) do |p| %>
    <span class="horiz">
      <%= p.label(:birth_gender) %>
      <%= p.dropdown_code_field(:birth_gender_id, 'gender', {}) %>
    </span>
    <span class="horiz">
      <%= p.label(:ethnicity) %>
      <%= p.dropdown_code_field(:ethnicity_id, 'ethnicity', {}) %>
    </span>
    <span class="horiz">
      <%= f.label(:race) %>
      <%= f.multi_select_code_field(:race_ids, 'race', {}, {}) %>
    </span>
    <span class="horiz">
      <%= p.label(:primary_language) %>
      <%= p.dropdown_code_field(:primary_language_id, 'language', {}) %>
    </span>
  <% end %>
</fieldset>

</div>
</fieldset>
