<% e = entity_data %>
<% p = entity_data.current_person %>
<% l = entity_data.entities_location.location; a = l.current_address; t = l.current_phone %>
<fieldset>
<legend> Person Information/Demographics</legend>  
<table cellpadding="2">
  <tr>
    <td><span class="label">Last Name:</span></td>
    <td><%= p.last_name %></td>
    <td><span class="label">First Name:</span></td>
    <td><%= p.first_name %></td>
    <td><span class="label">Middle Name:</span></td>
    <td><%= p.middle_name %></td>
  </tr>

  <tr> 
    <td colspan="6"><span class="label"><%= l.type unless l.nil? %> Address: <%= " (Primary) " if l.primary? -%></span>
<% unless a.nil? %>
<%= a.street_number -%>
<%= fml " ", a.street_name, "" -%>
<%= fml ", Unit: ", a.unit_number, "" -%>
<%= fml ", ", l(a.city), "" -%>
<%= fml ", ", l(a.state), "" -%>
<%= fml ", ", a.postal_code, "" -%>
<%= fml " : ", l(a.county), " county" -%>
<%= fml " : ", l(a.district), " district" -%>
<% end %>
    </td>
  </tr>
  <tr>
    <td><span class="label">Birth Date:</span></td>
    <td><%= p.birth_date %></td>
    <% if not p.birth_date.blank? %>
      <td><span class="label">Age:</span></td>
      <td><%= calculate_age(p.birth_date) %></td>
    <% elsif not p.approximate_age_no_birthday.blank?  %>
      <td><span class="label">Approximage Age:</span></td>
      <td><%= p.approximate_age_no_birthday %></td>
    <% end %>
  </tr>
  <tr>
    <td colspan="6"><span class="label"><%= l.type unless l.nil?%> Phone: <%= " (Primary) " if l.primary? -%></span>
  <% unless t.nil? %>
    <%= fml "(", t.area_code, ") " if t.area_code -%>
<%= phone_number(t.phone_number) -%>
<%= fml " Ext. ", t.extension, "" if t.extension -%>
  <% end %>
    </td>
  </tr>
  <tr>
    <td><span class="label">Birth Gender:</span></td>
    <td><%= l p.birth_gender %></td>
    <td><span class="label">Current Gender:</span></td>
    <td><%= l p.current_gender %></td>
  </tr>
  <tr>
    <td><span class="label">Race:</span></td>
    <td>
      <% i = 0; for race in e.races %>
        <%= " and " unless i == 0 %><%= l race %>
        <% i += 1 %>
      <% end %>
    </td>
    <td><span class="label">Ethnicity:</span></td>
    <td><%= l p.ethnicity %></td>
  </tr>
</table>

<br/>
<table>
  <tr>
    <th colspan="6">The following to be moved to epidemilogical tab pending database changes</th>
  </tr>
  <tr>
    <td><span class="label">Food Handler:</span></td>
    <td><%= l p.food_handler %></td>
    <td><span class="label">Healthcare Worker:</span></td>
    <td><%= l p.healthcare_worker %></td>
  </tr>
  <tr>
    <td><span class="label">Group Living:</span></td>
    <td><%= l p.group_living %></td>
    <td><span class="label">Day Care Association:</span></td>
    <td><%= l p.day_care_association %></td>
  </tr>
  <tr>
    <td><span class="label">Risk Factors:</span></td>
    <td><%= p.risk_factors %></td>
    <td><span class="label">Risk Factor Notes:</span></td>
    <td><%= p.risk_factors_notes %></td>
  </tr>
</table>
</fieldset>
