
= f.hidden_field :parent_element_id
= f.hidden_field :form_id

%p
  %label Answer Set Name
  %br
  = f.text_field :name

= add_answer_link "Add an answer"

%div{ :id => "answer-mods" }
  = render :partial => 'answer_set_elements/answer', :collection => @answer_set_element.answer_elements

