<fieldset>
<legend>Person Information</legend>  
<table cellpadding="2">
  <tr>
    <td><%= f.label(:last_name) %></td>
    <td><%= f.text_field(:last_name, :tabindex => 1, :size => 25) %></td>
    <td><%= f.label(:first_name) %></td>
    <td><%= f.text_field(:first_name, :tabindex => 2, :size => 25) %></td>
    <td><%= f.label(:middle_name) %></td>
    <td><%= f.text_field(:middle_name, :tabindex => 3, :size => 25) %></td>
  </tr>
  <tr>
    <td><%= f.label(:birth_date) %></td>
    <td><%= f.calendar_date_select(:birth_date, :year_range => 100.years.ago..0.years.from_now, :tabindex => 4) %></td>
    <td><%= f.label(:date_of_death) %></td>
    <td><%= f.calendar_date_select(:date_of_death, :year_range => 100.years.ago..0.years.from_now, :tabindex => 5) %></td>
  </tr>
  <tr>
    <td><%= f.label(:birth_gender) %></td>
    <td><%= f.dropdown_code_field(:birth_gender_id, 'gender', {:include_blank => true}, :tabindex => 6) %></td>
    <td><%= f.label(:current_gender) %></td>
    <td><%= f.dropdown_code_field(:current_gender_id, 'gender', {:include_blank => true}, :tabindex => 7) %></td>
  </tr>
  <tr>
    <td><%= f.label(:race) %></td>
    <td><%= f.dropdown_code_field(:race_id, 'race', {:include_blank => true}, :tabindex => 8) %></td>
    <td><%= f.label(:ethnicity) %></td>
    <td><%= f.dropdown_code_field(:ethnicity_id, 'ethnicity', {:include_blank => true}, :tabindex => 9) %></td>
    <td><%= f.label(:primary_language) %></td>
    <td><%= f.dropdown_code_field(:primary_language_id, 'language', {:include_blank => true}, :tabindex => 10) %></td>
  </tr>
</table>
</fieldset>
