<h1>Editing person</h1>

<%= error_messages_for :person %>

<% form_for(@person, 
            :url => person_path(@person.entity_id), 
            :html => {:method => :put}, 
            :builder => ExtendedFormBuilder) do |f| %>
  <p>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', person_url(@person.entity_id) %> |
<%= link_to 'Back', people_path %>
