-# Copyright (C) 2007, 2008, 2009, 2010 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  = t "x_codes", :x => h(@code_name.description)

- content_for :tools do
  .horiz#rot
    = link_to t('back_to', :name => t('list_of_codes')), codes_path

- content_for :tools_two do
  = button_to  t("new_code", :type => h(@code_name.description)), new_code_path(@code_name.code_name)

.vert#rot
  %table.list
    %tr
      %th.forminformation{ :colspan => 2 }
        =t 'x_codes', :x => h(@code_name.description)
    - for code in @external_codes
      %tr.roll
        %td.forminformation
          .formname
            %div{ :class => code.deleted? ? 'deleted' : nil }
              = link_to h(code.code_description), show_code_path(code.code_name, code.the_code)
          .tools
            = ct 'the_code'
            = h(code.the_code)
            %br
            - if code.deleted?
              = link_to t("undelete"), soft_undelete_code_path(code.code_name, code.the_code), :confirm => t('confirm_restore')
            - else
              = link_to t("delete"), soft_delete_code_path(code.code_name, code.the_code), :confirm => t('confirm_delete')
        %td
          - unless code.deleted?
            .tools{:style => "position: absolute; right: 15px;"}
              = link_to t("show"), show_code_path(code.code_name, code.the_code)
              |
              = link_to t("edit"), edit_code_path(code.code_name, code.the_code)
