-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Export Columns

/- content_for :name do

/- content_for :tools do

- content_for :tools_two do
  = button_to("Create new export column", new_export_column_path, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        Descriptive Name
      %th
        CDC Name
      %th
        Disease Group 
      %th
    - for xp_column in @export_columns
      %tr.roll
        %td.forminformation
          .formname
            -p xp_column.name
            = link_to xp_column.name || ("not specified"), xp_column
        %td
          = xp_column.export_column_name
        %td
          = xp_column.export_disease_group.name unless xp_column.export_disease_group.nil?
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to('Edit', edit_export_column_path(xp_column))
            |
            = link_to('Show', export_column_path(xp_column))
            |
            = link_to('Delete', export_column_path(xp_column), :method => :delete)
