-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Export Column Detail

/- content_for :name do

- content_for :tools do
  = link_to '< Back to Export Columns', export_columns_path
  %p

- content_for :tools_two do
  = button_to("Create new Export Column", new_export_column_path, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        Export Column
      %th
      %tr
        %td.forminformation
          .formname
            = @export_column.name
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to('Edit', edit_export_column_path(@export_column))
            |
            Show
            |
            = link_to('Delete', export_column_path(@export_column), :method => :delete)
  %table.list
    %tr
      %th.forminformation
        Edit Export Column
    %tr
      %td
        %span{ :class => "horiz" }
          %label Descriptive Name
          = @export_column.name

        %span{ :class => "horiz" }
          %label CDC Column Name
          = @export_column.export_column_name

        %br{ :class => "vert" }
        %br

        %span{ :class =>  "horiz" }
          %label Data source
          = @export_column.type_data

        %span{ :class =>  "horiz" }
          %label Data type (if source is Formbuilder)
          = @export_column.data_type

        %span{ :class => "horiz" }
          %label Table name (if source is Core Data)
          = @export_column.table_name

        %span{ :class => "horiz" }
          %label Column name (if source is Core Data)
          = @export_column.column_name

        %span{ :class =>  "horiz" }
          %label Required
          = @export_column.is_required

        %br{ :class => "vert" }
        %br

        %span{ :class => "horiz" }
          %label start_position
          = @export_column.start_position

        %span{ :class => "horiz" }
          %label length_to_output
          = @export_column.length_to_output
