-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the 
-# terms of the GNU Affero General Public License as published by the 
-# Free Software Foundation, either version 3 of the License, 
-# or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but 
-# WITHOUT ANY WARRANTY; without even the implied warranty of 
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License 
-# along with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- form_tag(home_path, :method => :get) do
  %span.vert= "Show tasks for the last #{text_field_tag(:look_back, params[:look_back], :size => '3')} day#{params[:look_back] == '1' ? '' : 's'} (leave blank for all overdue tasks)."
  %span.vert= "Show tasks for the next #{text_field_tag(:look_ahead, params[:look_ahead], :size => '3')} day#{params[:look_ahead] == '1' ? '' : 's'} (leave blank for all pending tasks)."
  %span.vert Leaving a field blank shows all tasks in that direction.
  %span.vert
    %label Disease Filter
  %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
    %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
      - Disease.find(:all).each do |disease|
        = "<label>" + check_box_tag("disease_filter[]", disease.id, (params[:disease_filter] || []).include?(disease.id.to_s), :id => disease.disease_name.tr(" ", "_")) + disease.disease_name + "</label>"

  %span.horiz= submit_tag 'Update', :id => 'update_tasks_filter'
  %span.vert= link_to_function('Close', "Effect.BlindUp('task_view_settings')")