-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.

-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

= f.hidden_field :parent_element_id

#detail-container
  %p
    %table
      %tr
        %td
          %b= t('add_core_field')
      %tr
        %td.tools
          = link_to_function t("close"), "$('core-field-builder-mods').down('form').reset(); Effect.BlindUp($('core-field-builder-mods'), { duration: 0.1 })"
= f.select(:core_path, @available_core_fields, {:include_blank => true}, {:style => 'width: 185px'})
- unless @available_core_fields.empty?
  = f.submit(t('create'), :id => 'create_core_field_submit')