
%h1 Listing question types

%table
  %tr
    %th Name
    %th{:colspan => 3} Actions
  - for question_type in @question_types
    %tr
      %td
        = h question_type.name
      %td
        = link_to 'Show', question_type
      %td
        = link_to 'Edit', edit_question_type_path(question_type)
      %td
        = link_to 'Destroy', question_type, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New question type', new_question_type_path