%fieldset
  %legend Administrative Information
  %fieldset{:class => "form"}
    %legend Tracking Information
    %span{:class => "horiz"}
      %label Record number
      = @event.record_number

    %span{:class => "horiz"}
      %label Date record created
      = @event.event_onset_date 

    %span{:class => "horiz"}
      %label MMWR year
      = @event.MMWR_year 

    %span{:class => "horiz"}
      %label MMWR week
      = @event.MMWR_week 

  %span.vert
      
  %fieldset{:class => "form"}
    %legend Case / Outbreak
    - core_element_show :lhd_case_status_id, event_form, :horiz do
      = event_form.label(:lhd_case_status_id, 'LHD case status')
      = l(@event.lhd_case_status) || '&nbsp;'
    - core_element_show :udoh_case_status_id, event_form, :horiz do
      = event_form.label(:udoh_case_status_id, 'UDOH case status')
      = l(@event.udoh_case_status)
    - core_element_show :outbreak_associated_id, event_form, :horiz do
      = event_form.label :outbreak_associated_id, 'Outbreak associated'
      = l(@event.outbreak_associated) || '&nbsp;'
    - core_element_show :outbreak_name, event_form, :horiz do
      = event_form.label :outbreak_name
      = h(@event.outbreak_name) || '&nbsp;' 

  %fieldset{:class => "form"}
    %legend Investigation
    %span{:class => "horiz"}
      %label Jurisdiction of Residence
      - patient_entity = @event.active_patient.primary_entity
      - if patient_entity
        - unless patient_entity.address_entities_locations.empty?
          - address = patient_entity.address_entities_locations.last.location.addresses.last
          - if address && address.county && address.county.jurisdiction
            - jurisdiction_name = address.county.jurisdiction.name
      = jurisdiction_name.blank? ? 'Not Applicable' : jurisdiction_name 

    - event_form.fields_for(:active_jurisdiction, @event.active_jurisdiction, :builder => ExtendedFormBuilder) do |j|
      - core_element_show :secondary_entity_id, j, :horiz do
        = j.label(:secondary_entity_id, 'Jurisdiction responsible for investigation') 
        = h(@event.jurisdiction.secondary_entity.place.name) unless @event.jurisdiction.nil?
      - core_element_show :event_status, event_form, :horiz do
        = event_form.label :event_status, 'Event status'
        =h(@event.current_state.description)
      - core_element_show :investigation_started_date, event_form, :horiz do
        = event_form.label :investigation_started_date, 'Date investigation started'
        = h(@event.investigation_started_date)
      - core_element_show :investigation_completed_LHD_date, event_form, :horiz do
        = event_form.label :investigation_completed_LHD_date, 'Date invesitgation completed'
        = h(@event.investigation_completed_LHD_date)

  %fieldset{:class => "form"}
    %legend Auditing
    - core_element_show :event_name, event_form, :horiz do
      = event_form.label :event_name 
      = h(@event.event_name)
    - core_element_show :review_completed_UDOH_date, event_form, :horiz do
      = event_form.label :review_completed_UDOH_date, 'Date review completed by UDOH' 
      = h(@event.review_completed_UDOH_date)
    - core_element_show :acuity, event_form, :horiz do
      = event_form.label :acuity
      = h(@event.acuity)
