-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%div{:class => 'clinician', :style => "clear: both;"}
  - new_or_existing = new_or_existing?(clinician)
  - prefix = event_prefix_for_multi_models(new_or_existing, "_clinician_attributes")
  - prefix_with_array = prefix + "[]"

  - clinician_person = clinician.secondary_entity.person_temp
  - clinician_telephone_entities_location = clinician.secondary_entity.telephone_entities_locations[0]

  -# Reading back a clinician who was saved with no phone
  - if clinician_telephone_entities_location.nil?
    - clinician_telephone_entities_location = EntitiesLocation.new_telephone_location

  - clinician_telephone = clinician_telephone_entities_location.location.telephones.last

  = error_messages_for :object => [clinician_person, clinician_telephone]
  - fields_for(prefix_with_array, clinician_person, :builder => ExtendedFormBuilder) do |clinician_fields|
    %span{:class => 'horiz'}
      = clinician_fields.label(:last_name)
      = clinician_fields.text_field(:last_name, :size => 20, :maxlength => 25, :class => 'required_if_others')
    %span{:class => 'horiz'}
      = clinician_fields.label(:first_name)
      = clinician_fields.text_field(:first_name, :size => 20, :maxlength => 25)
    %span{:class => 'horiz'}
      = clinician_fields.label(:middle_name)
      = clinician_fields.text_field(:middle_name, :size => 20, :maxlength => 25)

  %span.vert
  - clinician_phone_id = clinician_telephone_entities_location.id
  - clinician_telephone_entities_location.id = clinician_person.id

  - fields_for prefix_with_array, clinician_telephone_entities_location, :builder => ExtendedFormBuilder do |el_form|
    = hidden_field_tag("#{prefix}[#{clinician_telephone_entities_location.id}][clinician_phone_id]", clinician_phone_id) unless clinician.new_record?
    - core_element :entity_location_type_id, el_form, :horiz do
      = el_form.label(:entity_location_type_id, "Phone type")
      = el_form.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {})

  - clinician_telephone.id = clinician_person.id
  
  - fields_for(prefix_with_array, clinician_telephone, :builder => ExtendedFormBuilder) do |phone_fields|
    %span.horiz
      = phone_fields.label(:area_code)
      = phone_fields.core_text_field(:area_code, {:size => 3, :maxlength => 3, :class => 'autotab'})
    %span.horiz
      = phone_fields.label(:phone_number)
      = phone_fields.core_text_field(:phone_number, {:size => 8})
    %span.horiz
      = phone_fields.label(:extension)
      = phone_fields.core_text_field(:extension, {:size => 6, :maxlength => 6})

    %span{:class => "horiz", :style => "margin-top: 30px"}
      = link_to_function "Remove" , "$(this).up('.clinician').remove()", {:id => "remove_clinician_link"}

    %hr
