-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header
  Clinical Information

- event_form.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d|
  - core_element_print :disease_id, d, :horiz do
    %span.print-label Disease:
    %span.print-value= @event.disease.disease.disease_name unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :disease_onset_date, d, :horiz do
    %span.print-label Onset date
    %span.print-value= @event.disease.disease_onset_date unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :date_diagnosed, d, :horiz do
    %span.print-label Date diagnosed:
    %span.print-value= @event.disease.date_diagnosed unless @event.disease.nil? || @event.disease.disease.nil?
  - core_element_print :hospitalized_id, d, :horiz do
    %span.print-label Hospitalized:
    %span.print-value= l @event.disease.hospitalized unless @event.disease.nil?
  - core_element_print :died_id, d, :horiz do
    %span.print-label Died:
    %span.print-value= l @event.disease.died unless @event.disease.nil?

- event_form.fields_for(:interested_party, @event.interested_party, :builder => ExtendedFormBuilder) do |active_patient_form|
  - active_patient_form.fields_for(:person_entity, @event.interested_party.person_entity, :builder => ExtendedFormBuilder) do |primary_form|
    - primary_form.fields_for(:person, @event.interested_party.person_entity.person, :builder => ExtendedFormBuilder) do |person_form|
      - core_element_print :date_of_death, person_form, :vert do
        %span.print-label Date of death:
        %span.print-value= entity_data.person.date_of_death

- event_form.fields_for(:interested_party, :builder => ExtendedFormBuilder) do |patient_fields|
  - patient_fields.fields_for(:risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
    - core_element_print :pregnant_id, risk_factor_form, :horiz do
      %span.print-label Pregnant:
      %span.print-value= l @event.safe_call_chain(:interested_party, :risk_factor, :pregnant)
    - core_element_print :pregnancy_due_date, risk_factor_form, :horiz do
      %span.print-label Pregnancy due date:
      %span.print-value= @event.safe_call_chain(:interested_party, :risk_factor, :pregnancy_due_date)

%span.subsection-header Hospitalized health facilities
- unless association_recorded?(@event.hospitalization_facilities)
  %b{ :style => 'font-size: 11px' }="No hospitalized health facilities have been recorded for this #{@event.class.name.underscore.humanize.downcase}"
- else
  .three-valued-row
    .long
      %span.print-label Hospitalized health facility
    .short
      %span.print-label Admission date
    .short
      %span.print-label Discharge date
    .short
      %span.print-label Record Number
    %br

    - for hospital in @event.hospitalization_facilities
      - if hospital.place_entity
        .three-valued-row
          .long
            %span.print-value
              = hospital.place_entity.place.name
          - if hospital.hospitals_participation.nil?
            .short &nbsp;
            .short &nbsp;
            .short &nbsp;
          - else
            -# Debt: Strings with NBSPs are to keep columns lined up when values are missing. CSS/Markup improvement prob. a better approach
            .short
              %span.print-value
                ="#{hospital.hospitals_participation.admission_date}&nbsp;"
            .short
              %span.print-value
                ="#{hospital.hospitals_participation.discharge_date}&nbsp;"
            .short
              %span.print-value
                ="#{hospital.hospitals_participation.medical_record_number}&nbsp;"

%br
%span.subsection-header Diagnosing health facilities
- unless association_recorded?(@event.diagnostic_facilities)
  %b{ :style => 'font-size: 11px' }="No diganosing health facilities have been recorded for this #{@event.class.name.underscore.humanize.downcase}"
- else
  .three-valued-row
    .short
      %span.print-label Name
    .short
      %span.print-label Type
    .short
      %span.print-label &nbsp;
    %br
  - for diagnostic in @event.diagnostic_facilities
    .three-valued-row
      .short
        %span.print-value
          = diagnostic.place_entity.place.name
      .short
        %span.print-value
          = diagnostic.safe_call_chain(:place_entity, :place, :formatted_place_descriptions)
      .short
        %span.print-value
          &nbsp;

%span.subsection-header
  Treatments

- unless @event.safe_call_chain(:disease_event, :disease, :treatment_lead_in).blank?
  %span.print-label=h @event.disease.disease.treatment_lead_in
  %br
  %br

- core_element_print :treatments, event_form, :vert do
  = render :partial => 'events/treatments_list_print.html.haml', :locals => { :event => @event }

%span.subsection-header Clinicians
- unless association_recorded?(@event.clinicians)
  %b{ :style => 'font-size: 11px' }="No clinicians have been recorded for this #{@event.class.name.underscore.humanize.downcase}"
- else
  .three-valued-row
    .left
      %span.print-label Name
    .left
      %span.print-label Phone
    %br
    - for clinician in @event.clinicians
      - next if clinician.new_record?
      - clinician_entity = clinician.person_entity
      - clinician_person = clinician_entity.person
      - clinician_phone  = clinician_entity.primary_phone

      .three-valued-row
        .left
          %span.print-value
            = clinician_person.last_comma_first
        .left
          %span.print-value
            = clinician_phone.simple_format


