-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%fieldset
  %legend Clinical Information

  %fieldset{:class => 'form'}
    %legend
      Disease
    - event_form.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d|
      - core_element_show :disease_id, d, :horiz do
        = d.label(:disease_id, "Disease")
        = @event.disease.disease.disease_name unless @event.disease.nil? || @event.disease.disease.nil?
      - core_element_show :disease_onset_date, d, :horiz do
        = d.label(:disease_onset_date, "Onset date")
        = @event.disease.disease_onset_date unless @event.disease.nil? || @event.disease.disease.nil?
      - core_element_show :date_diagnosed, d, :horiz do
        = d.label(:date_diagnosed)
        = @event.disease.date_diagnosed unless @event.disease.nil? || @event.disease.disease.nil?
      - core_element_show :hospitalized_id, d, :horiz do
        = d.label(:hospitalized)
        = l @event.disease.hospitalized unless @event.disease.nil?
      %span.vert
      - core_element_show :died_id, d, :horiz do
        = d.label(:died_id)
        = l @event.disease.died unless @event.disease.nil?

    - event_form.fields_for(:active_patient, @event.active_patient.primary_entity, :builder => ExtendedFormBuilder) do |current_patient|
      - current_patient.fields_for(:person, @event.active_patient.primary_entity.person, :builder => ExtendedFormBuilder) do |person_form|
        - core_element_show :date_of_death, person_form, :horiz do
          = person_form.label(:date_of_death)
          = entity_data.person.date_of_death

    - event_form.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |patient_fields|
      - patient_fields.fields_for(:participations_risk_factor, @event.active_patient.participations_risk_factor, :builder => ExtendedFormBuilder) do |risk_factor_form|
        - core_element_show :pregnant_id, risk_factor_form, :horiz do
          = risk_factor_form.label(:pregnant_id)
          = l @event.active_patient.participations_risk_factor.pregnant unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?
        - core_element_show :pregnancy_due_date, risk_factor_form, :horiz do
          = risk_factor_form.label(:pregnancy_due_date)
          = @event.active_patient.participations_risk_factor.pregnancy_due_date unless @event.active_patient.nil? or @event.active_patient.participations_risk_factor.nil?

  %span{:clear => 'all'}

  %fieldset.form
    %legend
      Diagnosing health facilities  
    - if @event.diagnosing_health_facilities.empty?
      %h3 No diganosing health facilities have been recorded for this event
    - else
      %table{:class => 'tabular'}
        %tr
          %th Diagnosing health facility

        - for diagnostic in @event.diagnosing_health_facilities
          %tr
            %td= diagnostic.secondary_entity.place_temp.name

  %fieldset.form
    %legend
      Hospitalized health facilities  
    - if @event.hospitalized_health_facilities.empty?
      %h3 No hospitalized health facilities have been recorded for this event
    - else
      %table{:class => 'tabular'}
        %tr
          %th Hospitalized health facility
          %th Admission date
          %th Discharge date
          %th Medical Record Number

        - for hospital in @event.hospitalized_health_facilities
          %tr
            %td= hospital.secondary_entity.place_temp.name
            - if hospital.hospitals_participation.nil?
              %td
              %td
              %td
            - else
              %td= hospital.hospitals_participation.admission_date
              %td= hospital.hospitals_participation.discharge_date
              %td= hospital.hospitals_participation.medical_record_number

  %fieldset.form
    %legend
      Treatments  

    - unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.treatment_lead_in.blank?
      = h @event.disease.disease.treatment_lead_in

    - core_element_show :treatments, event_form, :vert do

      - if @event.active_patient.participations_treatments.empty?
        %h3 No treatments have been recorded for this event
      - else
        %table{:class => 'tabular'}
          %tr
            %th Treatment Given
            %th Treatment
            %th Date of Treatment

          - for treatment in @event.active_patient.participations_treatments
            %tr
              %td= l treatment.treatment_given_yn
              %td= treatment.treatment
              %td= treatment.treatment_date

  %fieldset.form
    %legend
      Clinicians  

    - if @event.clinicians.empty?
      %h3 No clinicians have been recorded for this event
    - else
      %table{:class => 'tabular'}
        %tr
          %th Name
          %th Phone

        -# A clinician (participation) may have one name and zero or one phone numbers
        - for clinician in @event.clinicians
          - clinician_entity = clinician.secondary_entity
          - clinician_person = clinician_entity.person_temp

          - clinician_phone_loc = clinician_entity.telephone_entities_locations.last
          - clinician_phone = clinician_phone_loc.location.telephones.last unless clinician_phone_loc.nil?

          %tr 
            %td= clinician_person.last_name + (clinician_person.first_name.blank? ? "" : fml(", ", clinician_person.first_name, ""))
            %td 
              -unless clinician_phone_loc.nil? 
                = (l(clinician_phone_loc.entity_location_type) || "Unspecified Locaiton") + ": " + clinician_phone.simple_format
