-# This injects an existing clinician into a form

- clinician = clinician_show
- event_type = "" unless event_type
- prefix_with_array = "#{event_type}[existing_clinician_attributes][]"

%div.existing_clinician{:style => 'margin-top: 20px'}
  - fields_for(prefix_with_array, clinician, :builder => ExtendedFormBuilder) do |clinician_fields|
    = clinician_fields.hidden_field(:id)
  %span.horiz
    %label Last Name
    = h(clinician.last_name)
  %span.horiz  
    %label First Name
    = h(clinician.first_name) || "&nbsp;"
  %span.horiz
    %label Middle Name
    = h(clinician.middle_name) || "&nbsp;"
  %span.horiz
    %label Telephone
    = clinician.telephone ? h(clinician.telephone.simple_format) : "&nbsp;"
  %span.horiz
    %label &nbsp;
    = link_to_function "Remove", "$(this).up('.existing_clinician').remove()", {:id => "remove_existing_clinician_link"}
  %hr
