-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%div{:style => "clear: both;"}
  = error_messages_for :object => contact.secondary_entity.person_temp
%div{:class => 'contact'}
  - new_or_existing = new_or_existing?(contact)
  - prefix = event_prefix_for_multi_models(new_or_existing, "_contact_attributes") + "[]"
  - contact_person = contact.secondary_entity.person_temp

  - fields_for(prefix, contact_person, :builder => ExtendedFormBuilder) do |contact_fields|

    %span{:class => 'horiz'}
      = contact_fields.label(:last_name)
      = contact_fields.text_field(:last_name, :size => 20)
    %span{:class => 'horiz'}
      = contact_fields.label(:first_name)
      = contact_fields.text_field(:first_name, :size => 20)
  
    %span{:class => "horiz", :style => "margin-top: 30px"}
      = link_to_function "Remove" , "$(this).up('.contact').remove()", {:id => "remove_contact_link"}

    %hr
