-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%fieldset
  %legend Contact Information

  - unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.contact_lead_in.blank?
    = h @event.disease.disease.contact_lead_in
    %br
    %br

  - core_element_show :contacts, f, :vert do
    - if @event.contact_child_events.empty?
      %fieldset.form
        %legend
          Contacts
        %h3
          No contacts have been recorded for this event
    - else
      %table.list
        %tr
          %th Last name
          %th First name
          %th Disposition
          %th Phone
          %th

        - for contact in @event.contact_child_events
          - contact_entity = contact.active_patient.primary_entity
          - person = contact_entity.person_temp
          - contact_phone_loc = contact_entity.telephone_entities_locations[0]
          - contact_phone = contact_phone_loc.location.telephones.last unless contact_phone_loc.nil?

          - if contact.deleted_at
            - style = {:class => 'struck-through'}
          - else
            - style = {}

          %tr
            %td{style}= person.last_name
            %td{style}= person.first_name
            %td{style}= person.disposition.code_description if person.disposition
            %td{style} 
              -unless contact_phone_loc.nil? 
                = (l(contact_phone_loc.entity_location_type) || "Unspecified Location") + ": " + contact_phone.simple_format
            %td
              .tools
                = link_to("Edit contact event", edit_contact_event_path(contact), {:id => "edit-contact-event"})
