%div{:style => "clear: both;"}
  = error_messages_for :object => contact.secondary_entity.person_temp
%div{:class => 'contact'}
  - new_or_existing = contact.new_record? ? 'new' : 'existing'
  - prefix = "morbidity_event[#{new_or_existing}_contact_attributes][]"

  - contact_person = contact.secondary_entity.person_temp

  - fields_for(prefix, contact_person, :builder => ExtendedFormBuilder) do |contact_fields|

    %span{:class => 'horiz'}
      = contact_fields.label(:last_name)
      = contact_fields.text_field(:last_name, :size => 20)
    %span{:class => 'horiz'}
      = contact_fields.label(:first_name)
      = contact_fields.text_field(:first_name, :size => 20)
  
    %span{:class => "horiz", :style => "margin-top: 30px"}
      = link_to_function "Remove" , "$(this).up('.contact').remove()", {:id => "remove_contact_link"}

    %hr
