-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%span.section-header Contacts
%br
- ran = nil
- if @event.contacts.empty?
  %b No contacts have been recorded for this case
- else
- for contact in @event.contacts
  - entity = contact.active_secondary_entity
  - person = entity.person
  
  - entities_location = entity.entities_location
  - no_location = entities_location.nil?
  - address = entities_location.location.current_address unless no_location
  - no_address = no_location || address.nil?


  #name
    - unless ran.nil?
      %br
      %hr
    .three-valued-row
      .left
        %span.print-label Last Name:
        %span.print-value
          = person.last_name
      .left
        %span.print-label First Name:
        %span.print-value
          = person.first_name
      .right
        %span.print-label Middle Name:
        %span.print-value
          = person.middle_name
  
  #address
    .three-valued-row
      .left
        %span.print-label Address:
        - unless no_address
          %span.print-value
            = "#{address.street_number} #{address.street_name}" + ((not address.unit_number.blank?) ? ", Unit #{address.unit_number}" : "")
      .left
        %span.print-label City:
        - unless no_address
          %span.print-value
            = address.city
      .right
        %span.print-label State:
        - unless no_address
          %span.print-value
            = l address.state

    .three-valued-row
      .left
        %span.print-label County:
        - unless no_address
          %span.print-value
            = l address.county
      .left
        %span.print-label Zip:
        - unless no_address
          %span.print-value
            = address.postal_code
  - ran = 1
