-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header Demographic Information

- entity = @event.active_patient.active_primary_entity
- patient = entity.person

%br
#patient_name
  .three-valued-row
    .left
      %span.print-label Last Name:
      %span.print-value
        = "#{patient.last_name}"
    .left
      %span.print-label First Name:
      %span.print-value
        = "#{patient.first_name}"
    .right
      %span.print-label Middle Name:
      %span.print-value
        = "#{patient.middle_name}"

- entities_location = entity.entities_location
- no_location = entities_location.nil?
- address = entities_location.location.current_address unless no_location
- no_address = no_location || address.nil?

#patient_address
  .three-valued-row
    %hr
    .left
      %span.print-label Address:
      - unless no_address
        %span.print-value
          = "#{address.street_number} #{address.street_name}" + ((not address.unit_number.blank?) ? ", Unit #{address.unit_number}" : "")
    .left
      %span.print-label City:
      - unless no_address
        %span.print-value
          = "#{address.city}"
    .right
      %span.print-label State:
      - unless no_address
        %span.print-value
          = "#{l address.state}"

  .three-valued-row
    %hr
    .left
      %span.print-label County:
      - unless no_address
        %span.print-value
          = "#{l address.county}"
    .left
      %span.print-label Zip:
      - unless no_address
        %span.print-value
          = "#{address.postal_code}"

#patient_age
  .three-valued-row
    %hr
    .left
      %span.print-label DOB:
      %span.print-value
        = "#{patient.birth_date}"
    .left
      %span.print-label Age:
      %span.print-value
        = "#{ calculate_age(patient.birth_date)}" unless patient.birth_date.blank?
    .right
      %span.print-label Approximate Age:
      %span.print-value
        = "#{patient.approximate_age_no_birthday}"

- for entities_location in entity.telephone_entities_locations
  - no_location = entities_location.nil?
  - phone = entities_location.location.current_phone unless no_location
  - no_phone = no_location || phone.nil?

  #patient_phone
    .three-valued-row
      %hr
      .left
        %span.print-label
          = entities_location.entity_location_type.code_description + " Phone:"
        - unless no_phone
          %span.print-value
            = fml "(", phone.area_code, ") "
            = phone_number(phone.phone_number)
            = fml " Ext. ", phone.extension, ""

#patient_attributes
  .three-valued-row
    %hr
    .left
      %span.print-label Birth Gender:
      %span.print-value
        = "#{l patient.birth_gender}"
    .left
      %span.print-label Primary Language:
      %span.print-value
        = "#{l patient.primary_language}"
    .right
      %span.print-label Ethnicity:
      %span.print-value
        = "#{l patient.ethnicity }"

  .three-valued-row
    %hr
    .left
      %span.print-label Race:
      %span.print-value
        - i = 0
        - for race in entity.races
          = " and " unless i == 0
          = l race
          - i += 1
  .three-valued-row
    %hr
