<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<fieldset>
  <legend>Clinical Information
    <span id='disease_info_hide' onClick="Element.hide('disease_info_form'); Element.hide('disease_info_hide'); Element.show('disease_info_show'); return false;">[Hide]</span>
    <span id='disease_info_show' onClick="Element.show('disease_info_form'); Element.hide('disease_info_show'); Element.show('disease_info_hide'); return false;" style="display: none;">[Show]</span>
  </legend>
  <div id ='disease_info_form'>
    
    <fieldset class="form">
      <legend>Disease</legend>
      <%= error_messages_for :object => @event.disease %>
      <% f.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d| %>
        <% core_element :disease_id, d, :horiz do %>
          <%= d.label(:disease_id, "Disease") %>
          <%= d.collection_select(:disease_id, Disease.find_active(:all, :order => 'disease_name ASC'), :id, :disease_name, {:include_blank => true}) %>
        <% end %>
        <% core_element :disease_onset_date, d, :horiz do %>
          <%= d.label(:disease_onset_date, "Onset date") %>
          <%= d.calendar_date_select(:disease_onset_date, :year_range => 100.years.ago..0.years.from_now) %>
        <% end %>
        <% core_element :date_diagnosed, d, :horiz do %>
          <%= d.label(:date_diagnosed) %>
          <%= d.calendar_date_select(:date_diagnosed, :year_range => 100.years.ago..0.years.from_now) %>
        <% end %>
      </fieldset>
    
      <fieldset class="form">
        <legend>Hospitalized Health Facilities</legend>
        <div id="hospitals">
          <% core_element :hospitalized_id, d, :vert do %>
            <%= d.label(:hospitalized_id, "Hospitalized") %>
            <%= d.dropdown_code_field(:hospitalized_id, 'yesno', {}, {}, @event) %>
          <% end %>
        
          <% hospitalized_health_facilities = (@event.hospitalized_health_facilities.size > 0 ? @event.hospitalized_health_facilities : [Participation.new_hospital_participation]) %>
          <%= render :partial => "events/hospital", :collection => hospitalized_health_facilities %>
        </div>
      
        <p style="clear: both;"> <%= add_hospital_link "Add a hospital" %> </p>
      <% end %>
    </fieldset>
    
    <fieldset class="form">
      <legend>Status</legend>
      <% f.fields_for(:disease, @event.disease, :builder => ExtendedFormBuilder) do |d| %>
        <% core_element :died_id, d, :horiz do %>
          <%= d.label(:died_id) %>
          <%= d.dropdown_code_field(:died_id, 'yesno', {}, {}, @event) %>
        <% end %>
      <% end %>
      
      <% f.fields_for(:active_patient, @event.active_patient.primary_entity, :builder => ExtendedFormBuilder) do |current_patient| %>
        <%# Nasty ugly hack to avoid having to do surgery on formbuilder after renaming the HTML fields %>
        <% core_path = "#{current_patient.object_name}[active_primary_entity][person]" %>

        <% current_patient.fields_for(:person, @event.active_patient.primary_entity.person, :core_path => core_path, :builder => ExtendedFormBuilder) do |person| %>
          <% core_element :date_of_death, person, :horiz do %>
            <%= person.label(:date_of_death) %>
            <%= person.core_calendar_date_select(:date_of_death, {:year_range => 100.years.ago..0.years.from_now}, @event) %>
          <% end %>
        <% end %>
      
        <% current_patient.fields_for(:participations_risk_factor, @event.active_patient.participations_risk_factor, :builder => ExtendedFormBuilder) do |rf| %>
          <% core_element :pregnant_id, rf, :horiz do %>
            <%= rf.label(:pregnant_id) %>
            <%= rf.dropdown_code_field(:pregnant_id, 'yesno', {}, {}, @event) %>
          <% end %>
          <% core_element :pregnancy_due_date, rf, :horiz do %>
            <%= rf.label(:pregnancy_due_date) %>
            <%= rf.calendar_date_select(:pregnancy_due_date, :year_range => 5.years.ago..1.years.from_now) %>
          <% end %>
        <% end %>
      <% end %>
                        
    </fieldset>
    
    <fieldset class="form">
      <legend>Treatments</legend>
      <% unless @event.disease.nil? || @event.disease.disease.nil? || @event.disease.disease.treatment_lead_in.blank? %>
        <%=  h @event.disease.disease.treatment_lead_in %><br/><br/>
      <% end %>

      <% core_element :treatments, f, :vert do %>
        <% f.fields_for(:active_patient, @event.active_patient, :builder => ExtendedFormBuilder) do |treatments| %>
          <div id="treatments">
            <% treatments = (@event.active_patient.participations_treatments.size > 0 ? @event.active_patient.participations_treatments : [ParticipationsTreatment.new]) %>
            <%= render :partial => "events/treatment", :locals => { :namespace => "active_patient" }, :collection => treatments %>
            <div id="new_treatment_holder"></div>
          </div>
          <p style="clear: both;"> <%= add_treatment_link "Add a treatment", @event %> </p>
        <% end %>
      <% end %>
    
    </fieldset>
  
    <fieldset class="form">
      <legend>Clinicians</legend>

      <%= render :partial => "events/clinicians_form", :locals => {:f => f} %>
    </fieldset>

    <fieldset class="form">
      <legend>Diagnostic Facilities</legend>

      <div id="diagnostics">

        <%= live_search('Search for a diagnosing facility', :search_field => 'diagnostic_search', :select => 'place_name', :results => 'existing_diagnostic_facilities', :event_type => f.object_name ) %>
        <br />
        <br />
        <div id='existing_diagnostic_facilities'>
          <% diagnosing_health_facilities = (@event.diagnosing_health_facilities.size > 0 ? @event.diagnosing_health_facilities : [Participation.new_diagnostic_participation]) %>
          <%= render :partial => "events/diagnostic", :collection => diagnosing_health_facilities %>
        </div>
      </div>
      
      <p style="clear: both;"> <%= add_diagnostic_link "Add a diagnosing facility" %> </p>
    </fieldset>
    
  </div>
</fieldset>
