-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
%span.section-header Epidemiological Information

- factor = @event.active_patient.participations_risk_factor unless @event.active_patient.nil?

%br
#service-industry
  .three-valued-row
    .left
      %span.print-label
        Food handler:
      %span.print-value
        = l factor.food_handler unless factor.nil?
    .double
      %span.print-label
        Healthcare worker:
      %span.print-value
        = l factor.healthcare_worker unless factor.nil? 

#living
  .three-valued-row
    %hr
    .left
      %span.print-label
        Group living:
      %span.print-value
        = l factor.group_living unless factor.nil?
    .double
      %span.print-label
        Day care association:
      %span.print-value
        = l factor.day_care_association unless factor.nil?

#occupation
  .three-valued-row
    %hr
    .left
      %span.print-label
        Occupation:
      %span.print-value
        = factor.occupation unless factor.nil?

#risks
  .three-valued-row
    %hr
    .left
      %span.print-label
        Risk factors:
      %span.print-value
        = factor.risk_factors unless factor.nil?
    .double
      %span.print-label
        Risk factor notes:
      %span.print-value
        = factor.risk_factors_notes unless factor.nil?
  .three-valued-row
    %hr
