-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- hospital.hospitals_participation = HospitalsParticipation.new if hospital.hospitals_participation.nil?

%div{:style => "clear: both;"}
  = error_messages_for :object => hospital
  = error_messages_for :object => hospital.hospitals_participation

%div{:class => 'hospital'}
  - new_or_existing = new_or_existing?(hospital)
  - prefix = event_prefix_for_multi_models(new_or_existing, "_hospital_attributes") + "[]"

  - fields_for(prefix, hospital, :builder => ExtendedFormBuilder) do |hospital_fields|
    %span{:class => "horiz"}
      = hospital_fields.label(:secondary_entity_id, "Health facility")
      = hospital_fields.collection_select(:secondary_entity_id, Place.hospitals, :entity_id, :name, {:include_blank => true})

  - hospital.hospitals_participation.id = hospital.id

  - fields_for(prefix, hospital.hospitals_participation, :builder => ExtendedFormBuilder) do |hp|
    %span{:class => "horiz"}
      = hp.label(:admission_date)
      = hp.calendar_date_select(:admission_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

    %span{:class => "horiz"}
      = hp.label(:discharge_date)
      = hp.calendar_date_select(:discharge_date, :year_range => 5.years.ago..0.years.from_now, :size => 20)

    %span{:class => "horiz"}
      = hp.label(:medical_record_number, "Medical Record Number:")
      = hp.text_field(:medical_record_number, :size => 20)

    %span{:class => "horiz", :style => "margin-top: 30px"}
      = link_to_function "Remove" , "$(this).up('.hospital').remove()", {:id => "remove_hospital_result_link"}
  %hr
