-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend Laboratory Information

  - if @event.labs.empty?
    %h3 No lab results have been recorded for this event
  - else
    %table.list
      %tr
        %th Lab name
        / %th Test type
        / %th Test detail
        %th Lab result
        / %th Interpretation
        / %th Specimen source
        %th Date(s)
        / %th Lab test date
        %th Specimen

      - for lab in @event.labs
        - for lab_result in lab.lab_results
          %tr
            %td.forminformation
              .formname
                = lab.secondary_entity.place_temp.name
              .description
                Type:
                = lab_result.test_type
                %br
                Detail:
                = lab_result.test_detail
            %td
              = lab_result.lab_result_text
              %br
              %small Interpretation:
              = l lab_result.interpretation
            %td
              %small Collection Date:
              %br
              = lab_result.collection_date
              %br
              %small Lab Test Date:
              %br
              = lab_result.lab_test_date
            %td
              %small Source:
              %b
                = l lab_result.specimen_source
              %br
              %small Sent to UPHL:
              %b
                = l lab_result.specimen_sent_to_uphl_yn
