-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header Laboratory Information
%br
- ran = nil
- if @event.labs.empty?
  %b No lab results have been recorded for this event
- else
  - for lab in @event.labs
    - for lab_result in lab.lab_results
      #lab
        - unless ran.nil?
          %br
          %hr
        .three-valued-row
          .left
            %span.print-label Lab name:
            %span.print-value
              = lab.secondary_entity.place_temp.name
          .left
            %span.print-label Test type:
            %span.print-value
              = lab_result.test_type
      #test
        .three-valued-row
          .left
            %span.print-label Lab result:
            %span.print-value
              = lab_result.lab_result_text
          .left
            %span.print-label Interpretation:
            %span.print-value
              = lab_result.interpretation
          .right
            %span.print-label Specimen source:
            %span.print-value
              = l lab_result.specimen_source
      #collection
        .three-valued-row
          .left
            %span.print-label Collection date:
            %span.print-value
              = lab_result.collection_date
          .left
            %span.print-label Lab test date:
            %span.print-value
              = lab_result.lab_test_date
          .right
            %span.print-label Specimen sent to UPHL:
            %span.print-value
              = l lab_result.specimen_sent_to_uphl_yn
    - ran = 1
