-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- new_or_existing = new_or_existing?(lab)
-# new lab participations do not use the array naming convention ([]).  Instead we give it a unique ID if it's new.
-# This allows us to give new labs children (lab results)
- lab_id = lab.id || Digest::SHA1.hexdigest(Time.now.to_s.split(//).sort_by {rand}.join)
- prefix = event_prefix_for_multi_models(new_or_existing, "_lab_attributes") + "[#{lab_id}]"

- lab_place = lab.secondary_entity.place_temp

%div{:class => 'lab', :style => "clear: both;"}
  = error_messages_for :object => lab_place

  = trisano_auto_complete("#{prefix}[name]", "lab_name", lab_place, "name", "Lab name", {:size => 25, :maxlength => 50, :class => 'required_if_others'}, {:url => {:controller => "events", :action => "auto_complete_for_lab_name"}, :param_name => 'lab_name' })

  %span{:style => "position: relative; top: 18px; left: 10px"}
    = link_to_function "Remove lab and its results" , "$(this).up('.lab').remove()", {:id => "remove_lab_link"}

  = render :partial => "events/lab_result", :collection => lab.lab_results, :locals => {:prefix => prefix}
  %div{:id => "new_lab_result_holder_#{lab_id}"}

  %p{:style => "margin-left: 20px"}
    = add_lab_result_link "Add a new lab result to this lab", @event, prefix, lab_id

  %hr{:style => "height: 2px; color: black; background-color: black"}
