-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend
    Notes
    %span{:id => 'notes_hide', :onClick => "Element.hide('notes'); Element.hide('notes_hide'); Element.show('notes_show'); return false;"} [Hide]
    %span{:id => 'notes_show', :onClick => "Element.show('notes'); Element.hide('notes_show'); Element.show('notes_hide'); return false;", :style => "display: none;"} [Show]

  - current_note = nil
  -# prefix

  #notes
    #note-list
      = render :partial => 'event_notes/edit', :locals => { :notes => @event.notes }

    #new-note
      -# notes = (@event.notes.size > 0 ? @event.notes : [Note.new])
      =# error_messages_for :object => note

      -# note = current_note.nil? ? Note.new | current_note
      - note = current_note || Note.new
      - f.fields_for(:new_note_attributes, note, :builder => ExtendedFormBuilder) do |note_fields|
        %span{:class => "vert"}
          = note_fields.label(:note, "New note")
          ~ note_fields.text_area(:note, :size => "50x5")
        %span{:class => "vert"}
          = note_fields.label(:is_admin)
          = note_fields.check_box(:note_type, {}, "administrative", "clinical")

%fieldset
  %legend
    Tasks
    %span{:id => 'tasks_hide', :onClick => "Element.hide('tasks'); Element.hide('tasks_hide'); Element.show('tasks_show'); return false;"} [Hide]
    %span{:id => 'tasks_show', :onClick => "Element.show('tasks'); Element.hide('tasks_show'); Element.show('tasks_hide'); return false;", :style => "display: none;"} [Show]
  #tasks
    = render(:partial => 'tasks/list', :locals => { :task_owner => @event })
