-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%span.section-header Reporting Information
%br

- entity = @event.reporter.active_secondary_entity unless @event.reporter.nil?

#reporter
  .three-valued-row
    .long
      %span.print-label
        Name of reporter:
      %span.print-value
        = entity.person.first_name unless @event.reporter.nil?
        = entity.person.last_name unless @event.reporter.nil?
    .long
      %span.print-label
        Reporting agency:
      %span.print-value
        = @event.reporting_agency.active_secondary_entity.place.name unless @event.reporting_agency.nil?

  .three-valued-row
    %hr
    .double
      %span.print-label
        Reporter phone number:
      %span.print-value
        - p = entity.telephone unless @event.reporter.nil?
        - if not p.nil?
          = fml " (", p.area_code, ") " if p.area_code
          = phone_number(p.phone_number)
          = fml " Ext. ", p.extension, "" if p.extension

  .three-valued-row
    %hr
    .long
      %span.print-label
        Results reported to Clinician:
      %span.print-value
        = @event.results_reported_to_clinician_date 
    .long
      %span.print-label
        First reported to public health:
      %span.print-value
        = @event.first_reported_PH_date
  .three-valued-row
    %hr
