-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend 
    Reporting Information
    %span{:id => 'reporting_hide', :onClick => "Element.hide('reporting_agencies'); Element.hide('reporting_hide'); Element.show('reporting_show'); return false;"} [Hide]
    %span{:id => 'reporting_show', :onClick => "Element.show('reporting_agencies'); Element.hide('reporting_show'); Element.show('reporting_hide'); return false;", :style => "display: none;"} [Show]

  %div{:id => "reporting_agencies"}  

    -# A reporting agency consists of two distinct particpations: a reporting agency and a reporter.
    -# In new mode these associations are guaranteed to be there.  In edit mode it's possible for one
    -# or both not to exist.  In addition, a reporter, if there is one, may have either a name a phone
    -# number or both.

    -# Empty participations possible in edit mode when no prior agency or reporter was saved
    - reporting_agency = @event.reporting_agency.nil? ? nil : @event.reporting_agency.secondary_entity.place_temp

    = error_messages_for :object => reporting_agency

    -# Nasty ugly hack to avoid having to do surgery on formbuilder after renaming the HTML fields
    -agency_core_path = "#{f.object_name}[active_reporting_agency][active_secondary_entity][place]"

    - f.fields_for(:active_reporting_agency, reporting_agency, :core_path => agency_core_path, :builder => ExtendedFormBuilder) do |agency_form|
      - core_element :name, agency_form, :vert do
        = agency_form.label("Reporting Agency")
        = model_auto_completer "morbidity_event[active_reporting_agency][name]", reporting_agency.nil? ? "" : reporting_agency.name, "morbidity_event[active_reporting_agency][secondary_entity_id]", reporting_agency.nil? ? "" : reporting_agency.entity_id, { :allow_free_text => true, :append_random_suffix => true, :action => 'auto_complete_for_event_reporting_agency'}, { :size => 25 }, { :skip_style => false }

    - reporter_name = Person.new
    - reporter_ent_loc = EntitiesLocation.new
    - reporter_phone = Telephone.new

    - if !@event.reporter.nil?
      - if !@event.reporter.secondary_entity.person_temp.nil?
        - reporter_name = @event.reporter.secondary_entity.person_temp
      - if !@event.reporter.secondary_entity.telephone_entities_locations.empty?
        - reporter_ent_loc = @event.reporter.secondary_entity.telephone_entities_locations.last
        - reporter_phone = reporter_ent_loc.location.telephones.last

    = error_messages_for :object => [reporter_name, reporter_phone]

    -# Nasty ugly hack to avoid having to do surgery on formbuilder after renaming the HTML fields
    -reporter_core_path = "#{f.object_name}[active_reporter][active_secondary_entity][person]"
    -reporter_loc_core_path = "#{f.object_name}[active_reporter][active_secondary_entity][telephone_entities_location]"
    -reporter_phone_core_path = "#{f.object_name}[active_reporter][active_secondary_entity][telephone]"

    - f.fields_for(:active_reporting_agency, reporter_name, :core_path => reporter_core_path, :builder => ExtendedFormBuilder) do |agency_form|
      - core_element :last_name, agency_form, :horiz do
        = agency_form.label(:last_name, "Reporter last name")
        = agency_form.core_text_field(:last_name, {:size => 25, :maxlength => 25, :class => 'required_if_others'}, @event, @can_investigate)
      - core_element :first_name, agency_form, :horiz do
        = agency_form.label(:first_name, "Reporter first name")
        = agency_form.core_text_field(:first_name, {:size => 25, :maxlength => 25}, @event, @can_investigate)
    
    - f.fields_for(:active_reporting_agency, reporter_ent_loc, :core_path => reporter_loc_core_path, :builder => ExtendedFormBuilder) do |agency_form|
      = agency_form.hidden_field(:id)
      - core_element :entity_location_type_id, agency_form, :horiz do
        = agency_form.label(:entity_location_type_id, "Phone type")
        = agency_form.dropdown_code_field(:entity_location_type_id, 'telephonelocationtype', {}, {}, @event, @can_investigate)
    
    - f.fields_for(:active_reporting_agency, reporter_phone, :core_path => reporter_phone_core_path, :builder => ExtendedFormBuilder) do |agency_form|
      - core_element :area_code, agency_form, :horiz do
        = agency_form.label(:area_code)
        = agency_form.core_text_field(:area_code, {:size => 3, :maxlength => 3, :class => 'autotab'}, @event, @can_investigate)
      - core_element :phone_number, agency_form, :horiz do
        = agency_form.label(:phone_number)
        = agency_form.core_text_field(:phone_number, {:size => 8}, @event, @can_investigate)
      - core_element :extension, agency_form, :horiz do
        = agency_form.label(:extension)
        = agency_form.core_text_field(:extension, {:size => 6, :maxlength => 6}, @event, @can_investigate)

    %span.vert
    - core_element :results_reported_to_clinician_date, f, :horiz do
      = f.label(:results_reported_to_clinician_date)
      = f.calendar_date_select(:results_reported_to_clinician_date, :year_range => 5.years.ago..0.years.from_now)
    - core_element :first_reported_PH_date, f, :horiz do
      = f.label(:first_reported_PH_date, "Date first reported to public health")
      = f.calendar_date_select(:first_reported_PH_date, :year_range => 5.years.ago..0.years.from_now)
