<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<% content_for :title do %>
  CONFIDENTIAL MORBIDITY REPORT
<% end %>

<% content_for :name do %>
  Existing Reports
<% end %>

<% content_for :tools do %>
  <%= new_cmr_link 'New Morbidity Report' %> |  <%= link_to 'Export To CSV', url_for(:action => 'index', :format => 'csv') %>
<% end %>

<% content_for :tools_two do %>
  <%= new_cmr_button "Create New Morbidity Report" %>
<% end %>

<table class='tabular'> 
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Disease</th>
      <th>Created Date</th>
      <th>Event Status</th>
      <th>Jurisdiction</th>
    </tr>
  </thead>
  <% for event in @events %>
    <tr>
      <% patient = event.active_patient.active_primary_entity.person %>
      <% jurisdiction = event.active_jurisdiction.active_secondary_entity.current_place %></td>
      <td><%= patient.last_name -%><%= fml(", ", patient.first_name, "") unless patient.first_name.nil? -%></td>
      <td><%= event.disease.disease.disease_name unless event.disease.nil? || event.disease.disease.nil? %></td>
      <td><%= event.event_onset_date %></td>
      <td><%= l event.event_status %></td>
      <td><%= jurisdiction.name %></td>
    </tr>
    <tr>
      <td colspan='2' style='border: 0'><%= routing_controls(event, jurisdiction) %></td>
      <td colspan='2' style='border: 0;'><span class='tools'><%= basic_controls(event, jurisdiction) %></span></td>
      <td colspan='1' style='border: 0;'><%= state_controls(event, jurisdiction) %></td>
    </tr>
  <% end %>
</table>

<br />
