-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Edit Code Detail

/- content_for :name do

- content_for :tools do
  = link_to '< Back to Codes', codes_path
  %p

- content_for :tools_two do
  = button_to("Create new code", {:action => "new"}, { :method => :get })

#rot
  %table.listingforms
    %tr
      %th.forminformation
        Code Information
      %th
    %tr
      %td
        .formname
          = @external_code.the_code
        .tools
          = @external_code.code_description
          %br
          %b Code Type:
          = @external_code.code_name
          %br
          %b Sort Order:
          = @external_code.sort_order
      %td
        .tools{:style => "position: absolute; right: 15px;"}
          Edit
          |
          = link_to"Show", code_path(@external_code)
          |
          = link_to("Delete", code_path(@external_code), :method => :delete, :confirm => "Really delete code?")

#rot
  %table.listingforms
    %tr
      %th.forminformation
        Edit Code
    %tr
      %td
        - form_for(@external_code, code_path(@external_code), :builder => ExtendedFormBuilder) do |code_form|

          %span{ :class => "vert" }
            %label Code
            = code_form.text_field :the_code
          %span{ :class => "vert" }
            %label Description
            = code_form.text_field :code_description
          %span{ :class => "vert" }
            %label Type
            = code_form.text_field :code_name
          %span{ :class => "vert" }  
            %label Sort Order
            = code_form.text_field :sort_order

          = code_form.submit "Update"