-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Codes

/- content_for :name do

/- content_for :tools do
/  = link_to 'New code', new_external_code_path

- content_for :tools_two do
  = button_to("Create new code", {:action => "new"}, { :method => :get })

- for code_type in @code_types

#rot
  %table.listingforms
    %tr
      %th.forminformation
        = code_type.code_name.capitalize,'&#160; Codes'
      %th
        Type
      %th
    - for code in @external_codes.select {|c| c.code_name == code_type.code_name}
    %tr
      %td
        .formname
          = link_to code.the_code, code_path(code)
        .tools
          = code.code_description
      %td
        .formname
          &#160;
        .tools
          = code.code_name
      %td
        .tools{:style => "position: absolute; right: 15px;"}
          = link_to("Edit", edit_code_path(code))
          |
          = link_to("Delete", code_path(code), :method => :delete, :confirm => "Really delete code?")
          /= link_to("Show", code_path(code))
    -end
- end