-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Code Admin

- content_for :name do
  = "Code details: #{@external_code.code_description}"

- content_for :tools do
  = link_to "Return to Code List", codes_path
  |
  = link_to "Edit Code", edit_code_path(@external_code)


%fieldset
  %legend Code Information
  %table
    %tr
      %td
        %span.label Code Description:
      %td
        = @external_code.code_description
    %tr
      %td
        %span.label Code Type:
      %td
        = @external_code.code_name
    %tr
      %td
        %span.label Code:
      %td
        = @external_code.the_code
    %tr
      %td
        %span.label Sort Order:
      %td
        = @external_code.sort_order

%br