%h1 Editing disease

= error_messages_for :disease

- form_for(@disease) do |f|

  = render :partial => 'form', :locals => { :f => f }
  
  %p
    %span{:id => "submitbutton" }
      %span{:class => "first-child"}
        = f.submit "Update"


= link_to 'Show', @disease 
|
= link_to 'Back', diseases_path 

%br

%h3 Disease Investigation Forms

- for form in @forms
  = form.name

- if @forms.blank?
  None.



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>