
%h1 Listing diseases

%table
  %tr
    %th Name
    %th{:colspan => 3} Actions
  - for disease in @diseases
    %tr
      %td
        = h disease.name
      %td
        = link_to 'Show', disease
      %td
        = link_to 'Edit', edit_disease_path(disease)
      %td
        = link_to 'Destroy', disease, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New disease', new_disease_path