!!!
%html
  %head
    %title TriSano

    = stylesheet_link_tag 'grid'
    = stylesheet_link_tag 'structure'
    = stylesheet_link_tag 'typography'
    = stylesheet_link_tag 'scaffold'

    / Sam Skin CSS for TabView
    = stylesheet_link_tag '../yuinew/build/tabview/assets/skins/sam/tabview.css'
    = stylesheet_link_tag '../yuinew/build/tabview/assets/skins/sam/tabview-skin.css'

    / Menu Stylesheet (required for creating buttons of type "menu" and "split")
    / = stylesheet_link_tag '../yui/build/menu/assets/skins/sam/menu.css'

    / JavaScript Dependencies for Tabview
    = javascript_include_tag '../yuinew/build/yahoo-dom-event/yahoo-dom-event.js'
    = javascript_include_tag '../yuinew/build/element/element-beta-min.js'

    / Source files
    = javascript_include_tag '../yuinew/build/tabview/tabview-min.js'
    / = javascript_include_tag '../yui/build/button/button-min.js'
    / = javascript_include_tag '../yui/build/tabview/ScrollTabView.js'
    = javascript_include_tag :defaults
    = calendar_date_select_includes

    / JavaScript file for Animation
    / = javascript_include_tag '../yui/build/animation/animation-min.js'

    / OPTIONAL: Menu and Container Core (required for creating buttons of type "menu" and "split")
    / = javascript_include_tag '../yui/build/container/container_core-min.js'
    / = javascript_include_tag '../yui/build/menu/menu-min.js'

    = stylesheet_link_tag 'redbox'
    = javascript_include_tag 'redbox'

    = javascript_include_tag 'autotab'

  %body.yui-skin-sam
    #head
      .container
        .left
          %a{:href => home_path}
            = image_tag("logo.png", :border => 0)
        .right
          .areas
            - if User.current_user.is_entitled_to?(:create_event)
              = link_to 'NEW CMR', new_cmr_path
              |
            = link_to 'CMRS', cmrs_path
            |
            - if User.current_user.is_admin?
              = link_to 'FORMS', forms_path
              |
            = link_to 'SEARCH', search_path
            - if User.current_user.is_admin?
              |
              = link_to 'ADMIN', admin_path
          .user
            - if RAILS_ENV == "production"
              = current_user_name
            - else 
              - users = User.find(:all).collect { |user| [ user.user_name, user.uid] }
              = form_remote_tag(:url => url_for(:controller => "events", :action => "change_user"))
              %span{:id => "user_name"}= current_user_name + ":"
              = select_tag("user_id", options_for_select(users, User.current_user.uid), :onchange => "this.form.onsubmit()")
              </form>
    #bar
      .container
        .left
          .title1
            = yield :title
        .right
          .action2
            = yield :tools_two
    .container
      .name
        = yield :name
      .tools
        = yield :tools
        %p{:style => "color: green"}
          = flash[:notice]
      = yield
    .container
      #ft
        %hr
        %b Release 2 Pilot Feedback:
        %a{:href => 'https://ut-nedss.csinitiative.net/wiki/Release2PilotFeedback'} Wiki
        %a{:href => 'mailto:r2feedback@ut-nedss.csinitiative.net'}Email List