<fieldset>
<legend>Lab Event Information</legend>  
<table cellpadding="2">
  <% if not @lab_event.record_number.blank? %>
  <tr>
    <td><%= label(:@lab_event, :record_number) %></td>
    <td><%= @lab_event.record_number %></td>
  </tr>
  <% end %>
  <tr>
    <td><%= f.label(:event_onset_date) %></td>
    <td><%= f.calendar_date_select(:event_onset_date, :year_range => 5.years.ago..0.years.from_now) %></td>
    <td><%= f.label(:event_name) %></td>
    <td><%= f.text_field(:event_name, :size => 25) %></td>
  </tr>
  <tr>
    <td><%= f.label(:event_type_id) %></td>
    <td><%= f.dropdown_code_field(:event_type_id, 'eventtype', {}) %></td>
    <td><%= f.label(:event_status_id) %></td>
    <td><%= f.dropdown_code_field(:event_status_id, 'eventstatus', {}) %></td>
  </tr>
  <tr>
    <td><%= f.label(:imported_from_id) %></td>
    <td><%= f.dropdown_code_field(:imported_from_id, 'imported', {}) %></td>
    <td><%= f.label(:event_case_status_id) %></td>
    <td><%= f.dropdown_code_field(:event_case_status_id, 'case', {}) %></td>
  </tr>
  <tr>
    <td><%= f.label(:outbreak_associated_id) %></td>
    <td><%= f.dropdown_code_field(:outbreak_associated_id, 'yesno', {}) %></td>
    <td><%= f.label(:outbreak_name) %></td>
    <td><%= f.text_field(:outbreak_name, :size => 25) %></td>
  </tr>
  <tr>
    <td><%= f.label(:investigation_LHD_status_id) %></td>
    <td><%= f.dropdown_code_field(:investigation_LHD_status_id, 'investigation', {}) %></td>
    <td><%= f.label(:investigation_started_date) %></td>
    <td><%= f.calendar_date_select(:investigation_started_date, :year_range => 5.years.ago..0.years.from_now) %></td>
    <td><%= f.label(:investigation_completed_LHD_date, "Investigation completed date") %></td>
    <td><%= f.calendar_date_select(:investigation_completed_LHD_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  </tr>
    <td><%= f.label(:review_completed_UDOH_date, "Review completed date") %></td>
    <td><%= f.calendar_date_select(:review_completed_UDOH_date, :year_range => 5.years.ago..0.years.from_now) %></td>
    <td><%= f.label(:first_reported_PH_date, "First reported date") %></td>
    <td><%= f.calendar_date_select(:first_reported_PH_date, :year_range => 5.years.ago..0.years.from_now) %></td>
    <td><%= f.label(:results_reported_to_clinician_date) %></td>
    <td><%= f.calendar_date_select(:results_reported_to_clinician_date, :year_range => 5.years.ago..0.years.from_now) %></td>
  <tr>
  </tr>
</table>
</fieldset>

<fieldset>
  <legend>Disease Information</legend>
  <table cellpadding="2">
    <% f.fields_for(:disease, @lab_event.disease, :builder => ExtendedFormBuilder) do |d| %>
      <tr>
        <td>
          <%= d.label(:disease_id, "Disease") %>
          <%= d.collection_select(:disease_id, Disease.find(:all), :id, :disease_name, {}) %>
        </td>
      <tr>
        <td><%= d.label(:disease_onset_date) %></td>
        <td><%= d.calendar_date_select(:disease_onset_date, :year_range => 5.years.ago..0.years.from_now) %></td>
        <td><%= d.label(:date_diagnosed) %></td>
        <td><%= d.calendar_date_select(:date_diagnosed, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
      <tr>
        <td><%= d.label(:hospitalized_id) %></td>
        <td><%= d.dropdown_code_field(:hospitalized_id, 'yesno', {}) %></td>
        <td><%= d.label(:died_id) %></td>
        <td><%= d.dropdown_code_field(:died_id, 'yesno', {}) %></td>
      <tr>
        <td><%= d.label(:pregnant_id) %></td>
        <td><%= d.dropdown_code_field(:pregnant_id, 'yesno', {}) %></td>
        <td><%= d.label(:pregnancy_due_date) %></td>
        <td><%= d.calendar_date_select(:pregnancy_due_date, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
    <% end %>
  </table>
</fieldset>

<fieldset>
  <legend>Laboratory Information</legend>
  <table cellpadding="2">
    <% f.fields_for(:lab_result, @lab_event.lab_result, :builder => ExtendedFormBuilder) do |l| %>
      <tr>
        <td>
          <%= l.label(:specimen_source_id, "Specimen Source") %>
          <%= l.dropdown_code_field(:specimen_source_id, "specimen", {}) %>
        </td>
        <td>
          <%= l.label(:tested_at_uphl_yn_id, "Tested at UPHL Lab") %>
          <%= l.dropdown_code_field(:tested_at_uphl_yn_id, "yesno", {}) %>
        </td>
      </tr>
      <tr>
        <td><%= l.label(:collection_date) %></td>
        <td><%= l.calendar_date_select(:collection_date, :year_range => 5.years.ago..0.years.from_now) %></td>
        <td><%= l.label(:lab_test_date) %></td>
        <td><%= l.calendar_date_select(:lab_test_date, :year_range => 5.years.ago..0.years.from_now) %></td>
      </tr>
      <tr>
        <td><%= l.label(:lab_result_text, "Lab Result") %></td>
        <td><%= l.text_field(:lab_result_text, :size => 20) %></td>
      </tr>
    <% end %>
  </table>
</fieldset>
