<h1>New Lab Event Association</h1>

<%= error_messages_for :object => [@lab_event, @lab_event.participations, @lab_event.lab_result] %>

<h2>Event: <%= @lab_event.event_onset_date %> | <%= @lab_event.event_name %></h2>
<% if not @people.empty? %>
  <% form_for(:association, :url => add_association_lab_event_url(@lab_event), :builder => ExtendedFormBuilder) do |f| %>
    <p>
      <% for person in @people do %>
        <p><%= radio_button_tag("person", person.id) %><%= person.current.last_name + ", " + person.current.first_name %></p>
      <% end %>
      <%= f.submit "Create" %>
    </p>
  <% end %>
<% else %>
  <p>There are no people that can be associated with this lab event</p>
<% end %>
<%= link_to "Back", lab_event_path(@lab_event) %>
