<h1>Editing Lab Event</h1>

<%#= error_messages_for :lab_event %>
<%= error_messages_for :object => [@lab_event, @lab_event.disease, @lab_event.lab_result] %>

<% form_for(@lab_event, :builder => ExtendedFormBuilder) do |f| %>
  <p>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', lab_event_url(@lab_event) %> |
<%= link_to 'Back', lab_event_path %>
