<h1>New Lab Event</h1>

<%= error_messages_for :object => [@lab_event, @lab_event.disease, @lab_event.lab_result, @lab_event.participation.entity_primary.person] %>
<%= error_messages_for :object => [@lab_event.participation.entity_primary.entities_location] unless @lab_event.participation.entity_primary.entities_location.nil? %>
<%= error_messages_for :object => [@lab_event.participation.entity_primary.address] unless @lab_event.participation.entity_primary.address.nil? %>
<%= error_messages_for :object => [@lab_event.participation.entity_primary.telephone] unless @lab_event.participation.entity_primary.telephone.nil? %>

<% form_for(@lab_event, :builder => ExtendedFormBuilder) do |le| %>
  <p>
    <% le.fields_for(:participation, @lab_event.participation, :builder => ExtendedFormBuilder) do |p| %>
      <% p.fields_for(:entity_primary, @lab_event.participation.entity_primary, :builder => ExtendedFormBuilder) do |f| %>
        <%= render :partial => "entities/people/form", :locals => { :f => f, :entity_data => @lab_event.participation.entity_primary } %>
        <%= render :partial => 'locations/form', :locals => { :f => f, :location_data => @lab_event.participation.entity_primary } %>
      <% end %>
   <% end %>
  <%= render :partial => 'form', :locals => { :f => le } %>
  <%= le.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lab_events_path %>
