-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%table.list
  %tr
    %th.forminformation{:colspan => '2'}
      =t 'associated_diseases'
  %tr
    %td
      %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
        %div{:style => 'background:#fff; overflow:auto;height: 12em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
          - for disease in Disease.find(:all, :order => "disease_name asc")
            = "<label>" + check_box_tag("export_column[disease_ids][]", disease.id, @export_column.diseases.include?(disease), :id => disease.disease_name.tr(" ", "_")) + h(disease.disease_name) + "</label>"

  %tr
    %th.forminformation{:colspan => '2'}
      =t 'edit_export_column'
  %tr
    %td{:colspan => '2'}
      %span{ :class => "horiz" }
        = f.label(:name)
        = f.text_field(:name)

      %span{ :class => "horiz" }
        = f.label(:export_column_name)
        - if @export_column.type_data == "CORE"
          = h(@export_column.export_column_name)
        - else
          = f.text_field(:export_column_name, :class => 'required') 

      %span{ :class =>  "horiz" }
        - unless editing
          = f.label(:export_disease_group)
          = f.collection_select(:export_disease_group_id, ExportDiseaseGroup.find(:all), :id, :name, :include_blank => true)
        - else
          = f.label(:export_disease_group_show)
          = @export_column.export_disease_group.nil? ? "All Diseases" : h(@export_column.export_disease_group.name)

      %br.vert-break
      %br

      - cp_colm_names = ExportColumn.type_data_array
      %span{ :class =>  "horiz" }
        = f.label(:type_data)
        = f.collection_select(:type_data, cp_colm_names, :last, :first, :class => 'required')

      -# Copied over from views/question_elements/_new.html.haml
      - fb_colm_names = [["Single line text", "single_line_text"], ["Multi-line text", "multi_line_text"], ["Drop-down select list", "drop_down"], ["Radio buttons", "radio_button"], ["Checkboxes", "check_box"], ["Date", "date"], ["Phone Number", "phone"]]
      %span{ :class =>  "horiz" }
        = f.label(:data_type)
        = f.collection_select(:data_type, fb_colm_names, :last, :first, :include_blank => true)

      %span{ :class => "horiz" }
        = f.label(:table_name)
        = f.text_field(:table_name)

      %span{ :class => "horiz" }
        = f.label(:column_name)
        = f.text_field(:column_name)

      - req_colm_names = [["Yes", "Y"], ["No", "N"]]
      %span{ :class =>  "horiz" }
        = f.label(:is_required)
        = f.collection_select(:is_required, req_colm_names, :last, :first)

      %br.vert-break
      %br

      %span{ :class => "horiz" }
        = f.label(:start_position)
        = f.text_field(:start_position, :size => 5, :class => 'required')

      %span{ :class => "horiz" }
        = f.label(:length_to_output)
        = f.text_field(:length_to_output, :size => 5, :class => 'required')

