-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t 'export_column_detail'

/- content_for :name do

- content_for :tools do
  = link_to t("back_to", :name => t('export_columns')), export_columns_path
  %p

- content_for :tools_two do
  = button_to(t("create_new_export_column"), new_export_column_path, { :method => :get })

#rot
  %table.list
    %tr
      %th.forminformation
        =t 'export_column'
      %th
      %tr
        %td.forminformation
          .formname
            = h(@export_column.name)
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to(t('edit'), edit_export_column_path(@export_column))
            |
            =t 'show'
            |
            = link_to(t('delete'), export_column_path(@export_column), :method => :delete)
  %table.list{:id => 'associated_diseases'}
    %tr
      %th.forminformation{:colspan => 2}
        =t 'associated_diseases'
    %tr
      %td
        = render :partial => 'disease', :collection => @export_column.diseases.sort_by(&:disease_name)
  %table.list
    %tr
      %th.forminformation
        =t 'edit_export_column'
    %tr
      %td
        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.name'
          = h(@export_column.name)

        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.export_column_name'
          = h(@export_column.export_column_name)

        %span{ :class =>  "horiz" }
          %label=t 'activerecord.attributes.export_column.export_disease_group_show'
          = @export_column.export_disease_group.nil? ? "All Diseases" : h(@export_column.export_disease_group.name)

        %br.vert-break
        %br

        %span{ :class =>  "horiz" }
          %label=t 'activerecord.attributes.export_column.type_data'
          = h(@export_column.type_data)

        %span{ :class =>  "horiz" }
          %label=t 'activerecord.attributes.export_column.data_type'
          = h(@export_column.data_type)

        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.table_name'
          = h(@export_column.table_name)

        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.column_name'
          = h(@export_column.column_name)

        %span{ :class =>  "horiz" }
          %label=t 'activerecord.attributes.export_column.is_required'
          = h(@export_column.is_required)

        %br.vert-break
        %br

        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.start_position'
          = h(@export_column.start_position)

        %span{ :class => "horiz" }
          %label=t 'activerecord.attributes.export_column.length_to_output'
          = h(@export_column.length_to_output)

  %table.list
    %tr
      %th.forminformation
        =t 'column_conversion_values'
      %th
        =t 'sort_order'
      %th

    - for conversion_value in @export_column.export_conversion_values
      %tr.roll
        %td
          - value_from = conversion_value.value_from.blank? ? "Text Value" : conversion_value.value_from
          = "Convert&nbsp;&nbsp; #{h(value_from)}&nbsp;&nbsp;to&nbsp;&nbsp;#{h(conversion_value.value_to)}"
        %td
          = h(conversion_value.sort_order)
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = link_to(t('edit'), edit_export_column_export_conversion_value_path(@export_column, conversion_value))
            |
            = link_to(t('delete'), export_column_export_conversion_value_path(@export_column, conversion_value), :method => :delete)

  = link_to t("add_conversion_value"), new_export_column_export_conversion_value_path(@export_column)
