%h1 Editing section

= error_messages_for :section

%fieldset
  %legend
    Section Information

    - form_for(@section) do |f|

      = render :partial => 'form', :locals => { :f => f }
  
      %p
        %span{:id => "submitbutton" }
          %span{:class => "first-child"}
            = f.submit "Update"


    = link_to 'Show', @section 
    |
    = link_to 'Back', sections_path 

    %br
      



<script type="text/javascript">
var oButton = new YAHOO.widget.Button("submitbutton", { type: "submit" } );
</script>