%div{:id => "edit-question-form"}

  = error_messages_for :question_element

  - remote_form_for(question_element) do |f|

    = render :partial => 'form', :locals => { :f => f }

    %p
      = f.submit "Update"
      &nbsp;&nbsp;
      = link_to_function "Close", "$('question-mods-#{@question_element.id}').down('form').reset(); Effect.BlindUp($('question-mods-#{@question_element.id}'))"
