
= f.hidden_field :parent_element_id

- f.fields_for("question_attributes", @question_element.question)  do |q|

  = q.hidden_field :core_data

  %p
    %label Question text
    %br
    = q.text_field :question_text

  = f.label(:is_active, "Is active?")
  = f.radio_button :is_active, "true"
  Yes
  = f.radio_button :is_active, "false"
  No

