
%div{:id => "new-question-form"}

  %h3
    Add Question

  = error_messages_for :question_element

  - remote_form_for(question_element) do |f|

    = render :partial => 'form', :locals => { :f => f }

    - f.fields_for("question_attributes", @question_element.question)  do |q|
      - if @question_element.question.core_data
        %label Core Data Element
        %br
        - values = {}
        - Event.exposed_attributes.each_pair { |k, v| values[v[:name]] = k }
        = q.select(:core_data_attr, values, {:include_blank => true}) 
      - else
        %label Data type
        %br
        = q.select(:data_type, [["Single line text", "single_line_text"], ["Multi-line text", "multi_line_text"], ["Drop-down select list", "drop_down"], ["Radio buttons", "radio_button"], ["Checkboxes", "check_box"], ["Date", "date"], ["Phone Number", "phone"]], {:include_blank => true}) 

    %p
      = f.submit "Create"
