-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.

-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t('admin_dashboard')

/- content_for :name do

%h2=t('system_configuration')

= link_to t('manage_users'), users_path, :id => "admin_users"
%br
= link_to t('manage_roles'), roles_path, :id => "admin_roles"
%br
= link_to t('manage_jurisdictions'), jurisdictions_path, :id => "admin_jurisdictions"
%br
= link_to t('manage_diseases'), diseases_path, :id => "admin_diseases"
%br
= link_to t('manage_queues'), event_queues_path, :id => "admin_queues"
%br
= link_to t('manage_help_text'), core_fields_path, :id => "admin_help_text"
%br
= link_to t('manage_system_codes'), codes_path, :id => "admin_codes"
%br
= link_to t('manage_treatments'), treatments_path, :id => "admin_treatments"
%br
= link_to t('configure_cdc_export'), export_columns_path, :id => "admin_cdc_config"
%br
= link_to t('configure_csv_export'), csv_fields_path, :id => "admin_csv_config"
= "<br />\n" + link_to(t('send_system_message'), system_messages_path, :id => "admin_system_message") rescue ""
%br
= link_to t('manage_avr_groups'), avr_groups_path, :id => "avr_groups"
%br
- system_configuration_links.each do |detail|
  = link_to detail[:description], detail[:link], detail[:options]
  %br

%h2=t('lab_management')
= link_to t('manage_common_test_types'), common_test_types_path, :id => "admin_common_test_types"
%br
= link_to t('manage_loinc_codes'), loinc_codes_path, :id => "admin_loinc_codes"
%br
= link_to t('manage_organisms'), organisms_path, :id => 'admin_organisms'

%h2=t('export_event_info')
= link_to t('cdc_export'), cdc_events_path, :id => "admin_cdc_export"
%br
= link_to t('ibis_export'), ibis_events_path, :id => "admin_ibis_export"

%h2=t('disease_forms')
= link_to t('manage_forms'), forms_path, :id => "admin_forms"
%br
= link_to t('manage_form_library'), library_elements_path, :id => "admin_form_library"

%h2=t('customize_user_interface')
= link_to t('change_logo'), new_logo_path, :id => "admin_logo"