<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<h1>Listing <%= @type %> entities</h1>
<table>
<% if @type == 'all' %>
  <%= render :partial => "#{@type.pluralize}/index.html.erb" %>
<% else %>
  <% for entity in @entities %>
    <tr>
      <%= render :partial => "#{@type.pluralize}/index.html.erb", :locals => { :entity => entity } %>
      <td><%= link_to 'Show', entity %></td>
      <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
    </tr>
  <% end %>
  </table>
  
  <br />

  <%# Uncomment the following loop when functionality is in place to add/edit animals etc. %>
  <%# for type in @valid_types %>
    <%#= link_to 'New ' + type.capitalize, new_entity_path(:type => type) %>
  <%# end %>

  <%= link_to 'New Person', new_entity_path(:type => 'person') %>
  <br />

  <%= link_to 'Export to CSV', url_for(:action => 'index', :type => 'person', :format => 'csv') %>
  <%= render :partial => 'entity_list', :locals => {:is_index => true} %>
<% end %>
