<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<h1>New <%= @type.capitalize %> </h1>

<%= error_messages_for :object => [@entity, @entity.person, @entity.entities_location] %>
<%= error_messages_for :object => [@entity.address] unless @entity.address.nil? %>
<%= error_messages_for :object => [@entity.telephone] unless @entity.telephone.nil? %>

<% form_for(@entity, :builder => ExtendedFormBuilder) do |f| %>
  <p>
    <%= render :partial => "#{@type.pluralize}/form", :locals => { :f => f, :entity_data => @entity, :event => @event, :rendering_pt => false } %>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= render :partial => 'entity_list', :locals => {:is_index => false} %>
