<!--
Copyright (C) 2007, 2008, The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the 
Free Software Foundation, either version 3 of the License, or 
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but 
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or 
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License 
for more details.

You should have received a copy of the GNU Affero General Public License along 
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
-->

<h1>Show <%= @type.capitalize %> </h1>

<%= render :partial => "#{@type.pluralize}/show", :locals => {:entity_data => @entity} %>
<%= link_to 'Edit', edit_entity_path(@entity) %>
<%= link_to 'Export to CSV', entity_path(@entity)+'.csv' %>
<%= render :partial => 'entity_list', :locals => {:is_index => false} %>

<p/>
<fieldset>
<legend>Location Information</legend>
<% unless @entity.locations.empty? %>
  <table>
    <%= render :partial => "locations/location", :collection => @entity.current_locations, :locals => {:entity_data => @entity} %>
    </table>
<% else %>
    <p>No location information available.</p>
<% end %>
</fieldset>
<%= link_to 'Add a Location', new_entity_location_path(@entity) %>
