-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%table.list
  %tr
    %th Sending Facility
    %th Patient
    %th HL7 Version
    %th &nbsp;
  %tr
    %td
      .value=h staged_message.sending_facility
    %td
      .value=h staged_message.patient_name
    %td
      .value=h staged_message.hl7_version
    %td
      .value
        = link_to 'Edit', edit_staged_message_path(staged_message)
        |
        = link_to 'Show', staged_message 

  =render staged_message.orders
  
%fieldset.vert
  %div{:id => "show_link_#{staged_message.id}"}      
    = link_to_function 'Show raw message', nil do |page|
      - page["original_message_#{staged_message.id}"].show
      - page["show_link_#{staged_message.id}"].hide
  %div{:id => "original_message_#{staged_message.id}", :style => 'display: none'}
    =link_to_function 'Hide raw message', nil do |page|
      - page["original_message_#{staged_message.id}"].hide
      - page["show_link_#{staged_message.id}"].show
    %pre= h(staged_message.hl7_message)
  
%br
%br
