-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:id => "edit-section-form"}

  = error_messages_for :section_element
    
  %h4 Edit existing section
  - remote_form_for(section_element, :html => { :method => 'put', :name => 'section-element-edit-form' }, :loading => "$('edit_section_submit_#{section_element.id}').disabled = 'disabled';" ) do |f|
    = render :partial => 'form', :locals => { :f => f }
    = f.submit("Update", :id => "edit_section_submit_#{section_element.id}")
    &nbsp;&nbsp;
    = link_to_function "Close", "$('section-mods-#{section_element.id}').down('form').reset(); Effect.BlindUp($('section-mods-#{section_element.id}'), { duration: 0.1 })"
