-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Event Forms

//- content_for :tools do

//- content_for :tools_two do

- content_for :name do
  %table.list
    %tr
      %th.forminformation
        = if @event.is_a? MorbidityEvent then "Patient Name" elsif @event.is_a? ContactEvent then "Contact Name" else "Place Name" end
      %th Jurisdictions
      %th
    %tr
      - if @event.is_a? PlaceEvent
        - name = @event.active_place.primary_entity.place_temp.name
      - else
        - patient = @event.active_patient.primary_entity.person
        - name = patient.last_name + (patient.first_name.blank? ? "" : fml(", ", patient.first_name, ""))
        
      %td.forminformation
        .patientname
          = name
        %small
          Date:
          = @event.event_onset_date
      %td
        %b
          = @event.primary_jurisdiction.short_name
        %div{:id => 'secondary_jurisdictions'}
          %small
            = @event.secondary_jurisdictions.map { |j| j.short_name }.join(", ")
            %br
      %td.tools
        -# Why, oh why, didn't we name the cmrs resource morbidity_events?  Coulda avoided this.
        - if @event.is_a? MorbidityEvent
          - show_path = cmr_path(@event)
          - edit_path = edit_cmr_path(@event)
        - elsif @event.is_a? ContactEvent
          - show_path = contact_event_path(@event)
          - edit_path = edit_contact_event_path(@event)
        - else
          - show_path = place_event_path(@event)
          - edit_path = edit_place_event_path(@event)

        =link_to "Show", show_path
        |
        =link_to "Edit", edit_path

#rot
  %h2="Forms in use"
  %table.list
    %tr
      %th.forminformation
        Form Information
      %th Diseases
      %th Jurisdiction
      %th Event Type
    - for form in @forms_in_use
      %tr.roll
        %td.forminformation
          .formname
            = form.name
            %br
          .description
            = h form.description
        %td
          %ul
            - form.diseases.each do |disease|
              %li.diseaselist
                = h disease.disease_name
        %td
          = h form.jurisdiction.nil? ? "All" : form.jurisdiction.current_place.name
        %td
          = h form.event_type.humanize

#rot
  %br
  %hr{:style => 'color: #090; background-color: #090; height: 2px'}
  %h2="Forms available for use"
  - if @forms_available.size > 0
    - form_for(:event_form) do |f|

      -# Note, forms_in_use may actually contain forms that _would_ be in use if the user had saved the event
      - for form in @forms_in_use
        = hidden_field_tag("forms_to_add[]", form.id)

      %table.list
        %tr
          %th.forminformation
            Form Information
          %th Diseases
          %th Jurisdiction
          %th Event Type
          %th Add to Event
          - for form in @forms_available
            %tr.roll
              %td.forminformation
                .formname
                  = form.name
                  %br
                .description
                  = h form.description
              %td
                %ul
                  - form.diseases.each do |disease|
                    %li.diseaselist
                      = h disease.disease_name
              %td
                = h form.jurisdiction.nil? ? "All" : form.jurisdiction.current_place.name
              %td
                = h form.event_type.humanize
              %td
                = check_box_tag("forms_to_add[]", form.id)

      %br
      = submit_tag("Add Forms")
  - else
    %em All forms in use
