-# Copyright (C) 2007, 2008, The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%div{:id => "fb-inplace-container", :class => "fb-container"} 
  = error_messages_for :question_element
  %div{:id => "new-question-form", :class => 'fb-inplace-form'}

    %h4 Add a new question
    - remote_form_for(@question_element) do |f|

      = render :partial => 'form', :locals => { :f => f }

      %p
        %label CDC export column
        =f.collection_select(:export_column_id, @export_columns, :id, :name, :include_blank => "Select a CDC export field if applicable")

      - f.fields_for("question_attributes", @question_element.question)  do |q|
        %label Data type
        = q.select(:data_type, [["Single line text", "single_line_text"], ["Multi-line text", "multi_line_text"], ["Drop-down select list", "drop_down"], ["Radio buttons", "radio_button"], ["Checkboxes", "check_box"], ["Date", "date"], ["Phone Number", "phone"]], {:include_blank => true}) 

      %p
        = f.submit "Create"
        &nbsp;&nbsp;
        = link_to_function "Close", "$('question-mods-#{@reference_element.id}').down('form').reset(); Effect.BlindUp($('question-mods-#{@reference_element.id}'), { duration: 0.1 })"

  = render :partial => "forms/library", :locals => {:direction => :from_library, :type => :question_element}

 