- content_for :title do
  Code Admin

- content_for :name do
  Edit code

- content_for :tools do
  = link_to 'Back', codes_path

- form_for(@external_code, code_path(@external_code), :builder => ExtendedFormBuilder) do |code_form|

  %span{ :class => "vert" }
    %label Code
    = code_form.text_field :the_code
  %span{ :class => "vert" }
    %label Description
    = code_form.text_field :code_description
  %span{ :class => "vert" }
    %label Type
    = code_form.text_field :code_name
  %span{ :class => "vert" }  
    %label Sort Order
    = code_form.text_field :sort_order

  %br

  = code_form.submit "Update"

%br
