- form_for(@external_code, code_path(@external_code), :builder => ExtendedFormBuilder) do |code_form|
  %label Code
  = code_form.text_field :the_code
  %label Description
  = code_form.text_field :code_description
  %label Type
  = code_form.text_field :code_name
  %label Sort Order
  = code_form.text_field :sort_order
  = code_form.submit "Update"
