-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  Event Search

- form_tag(search_path + "/cmrs", :method => :get) do

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]
  - unless @jurisdictions.nil?

    %div.search_group.clearfix
      = link_to_function "Show | Hide Name Criteria", "Effect.toggle('name_criteria', 'blind', { duration: 0 })"

      %div#name_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label Full-text name
          = text_field_tag :name, params[:name], :size => "30", :class => "search"
          %br
          %small
            Uses Soundex and allows for first-/last-name transposition
        %div{ :class => "horiz" }
          %label Starts-with first name
          = text_field_tag :sw_first_name, params[:sw_first_name], :class => "search"
          %br
          %small
            Full-text search ignored when using starts-with search
        %div{ :class => "horiz" }
          %label Starts-with last name
          = text_field_tag :sw_last_name, params[:sw_last_name], :class => "search"

    %div.search_group.clearfix
      = link_to_function "Show | Hide Demographic Criteria", "Effect.toggle('demographic_criteria', 'blind', { duration: 0 })"

      %div#demographic_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label City
          = model_auto_completer("city", params[:city], "", "", { :allow_free_text => true}, { :size => 25 }, { :skip_style => false } )
        %div{ :class => "horiz" }
          %label County
          %select{ :name => "county"}
            %option
            - for county in @counties
              %option{ :value => county.id, :selected => county.id == (params[:county].to_i) ? "selected" : nil}
                = "#{county.code_description}"
        %div{ :class => "horiz" }
          %label Gender
          %select{ :name => "gender" }
            %option
              - for gender in @genders
                %option{ :value => gender.id, :selected => gender.id == (params[:gender].to_i) ?  "selected" : nil}
                  = "#{gender.code_description}"
        %div{ :class => "horiz" }
          %label Date or year of birth (mm/dd/yyyy or yyyy)
          = text_field_tag :birth_date, params[:birth_date], :size => "10"

    %div.search_group.clearfix
      = link_to_function "Show | Hide Clinical Criteria", "Effect.toggle('clinical_criteria', 'blind', { duration: 0 })"

      %div#clinical_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label Diseases
          %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
            %div{:style => 'background:#fff; overflow:auto;height: 10em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
              - @diseases.each do |disease|
                = "<label>" + check_box_tag("diseases[]", disease.id, (params[:diseases] || []).include?(disease.id.to_s), :id => disease.disease_name.tr(" ", "_")) + disease.disease_name + "</label>"
        %div{ :class => "horiz" }
          %label{ :for => 'pregnant_id' } Pregnant
          = yesno_select(:pregnant_id, params['pregnant_id'].to_i)

    %div.search_group.clearfix
      = link_to_function "Show | Hide Event Criteria", "Effect.toggle('event_criteria', 'blind', { duration: 0 })"

      %div#event_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label Event Status
          %select{ :name => "workflow_state"}
            %option
            = options_for_select(@workflow_states.collect{|ws| [ws.description, ws.workflow_state.to_s]}, :selected => params[:workflow_state])
        %div{ :class => "horiz" }
          %label Event Type
          %select{ :name => "event_type"}
            %option
            - for event_type in @event_types
              %option{ :value => event_type[:value], :selected => event_type[:value] == (params[:event_type]) ? "selected" : nil}
                = "#{event_type[:name]}"
        %div{ :class => "horiz" }
          %label{:for => 'sent_to_cdc'} Sent to CDC
          = select_tag 'sent_to_cdc', options_for_select([[nil, nil],['Yes', 'true'], ['No', 'false']], :selected => params[:sent_to_cdc])
        %p{:style => "clear: both"}
        %div{ :class => "horiz" }
          %label Entered-on date range (mm/dd/yyyy)
          = text_field_tag :entered_on_start, params[:entered_on_start], :size => "10"
          &nbsp;-&nbsp;
          = text_field_tag :entered_on_end, params[:entered_on_end], :size => "10"
        %div{ :class => "horiz" }
          %label{ :for => 'record_number' } Record number
          = text_field_tag :record_number, params[:record_number], :size => "15"
        %p{:style => "clear: both"}
        %div{ :class => "horiz" }
          %label Jurisdiction of Investigation
          = select_tag 'jurisdiction_ids', options_from_collection_for_select(@jurisdictions, 'entity_id', 'short_name', array_of_strs_to_ints(params[:jurisdiction_ids]) ), {:multiple => true, :size => 7}
        %div{ :class => "horiz" }
          %label{:for => 'state_case_status_ids'} State Case Status
          = case_status_select(:state_case_status_ids, array_of_strs_to_ints(params[:state_case_status_ids]), false, true)
        %div{ :class => "horiz" }
          %label{:for => 'lhd_case_status_ids'} LHD Case Status
          = case_status_select(:lhd_case_status_ids, array_of_strs_to_ints(params[:lhd_case_status_ids]), false, true)
        %div{ :class => "horiz" }
          %label{:for => 'investigator_ids'} Investigated by
          = investigators_select :investigator_ids, array_of_strs_to_ints(params[:investigator_ids])

    %div.search_group.clearfix
      = link_to_function "Show | Hide Epi and Reporting Criteria", "Effect.toggle('epi_reporting_criteria', 'blind', { duration: 0 } )"

      %div#epi_reporting_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label{ :for => 'other_data_1' } Other data 1
          = text_field_tag :other_data_1, params[:other_data_1], :size => "15"
        %div{ :class => "horiz" }
          %label{ :for => 'other_data_2' } Other data 2
          = text_field_tag :other_data_2, params[:other_data_2], :size => "15"
        %div{ :class => "horiz" }
          %label First reported to public health date range (mm/dd/yyyy)
          = text_field_tag :first_reported_PH_date_start, params[:first_reported_PH_date_start], :size => "10"
          &nbsp;-&nbsp;
          = text_field_tag :first_reported_PH_date_end, params[:first_reported_PH_date_end], :size => "10"

    %input{ :type => "submit", :id => 'submit_query', :style => "position: absolute; right: 1em; width:130px;" }
    %br

= button_to("Start over", search_cmrs_path, :confirm => "Clear all search criteria and results?", :style => "position: relative; bottom: 1.5em; left: 1em;")
- if !@cmrs.blank?
  %div{ :class => 'tools' }
    = link_to_function('Export All to CSV', nil) do |page|
      - page[:export_options].visual_effect :appear

  - if @cmrs.size < 500
    = render :partial => "morbidity_events/export_options", :locals => { :path => cmrs_format_path(params.merge(:format => 'csv')) }
  - else
    = render :partial => "refine_search"

  %br
  %table{:style => "table-layout: fixed"}
    %tr{:style => "text-align: left"}
      %th
        Record Number
      %th
        Name
      %th
        Age / Birth Date
      %th
        Gender
      %th
        Disease
      %th
        City
      %th
        County
      %th
        Jurisdiction
      %th
        Onset Date
      - for cmr in @cmrs
        - if cmr.is_a?(MorbidityEvent)
          - path = cmr_path(cmr)
          - html_id = "show-cmr-link-#{cmr.id}"
          - type = "CMR"
        - else
          - path = contact_event_path(cmr)
          - html_id = "show-contact-link-#{cmr.id}"
          - type = "Contact"

        - if (cmr['deleted_at'].nil?)
          - result_class = 'search-active'
        - else
          - result_class = 'search-inactive'
        %tr{:class => result_class}
          %td
            = link_to("#{cmr.record_number}", path, :id => html_id)
            %small=type
          %td
            - first_mid = ", " + cmr['first_name'] + " " + cmr['middle_name'].to_s if cmr['first_name']
            - full_name = cmr['last_name'] + first_mid
            = "#{full_name}"
          %td
            - if  !cmr['birth_date'].blank?
              = "#{calculate_age cmr['birth_date'].to_date} / #{cmr['birth_date']}"
          %td
            = cmr['birth_gender']
          %td
            = cmr['disease_name']
          %td
            = cmr['city']
          %td
            = cmr['county']
          %td
            = cmr['jurisdiction']
          %td
            = cmr['onset_date'] || '&nbsp;'

- params.delete('action')
- params.delete('controller')
- if @cmrs.blank? && flash[:error].blank? && !params.values_blank?

  %span
    Your search returned no results.

  %br
  %br
