-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t 'event_search'

- form_tag(search_cmrs_path, :method => :get) do

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]
  - unless @jurisdictions.nil?

    %div.search_group.clearfix
      = link_to_function t('show_hide_name_criteria'), "Effect.toggle('name_criteria', 'blind', { duration: 0 })"

      %div#name_criteria{:style => "margin-top: 5px"}
        %div{ :class => "horiz" }
          %label=t 'full_text_name'
          = text_field_tag :name, params[:name], :size => "30", :class => "search"
          %br
          %small
            =t 'uses_soundex'
        %div{ :class => "horiz" }
          %label=t 'starts_with_first_name'
          = text_field_tag :sw_first_name, params[:sw_first_name], :class => "search"
          %br
          %small
            =t 'ignore_fts'
        %div{ :class => "horiz" }
          %label= t 'starts_with_last_name'
          = text_field_tag :sw_last_name, params[:sw_last_name], :class => "search"

    %div.search_group.clearfix
      = link_to_function t('show_hide_other_criteria'), "Effect.toggle('all_other_criteria', 'blind', { duration: 0 })"

      %div#all_other_criteria{:style => "margin-top: 5px; display: none"}

        %div.search_group.clearfix
          = link_to_function t("show_hide_demographic_criteria"), "Effect.toggle('demographic_criteria', 'blind', { duration: 0 })"

          %div#demographic_criteria{:style => "margin-top: 5px"}
            %div{ :class => "horiz" }
              %label=t 'city'
              = model_auto_completer("city", params[:city], "", "", { :allow_free_text => true}, { :size => 25 }, { :skip_style => false } )
            %div{ :class => "horiz" }
              %label=t 'county'
              %select{ :name => "county"}
                %option
                - for county in @counties
                  %option{ :value => county.id, :selected => county.id == (params[:county].to_i) ? "selected" : nil}
                    = "#{h(county.code_description)}"
            %div{ :class => "horiz" }
              =gender_select_search_tag(@genders)
            %div{ :class => "horiz" }
              %label=t('date_or_year_of_birth')
              = text_field_tag :birth_date, params[:birth_date], :size => "10"

        %div.search_group.clearfix
          = link_to_function t("show_hide_clinical_criteria"), "Effect.toggle('clinical_criteria', 'blind', { duration: 0 })"

          %div#clinical_criteria{:style => "margin-top: 5px"}
            %div{ :class => "horiz" }
              %label=t('diseases')
              %div{:style => 'width: 50em; border-left:1px solid #808080; border-top:1px solid #808080; border-bottom:1px solid #fff; border-right:1px solid #fff; overflow: auto;'}
                %div{:style => 'background:#fff; overflow:auto;height: 10em;border-left:1px solid #404040;border-top:1px solid #404040;border-bottom:1px solid #d4d0c8;border-right:1px solid #d4d0c8;'}
                  - @diseases.each do |disease|
                    = "<label>" + check_box_tag("diseases[]", disease.id, (params[:diseases] || []).include?(disease.id.to_s), :id => disease.disease_name.tr(" ", "_")) + h(disease.disease_name) + "</label>"
            %div{ :class => "horiz" }
              %label{ :for => 'pregnant_id' }=t 'pregnant'
              = yesno_select(:pregnant_id, params['pregnant_id'].to_i)

        %div.search_group.clearfix
          = link_to_function t("show_hide_event_criteria"), "Effect.toggle('event_criteria', 'blind', { duration: 0 })"

          %div#event_criteria{:style => "margin-top: 5px"}
            %div{ :class => "horiz" }
              %label= t 'event_status'
              %select{ :name => "workflow_state"}
                %option
                = options_for_select(@workflow_states.collect{|ws| [ws.description, ws.workflow_state.to_s]}, :selected => params[:workflow_state])
            %div{ :class => "horiz" }
              %label= t 'event_type'
              %select{ :name => "event_type"}
                %option
                - for event_type in @event_types
                  %option{ :value => event_type[:value], :selected => event_type[:value] == (params[:event_type]) ? "selected" : nil}
                    = h("#{event_type[:name]}")
            %div{ :class => "horiz" }
              %label{:for => 'sent_to_cdc'}= t 'sent_to_cdc'
              = select_tag 'sent_to_cdc', options_for_select([[nil, nil],[t(:yes_true), 'true'], [t(:no_false), 'false']], :selected => params[:sent_to_cdc])
            %p{:style => "clear: both"}
            %div{ :class => "horiz" }
              %label=t 'entered_on_date_range'
              = text_field_tag :entered_on_start, params[:entered_on_start], :size => "10"
              &nbsp;-&nbsp;
              = text_field_tag :entered_on_end, params[:entered_on_end], :size => "10"
            %div{ :class => "horiz" }
              %label{ :for => 'record_number' }=t 'record_number'
              = text_field_tag :record_number, params[:record_number], :size => "15"
            %p{:style => "clear: both"}
            %div{ :class => "horiz" }
              %label=t 'jurisdiction_of_investigation'
              = select_tag 'jurisdiction_ids', options_from_collection_for_select(@jurisdictions, 'entity_id', 'short_name', array_of_strs_to_ints(params[:jurisdiction_ids]) ), {:multiple => true, :size => 7}
            %div{ :class => "horiz" }
              %label{:for => 'state_case_status_ids'}=t 'state_case_status'
              = case_status_select(:state_case_status_ids, array_of_strs_to_ints(params[:state_case_status_ids]), false, true)
            %div{ :class => "horiz" }
              %label{:for => 'lhd_case_status_ids'}= t 'lhd_case_status'
              = case_status_select(:lhd_case_status_ids, array_of_strs_to_ints(params[:lhd_case_status_ids]), false, true)
            %div{ :class => "horiz" }
              %label{:for => 'investigator_ids'}= t 'investigated_by'
              = investigators_select :investigator_ids, array_of_strs_to_ints(params[:investigator_ids])

        %div.search_group.clearfix
          = link_to_function t("show_hide_epi_and_reporting_criteria"), "Effect.toggle('epi_reporting_criteria', 'blind', { duration: 0 } )"

          %div#epi_reporting_criteria{:style => "margin-top: 5px"}
            %div{ :class => "horiz" }
              %label{ :for => 'other_data_1' }=t 'other_data_1'
              = text_field_tag :other_data_1, params[:other_data_1], :size => "15"
            %div{ :class => "horiz" }
              %label{ :for => 'other_data_2' }=t 'other_data_2'
              = text_field_tag :other_data_2, params[:other_data_2], :size => "15"
            %div{ :class => "horiz" }
              %label= t 'first_reported_date_range'
              = text_field_tag :first_reported_PH_date_start, params[:first_reported_PH_date_start], :size => "10"
              &nbsp;-&nbsp;
              = text_field_tag :first_reported_PH_date_end, params[:first_reported_PH_date_end], :size => "10"

    %input{ :value => t('submit_query'), :type => "submit", :id => 'submit_query', :style => "position: absolute; right: 12em; width:130px;" }
= button_to(t("start_over"), search_cmrs_path, :confirm => "Clear all search criteria and results?", :style => "position: absolute; right: 1em; width:130px")
%br

- if !@cmrs.blank?
  %div{ :class => 'tools' }
    = link_to_function(t('export_all_to_csv'), nil) do |page|
      - page[:export_options].visual_effect :appear

  - if @cmrs.size < max_search_results
    = render :partial => "morbidity_events/export_options", :locals => { :path => cmrs_format_path(params.merge(:format => 'csv')) }
  - else
    = render :partial => "refine_search"

  %br
  %table{:style => "table-layout: fixed", :id => 'search_results' }
    %tr{:style => "text-align: left"}
      %th
        =t 'record_number'
      %th
        =t 'name'
      %th
        =t('age')+ "/" + t('birth_date')
      %th
        =t 'gender'
      %th
        =t 'disease'
      %th
        =t 'city'
      %th
        =t 'county'
      %th
        =t 'jurisdiction'
      %th
        =t 'onset_date'
      - for cmr in @cmrs
        %tr{:class => search_result_class(cmr)}
          %td
            =link_to_search_result_event("#{h(cmr.record_number)}", cmr)
            %small=t(cmr.type.underscore, :scope => :event_search_results)
          %td
            = "#{h(search_result_full_name(cmr))}"
          %td
            - if  !cmr['birth_date'].blank?
              = h("#{calculate_age cmr['birth_date'].to_date} / #{ld(cmr['birth_date'])}")
          %td
            = h(cmr['birth_gender'])
          %td
            = h(cmr['disease_name'])
          %td
            = h(cmr['city'])
          %td
            = h(cmr['county'])
          %td
            = h(i18n_jurisdiction_short_name(cmr['jurisdiction']))
          %td
            = ld(cmr['onset_date'])

  =render_extensions :search_extensions

- params.delete('action')
- params.delete('controller')
- if @cmrs.blank? && flash[:error].blank? && !params.values_blank?

  %span
    =t 'no_search_results'

  %br
  %br
