-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.


%tr.role_membership
  %td
    .formname
      -# Not using the 'new or existing' stuff because we always treat an update of role memberships as a new set.
      -fields_for "user[role_membership_attributes][]", role do |rm_form|
        -# You can only add and remove roles, not update them
        -if role.new_record?
          .vert
            = rm_form.label(:jurisdiction_id)
            = rm_form.collection_select(:jurisdiction_id, Place.jurisdictions, :entity_id, :name)
          .vert
            = rm_form.label(:role_id)
            = rm_form.collection_select(:role_id, Role.find(:all, :order => :role_name), :id, :role_name)
        -else
          = h(role.jurisdiction.place.name)
          .tools
            = h(role.role.role_name)

          -# Make existing records look new
          - role.id = nil

          = rm_form.hidden_field(:jurisdiction_id)
          = rm_form.hidden_field(:role_id)

  %td
    .tools
      = link_to_function t("remove"), "$(this).up('.role_membership').remove()", {:style => "position: absolute; right: 15px;", :id => "remove_role_membership_link"}
