-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t 'edit_user'

/- content_for :name do

- content_for :tools do
  = link_to t('back_to', :name => t('users')), users_path
  %p

- content_for :tools_two do
  = button_to(t("create_new_user"), {:action => "new"}, { :method => :get })
  
#rot
  %table.list
    %tr
      %th.forminformation
        = t 'user'
      %th
      %tr
        %td.forminformation
          .tools
            = h("#{@user.first_name} #{@user.last_name}")
          .formname
            =ct 'uid'
            = h(@user.uid)
          .tools
            =ct 'username'
            = h(@user.user_name)
            %br
            = ct 'given_name'
            = h(@user.given_name)
            %br
            = ct 'initials'
            = h(@user.initials)
        %td
          .tools{:style => "position: absolute; right: 15px;"}
            = t 'edit'
            |
            = link_to t('show'), @user

#rot
  = error_messages_for :object => [@user, @user.role_memberships].flatten

  - form_for(@user) do |f|

    = render :partial => 'form', :locals => { :f => f, :user_data => @user }

    %table.list
      %tr
        %th.forminformation
          =t 'edit_roles'
        %th
      %tr#add_role_memberships
        %td
          .tools
            = add_role_link t("add_role")
        %td
          &nbsp;
      = render :partial => 'role', :collection => @user.role_memberships

    = f.submit t("update")
