- content_for :title do
  = t :manage_email_addresses

- content_for :tools do
  = link_to t(:back_to, :name => t(:user_settings)), settings_path

#email_addresses
  - email_addresses = User.current_user.email_addresses
  - unless email_addresses.empty?
    %table.list
      %h3
        =t :current_email_addresses
      %tbody
        - email_addresses.each do |email_address|
          %tr
            %td
              &= email_address.email_address
            %td
              =link_to t(:edit), email_address_edit_path(email_address)
              =link_to t(:delete), email_address, :method => :delete, :confirm => t(:are_you_sure)
  - else
    %em
      = t :no_email_addresses
  %br/

#email_address_form
  - form_tag email_addresses_path do
    = label_tag :email_address, t(:add_an_email_address)
    = text_field_tag :email_address
    = submit_tag t :add
