-# Copyright (C) 2007, 2008, 2009 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either 
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  
-# See the GNU Affero General Public License for more details.
-# 
-# You should have received a copy of the GNU Affero General Public License along with TriSano. 
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
- content_for :title do
  Configure Shortcuts

-#Eventually it might be nice to move it out into application.js
-#I need to throw in ruby variables into this code. (just need it to work for push)
:javascript
    document.onkeydown = function(e) {
        e = e || window.event;
        var k = KeyCode;
        alert(#{ each_shortcut { }}); 
        KeyCode.key_down(e);
        if(e.preventDefault) {
            e.preventDefault();
        }
        return false;
    };
    document.onkeypress = function(e) {
        e.preventDefault();
        return false;
    };
    document.onkeyup = KeyCode.key_up;

- form_for(@user, :url => {:action => "shortcuts"}, :method => "put") do |f|
  = puts @user.shortcut_settings
  - f.fields_for :shortcut_settings do |shortcut|
    - each_shortcut do |label,val|  
      %span{ :class => "vert" }
        = shortcut.label label, val
        = shortcut.text_field label, :value => @user.shortcut_settings[label], :size => 25, :maxlength => 25, :readonly => true
  %p
  = f.submit "Update Shortcuts"
